@charset "UTF-8";
.bbp-topic-meta {
	font-size: 10pt !important;
}
.forum_header {
	font-style: italic;
}
.bbp-topic-freshness .bbp-topic-meta, .bbp-topic-freshness-author, .bbp-forum-freshness .bbp-topic-meta, .bbp-forum-freshness a {
	font-size: 12px !important;
}
i.mce-i-aligncenter, i.mce-i-alignjustify, i.mce-i-alignleft, i.mce-i-alignright, i.mce-i-backcolor, i.mce-i-blockquote, i.mce-i-bold, i.mce-i-bullist, i.mce-i-charmap, i.mce-i-dashicon, i.mce-i-dfw, i.mce-i-forecolor, i.mce-i-fullscreen, i.mce-i-help, i.mce-i-hr, i.mce-i-indent, i.mce-i-italic, i.mce-i-link, i.mce-i-ltr, i.mce-i-numlist, i.mce-i-outdent, i.mce-i-pastetext, i.mce-i-pasteword, i.mce-i-redo, i.mce-i-remove, i.mce-i-removeformat, i.mce-i-spellchecker, i.mce-i-strikethrough, i.mce-i-underline, i.mce-i-undo, i.mce-i-unlink, i.mce-i-wp-media-library, i.mce-i-wp_adv, i.mce-i-wp_code, i.mce-i-wp_fullscreen, i.mce-i-wp_help, i.mce-i-wp_more, i.mce-i-wp_page {
	font: 400 20px/1 dashicons !important;
}
li.bbp-forum-info, li.bbp-topic-title {
}
#mceu_13 .mce-i-image, #mceu_21 .mce-i-resize {
	font-family: tinymce, Arial !important;
}
.mce-i-image {
	font-family: tinymce, Arial !important;
}
#bbpress-forums ul.bbp-replies {
	border: none !important;
}
.button {
	border-radius: 1px !important;
	border: none !important;
}
#qt_bbp_reply_content_toolbar {
	background: none !important;
}
.quicktags-toolbar {
	background: none !important;
}
.bbp-pagination-count .bbp-pagination {
	line-height: 0 !important;
}
div.bbp-breadcrumb {
	float: none !important;
}
.bbp-reply-content {
	background: #fff;
}
.bbp-replies .bbp-header-none .bbp-reply-content {
	float: right;
}
.bbp-reply-content {
	padding-left: 30px !important;
	padding-right: 30px !important;	
	padding-top: 20px !important;	
}
.bbp-reply-post-date {
	float: right;
	width: 100%;
	text-align: right;
}

.bbp-reply-content p, .bbp-reply-content span {
	color: #000 !important;
	font-size: 14px !important;
}
.bbp-header ul li {
	color: #fff !important;
}
.type-forum .bbp-forum-freshness {
	text-align: center !important;
	width: 20% !important;
}
.bbp-reply-header {
	height: 0;
	padding: 0 !important;
}
.bbp-topic-freshness .bbp-topic-meta {
	line-height: 10px !important;
}
.bbp-topic-freshness-author .avatar {
	display: none;
}
.bbp-reply-author {
	background: #ededed !important;
	float: left;
	height: 100%;
	padding-left: 15px !important;
	text-align: left !important;
}
#bbpress-forums div.bbp-reply-author a.bbp-author-name{
	margin: 0 0px !important;
}

#bbpress-forums div.bbp-reply-content {
	margin-left: 172px !important;
	}
#bbpress-forums div.bbp-reply-author {
	width: 172px !important;
}

.bbp-reply-author div{
	line-height: 16px !important;
}

.bbp-topic-freshness a:first-child {
	font-size: 11pt !important;
}
.bbp-topic-started-by, .bbp-topic-started-in {
	position: relative;
	top: -10px;
}
.bbp-topic-freshness a:first-child, .bbp-forum-freshness a:first-child {
	color: #0a0a0a !important;
}
.topic .bbp-author-avatar, .bbp-topic-freshness-author .bbp-author-avatar {
	display: none;
}
.topic {
	padding-top: 20px !important;
}
.bbp-template-notice {
	display: none !important;
}
.bbp-forum-topic-count, .bbp-forum-reply-count, .bbp-topic-voice-count, .bbp-topic-reply-count {
	border-right: solid 1px #0171a1 !important;
}
.bbp-topic-title {
	width: 50% !important;
}
.bbp-topic-meta .bbp-topic-started-in a {
	color: #000;
	text-decoration: none;
}
.bbp-topic-voice-count, .bbp-topic-reply-count, .bbp-forum-topic-count, .bbp-forum-reply-count {
	color: #000 !important;
	font-size: 12pt;
	font-weight: bold;
}
.bbp-header .bbp-topic-voice-count, .bbp-header .bbp-topic-reply-count, .bbp-header .bbp-forum-topic-count, .bbp-header .bbp-forum-reply-count, .bbp-header ul:first-child, li:first-child {
	font-weight: normal;
	font-size: inherit;
}

.bbp-ask_button {
	margin-bottom: 20px !important;
	background: #7db526;
	background: -moz-linear-gradient(top, #7db526 0%, #5b7f00 100%);
	background: -webkit-linear-gradient(top, #7db526 0%, #5b7f00 100%);
	background: linear-gradient(to bottom, #7db526 0%, #5b7f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db526', endColorstr='#5b7f00', GradientType=0);
	display: block;
	height: 48px;
	margin: 0 auto;
	text-align: center;
	color: #fff !important;
	text-decoration: none !important;
	padding-top: 13px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: -8px 12px 25px 0 rgba(204, 204, 204, 1);
	-moz-box-shadow: -8px 12px 25px 0 rgba(204, 204, 204, 1);
	box-shadow: -8px 12px 25px 0 rgba(204, 204, 204, 1);
	width: 95%;
	text-transform: uppercase;
	font-size: 15pt !important;
	font-weight: bold;
}
.bbp-header {
	background: #7db526 !important;
	color: #fff !important;
	height: 40px;
	padding-top: 5px;
	display: none;
}
.bbp-forum-content {
	width: 15px;
	float: left;
}
.bbp-topics .bbp-header {
	background: #0171a1 !important;
	color: #fff !important;
	height: 40px;
	padding-top: 8px;
}
.bbp-header .bbp-forum-topic-count {
	border: none !important;
}
.bbp-header .bbp-forum-reply-count {
	border: none !important;
}
.bbp-body>ul {
	background: #f1f7fa !important;
	margin-bottom: 1px !important;
	padding-left: 0px !important;
}
.bbp-topics .bbp-body ul:nth-child(even) {
	background: #ededed !important;
}
.bbp-forum-title, .bbp-topic-title .bbp-topic-permalink {
	color: #000 !important;
	font-weight: bold !important;
	text-transform: uppercase;
	font-size: 11pt !important;
}
.bbp-author-avatar {
	margin-left: 0px;
}
.bbp-forums_stats {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.bbp-forums_stats .blue_line {
	background: #0171a1;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	padding-left: 25px;
}
.bbp-stat_conf_header {
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
	line-height: 2.0;
	text-transform: uppercase;
}
.bbp-forums_stats .users_info {
	min-height: 100px;
	background: #dedede;
	margin-top: 5px;
}
.bbp-forums_stats p {
	padding-top: 15px;
	padding-bottom: 15px;
}
.bbp-forums_stats p b {
	font-weight: bold;
}
.bbp-forums_stats .users_info div {
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
	padding-left: 10px;
}
.bbp-white_line {
	margin-top: 5px;
	padding-bottom: 5px;
	background: #fff;
	color: #0171a1;
	font-weight: bold;
	font-size: 14px;
	padding-left: 25px;
	border-bottom: solid 1px #0171a1;
}
.bbp-white_line div {
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
	line-height: 2.0;
	text-transform: uppercase;
}
.bbp-message_stat div {
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
	padding-left: 10px;
}
.bbp-message_stat a {
	text-decoration: underline;
	color: #0171a1;
}
.type-reply, .topic-author {
	background-color: #ededed !important;
}
.bbp-footer {
	display: none;
}
.type-topic .bbp-reply-author .bbp-author-avatar {
	display: block;
}
@media screen and (max-width:750px) {
	.forum-titles .bbp-topic-voice-count, .forum-titles .bbp-topic-reply-count, .forum-titles .bbp-topic-freshness {
		display: none !important;
	}
	.bbp-topic-freshness:before {
	}
	.bbp-forum-topic-count, .bbp-forum-reply-count, .bbp-forum-freshness {
		display: none !important;
	}
	.bbp-body .bbp-topic-title + .bbp-topic-voice-count {
		padding-left: 20px !important;
		margin-right: 5px !important;
		width: 20%;
	}
	.bbp-body .bbp-topic-voice-count + .bbp-topic-reply-count {
		padding-left: 20px !important;
		margin-right: 5px !important;
		width: 20%;
	}
	.bbp-topic-freshness {
		width: 55% !important;
	}
	.bbp-forum-content {
		display: none;
	}
	.bbp-topic-title {
		width: 100% !important;
	}
	li.bbp-forum-info, li.bbp-topic-title {
		width: 100% !important;
	}
}
@media screen and (max-width:600px) {
	#same_id{
		display: none;
	}
	.bbp-ask_button {
		width: 100%;
	}
	.bbp-header:before {
		top: 365px;
	}
	.bbp-header:after {
		top: 365px;
	}
	.bbp-topics .bbp-header:before {
		top: 182px;
	}
	.bbp-topics .bbp-header:after {
		top: 182px;
	}
}
@media screen and (max-width:480px) {
	.forum_award{
		display: none !important;
	}

	.bbp-ask_button {
		width: 100%;
	}
	.bbp-header:before {
		top: 403px;
	}
	.bbp-header:after {
		top: 403px;
	}
	.bbp-reply-post-date {
		text-align: center;
	}

	#bbpress-forums div.bbp-reply-content {
	margin-left: 10px !important;
	}
#bbpress-forums div.bbp-reply-author {
	width: 100% !important;
	padding-top: 10px !important;
}
#bbpress-forums div.bbp-reply-author img.avatar{
	display: none;
}

	/*.bbp-author-name {
        position: relative;
        top: 20px;
    }*/
	/*.bbp-author-role {
		position: relative;
		top: 20px;
	}*/
	/*.bbp-reply-ip {
		position: relative;
		top: 20px;
	}*/
}

.type-forum li.bbp-forum-freshness{
        width: 25% !important;
        
    }
@media screen and (max-width:1000px) {

	/*.bbp-topic-freshness-author .bbp-author-name {
        position: relative !important;
        top: -25px !important;
    }*/
    .type-forum li.bbp-forum-freshness{
        width: 15% !important;
        
    }
}

@media screen and (max-width:950px) {
    
    .type-forum li.bbp-forum-freshness{
        display: none !important;
        
    }
	/*.bbp-topic-freshness-author .bbp-author-name {
        position: relative !important;
        top: -30px !important;
    }*/
}
@media screen and (max-width:750px) {

	/*.bbp-topic-freshness-author .bbp-author-name {
        position: relative !important;
        top: -10px !important;
    }*/
}
@media screen and (max-width:366px) {

	/*  .bbp-topic-freshness-author .bbp-author-name {
        position: relative !important;
        top: -30px !important;
    }*/
}
@media screen and (max-width:480px) {

	/*.bbp-topic-started-by .bbp-author-name {
        top: 0;
    }*/
}
@media screen and (max-width:320px) {
	.bbp-ask_button {
		width: 100%;
	}
	.bbp-header:before {
		top: 425px;
	}
	.bbp-header:after {
		top: 425px
	}

	/*.bbp-topic-freshness-author .bbp-author-name {
        position: relative !important;
        top: -30px !important;
    }*/
}
#bbp-forum_clear_both {
	clear: both;
}
.bbp-reply-author .bbp-author-name {
	text-decoration: none !important;
	color: #000 !important;
	font-weight: bold;
}

.bbp-topic-freshness-author .bbp-author-name {
	-ms-word-wrap: break-word !important;
	word-wrap: break-word !important;
}
.bbp-admin-links a {
	font-size: 10pt !important;
	display: inline-block !important;
}
a.bbp-reply-to-link, a.bbp-topic-reply-link {

	/*display: block !important;*/



    color: #fff !important;
	background: #0171a1 !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	text-decoration: none !important;
	font-size: 10pt !important;
	font-weight: bold !important;
	margin-top: 5px !important;
	float: left !important;
  	position: relative !important;
  	z-index: 10;
}

a.bbp-reply-to-link:after, a.bbp-topic-reply-link:after {
  content: '';
  display: block;
  width: 20px;
  position: absolute;
  right: -20px;
  height: 100%;
  top: 0;
  background: transparent url('data:image/svg+xml; charset=utf-8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 20" preserveAspectRatio="none"><path d="m0,0 l10,10 l-10,10 l-0,-20z" stroke-width="1.5" fill="#0171a1"/></svg>') 0 0 no-repeat;
}
a.bbp-reply-to-link:hover:after, a.bbp-topic-reply-link:hover:after {
	 background: transparent url('data:image/svg+xml; charset=utf-8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 20" preserveAspectRatio="none"><path d="m0,0 l10,10 l-10,10 l-0,-20z" stroke-width="1.5" fill="#686868"/></svg>') 0 0 no-repeat;
}

.bbp-reply-edit-link {
	margin-bottom: 30px !important;
}
.d4p-bbt-quote-link, .bbp-topic-spam-link, .bbp-reply-spam-link {
	background: #dedede !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	color: #818181 !important;
	text-decoration: none !important;
	margin-top: 5px !important;
	font-weight: bold !important;
}
a.bbp-reply-to-link:hover, a.bbp-topic-reply-link:hover {
	background: #686868 !important;
}
a.d4p-bbt-quote-link, a.bbp-topic-spam-link, a.bbp-reply-spam-link {
	padding-top: 7px !important;
	padding-bottom: 7px !important;
}
a.d4p-bbt-quote-link:hover, a.bbp-reply-spam-link:hover, a.bbp-topic-spam-link:hover {
	background: #ededed !important;
}
.d4pbbc-quote {
	margin-top: 20px !important;
}
.d4pbbc-quote {
	font-size: 10pt !important;
}
.d4p-bbt-quote-title a {
	font-size: 10pt !important;
}
#bbp_anonymous_website {
	display: none !important;
}
#bbp-search-form {
	display: none !important;
}
.bbp-search-form {
	display: none !important;
}
.status-trash .bbp-reply-content {
	background: #eee0e0 !important;
}
.bbp-pagination + .bbp-topic-form {
	display: none !important;
}
.bbp-topic-form #new-post> fieldset {
	height: 540px !important;
}
.bbp-topic-form #new-post .bbp-template-notice + div > .bbp-form, .bbp-topic-form #new-post .bbp-template-notice + div > p {
	float: left !important;
	width: 49% !important;
	background: #ebebeb !important;
	position: relative;
	top: 50px;
}
.bbp-topic-form #new-post .bbp-template-notice + div > .bbp-form + p {
	display: block !important;
	clear: both !important;
	width: 47% !important;
	position: absolute;
}
.bbp-topic-form #new-post .bbp-the-content-wrapper {

	/*float: right !important;



    position: relative !important;



    top: -240px !important;*/



    width: 50% !important;
	float: right !important;
}
.bbp-topic-form #new-post .bbp-the-content-wrapper + p {
	width: 50% !important;
	background: #ebebeb !important;
}
.bbp-topic-form #new-post .bbp-submit-wrapper {

	/*position: relative !important;



    top: -240px !important;*/
}
.bbp-topic-form #new-post .bbp-submit-wrapper > button {
	background: #e25655 !important;
	color: #fff;
	font-weight: bold;
	padding-top: 10px !important;
	margin-top: 20px !important;
}
.bbp-breadcrumb {
	font: 16px Verdana !important;
	color: #000 !important;
}

/* =========== authorized users ================  */
.bbp-topic-form #new-post .bbp-template-notice + div > p:first-child {
	margin-top: 34px !important;
}
.bbp-topic-form #new-post .bbp-template-notice + div > p {
	margin: 0px 0px 2px !important;
	padding-right: 5px !important;
	padding-bottom: 5px !important;
	vertical-align: middle !important;
	padding-top: 15px !important;
	padding-left: 10px !important;
}
.bbp-topic-form #new-post .bbp-template-notice + div > p:nth-of-type(2) {
	display: none !important;
}
.bbp-topic-form #new-post .bbp-template-notice + div > p:nth-last-child(1) {
	background: #83bc37 !important;
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
}
.bbp-topic-form #new-post .bbp-template-notice + div > p:nth-last-child(1) > label {
	background: #0171a1 !important;
	color: #fff !important;
	padding-left: 10px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.bbp-topic-form #new-post .bbp-template-notice + div > p:nth-last-child(1) > input {
	margin: 5px 0px 0px 0px !important;
	padding-top: 10px;
}
.bbp-topic-form #new-post .bbp-template-notice + div > p br {
	display: none;
}
.bbp-topic-form #new-post .bbp-template-notice + div > p > label {
	width: 50%;
	float: left;
	font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11pt;
	padding-top: 7px;
	padding-left: 20px;
}
.bbp-topic-form #new-post .bbp-template-notice + div > p > input {
	width: 45%;
	float: left;
	height: 30px;
}
.bbp-topic-form #new-post .bbp-template-notice + div > p > select {
	width: 50%;
	float: right;
	height: 30px;
	max-width: 50% !important;
}
.simple_page {
	font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bbp-topic-form #new-post .bbp_anonymous_website, .bbp-topic-form #new-post legend {
	display: none !important;
}

/* =========== unauthorized users ================  */
.bbp-topic-form #new-post .bbp-template-notice + div > .bbp-form > p {
	margin: 0px 0px 2px !important;
	padding-right: 5px !important;
	padding-bottom: 5px !important;
	vertical-align: middle !important;
	padding-top: 15px !important;
	padding-left: 10px !important;
}
.bbp-topic-form #new-post .bbp-template-notice + div > .bbp-form > p br {
	display: none !important;
}
.bbp-topic-form #new-post .bbp-template-notice + div > .bbp-form > p > label {
	width: 50% !important;
	float: left !important;
	font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 11pt !important;
	padding-top: 7px !important;
	margin-bottom: 13px;
}
.bbp-topic-form #new-post .bbp-template-notice + div > .bbp-form > p > input {
	width: 50% !important;
	float: right !important;
	height: 30px !important;
	margin-bottom: 20px;
}
.bbp-topic-form #new-post .bbp-template-notice + div > .bbp-form > p:nth-last-child(2) > label {
	height: 130px;
}
.bbp-topic-form #new-post .bbp-template-notice + div > .bbp-form > p:nth-last-child(1) > label {
	display: none !important;
}
.bbp-topic-form #new-post .bbp-template-notice + div > .bbp-form > p:nth-last-child(1):after {
	content: 'ÐžÐ±ÑÐ·Ð°Ñ‚ÐµÐ»ÑŒÐ½Ð¾ Ð¿Ñ€Ð¸Ð»Ð¾Ð¶Ð¸Ñ‚Ðµ Ð¤ÐžÐ¢ÐžÐ“Ð ÐÐ¤Ð˜Ð® Ð¿Ñ€Ð¾Ð±Ð»ÐµÐ¼Ñ‹! Ð¡ Ð½ÐµÐ¹ ÑÐºÑÐ¿ÐµÑ€Ñ‚Ñƒ Ð±ÑƒÐ´ÐµÑ‚ Ð³Ð¾Ñ€Ð°Ð·Ð´Ð¾ Ð¿Ñ€Ð¾Ñ‰Ðµ Ð¿Ð¾Ð½ÑÑ‚ÑŒ ÑÑƒÑ‚ÑŒ Ð²Ð¾Ð¿Ñ€Ð¾ÑÐ°.';
	float: left;
	font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif !important;    /*font-size: 17px;*/
	margin-bottom: 12px;
}
.wp-editor-tabs {
	display: none !important;
}
#wp-bbp_topic_content-wrap {
	background: #ebebeb !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	padding-bottom: 10px !important;
}
#bbpress-forums #mceu_19-body {
	display: none !important;
}
#bbpress-forums #mceu_14-body {
	border: 1px solid #000 !important;
}
#bbpress-forums #mceu_15 {
	width: 100% !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	margin-left: -5px !important;
	background: #ebebeb !important;
	color: #000 !important;
}
#bbpress-forums #mceu_16 {
	display: block !important;
}
.mce-ico {
	color: #000 !important;
}
#bbpress-forums #mceu_9, #bbpress-forums #mceu_10, #bbpress-forums #mceu_2, #bbpress-forums #mceu_12, #bbpress-forums #mceu_13, #bbpress-forums #mceu_3, #bbpress-forums #mceu_11, #bbpress-forums #mceu_6, #bbpress-forums #mceu_7, #bbpress-forums #mceu_8, #bbpress-forums #mceu_9 {
	display: none !important;
}
#bbpress-forums #mceu_13 {
	width: 155px !important;
}
#bbpress-forums .mce-i-image:before {
	background: url(../img/comment_foto.png) no-repeat;
	background-position: 0px 2px !important;
	color: transparent !important;
	padding-left: 10px !important;
}
.mce-i-image::after {
	content: 'Ð”Ð¾Ð±Ð°Ð²Ð¸Ñ‚ÑŒ Ñ„Ð¾Ñ‚Ð¾' !important;
	color: rgb(129, 129, 129) !important;
	font: 14px Verdana !important;
}
.bbp-topic-form #new-post .bbp-template-notice + div > p:first-child {
	margin-top: -50px !important;
}
#bbpress-forums #bbp_topic_tags {
	display: none !important;
}
.bbp-attachments ol li {
	float: left;
	padding-left: 5px !important;
}
.bbp-reply-form legend {
	display: none !important;
}
#bbpress-forums .bbp-reply-form fieldset.bbp-form {
	border: none !important;
}
.bbp-reply-form #bbpress-forums #mceu_15 {
	background: #fff !important;
}
.bbp-the-content-wrapper + p + p {
	display: block !important;
}
.bbp_4forum_ava {
	float: left !important;
	width: 10% !important;
}
.bbp-reply-form #new-post {
	float: left !important;
	width: 90% !important;
}
.bbp-pagination-count {
	display: none;
}
.bbp-reply-form #new-post div .bbp-form +p + p+p >label {
	display: none !important;
}
#bbpress-forums .bbp-the-content-wrapper #mceu_14>#mceu_14-body>#mceu_15 {
	background: #fff !important;
}
.bbp-forums {
	border: none !important;
}
.bbp-forums-list {
	float: left;
	/*width: 50%;*/
	background: #f8fbfc !important;
	margin-left: 0px !important;
}
#bbpress-forums li.bbp-body ul.forum {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 20px !important;
}
#bbpress-forums .bbp-forums-list {
	padding-left: 0px;
	border-left: none !important;
}
li.bbp-forum-topic-count {
	width: 12% !important;
	font-weight: normal;
	font-size: 14px;
	color: #0171a1 !important;
}
li.bbp-forum-reply-count {
	width: 15% !important;
	font-weight: normal;
	font-size: 14px;
	color: #0171a1 !important;
}
.bbp-body ul.bbp-forum-status-open {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	margin-bottom: 5px !important;
	padding-bottom: 20px !important;
}
.bbp_bold-span {
	font-weight: bold !important;
	color: #000 !important;
	line-height: 15px !important;
}
.bbp-forum-freshness>p.bbp-topic-meta {
	margin: 0px !important;
	padding-top: 0px !important;
	margin-bottom: 5px !important;
}
.bbp-forum-freshness {
	line-height: 0px !important;
}

/*.bbp-body p{
	line-height: 0px !important;
}*/
ul li.bbp-forum-reply-count, ul li.bbp-forum-topic-count {
	line-height: 24px !important;
}

.bbp-forums-list {
    width: 75% !important;
	-moz-column-count: 2;
	-moz-column-gap: 40px;
	-webkit-column-count: 2;
	-webkit-column-gap: 40px;
	column-count: 2;
	column-gap: 40px;
	position: relative;
	top: 20px;
	font-weight: bold !important;
	padding-bottom: 40px !important;
}
@media screen and (max-width:800px) {
    .bbp-forums-list{
    	-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
    }
}

.bbp-forums-list>.bbp-forum {
	display: block !important;
	padding-left: 25px !important;
	background: url(../img/li_point.png) left top 5px no-repeat !important;
}

.bbp-forums-list>.bbp-forum>a {
	color: #000;
	font-weight: bold;
	font-size: 14px  !important;
}

.bbp-topics>.bbp-header{
	display: block;
	padding-left: 10px !important;
}

.bbp-topics ul.topic {
	padding-left: 10px !important;
}

.bbp-forum-topic-count, .bbp-forum-reply-count, .bbp-forum-freshness {
	text-align: left !important;
	padding-left: 40px !important;
	min-height: 35px !important;
	min-width: 30px !important;
}

.bbp-forum-topic-count a, .bbp-forum-reply-count a, .bbp-forum-freshness a{
    color: #0171a1 !important;
}
.bbp-forum-topic-count{
    padding-left: 0px !important;
}

.bbp-forum-info {
	width: 40% !important;
	
}

.sub_forums{
    width: 100%;
    background: #f8fbfc !important;
    float: left;
    position: relative;
    top: 20px;
	border-top: 1px solid #fff !important;
}

.type-forum li.bbp-forum-freshness {
	text-align: left !important;
}

.type-forum li.bbp-forum-reply-count{
    width: 230px !important;
}

.bbp-forum-freshness>a, .bbp-forum-title, .bbp-forum>a{
    text-decoration: none !important;
}

.bbp-forum-freshness>a:hover, .bbp-forum-title:hover, .bbp-forum>a:hover{
    text-decoration: underline !important;
}

.bbp-forum-freshness a {
    font-size: 14px !important;
}

.bbp-forum-freshness{
    font-size: 14px !important;
}
.bbp-forum-freshness>a{
    font-size: 12px !important;
    padding-left: 3px;
}
.bbp-ask_button:nth-of-type(2){
    display: none !important;
}
.d4pbbc-quote>p:nth-of-type(1){
    display: none !important;
}
.vk_forum, .facebook_forum, .ok_forum{
    width: 34px !important;
    height: 34px !important;
    background: url(../img/ulogin_ico_forum.png) no-repeat !important;
}
.ok_forum{
    background-position: -45px !important;
}

.facebook_forum{
    background-position: -90px !important;
}
.bbp-breadcrumb-current{
    color: #a3a3a3  !important;
    font-size: 12px  !important;
}
.bbp-breadcrumb-sep{
    padding-left: 10px  !important;
    padding-right: 10px !important;
}
.bbp-breadcrumb>p>span{
    font-size: 12px  !important;
}
.bbp_attach_imgs{
    width: 400px !important;
    height: 400px !important;
}
li.bbp-body div.hentry {
	padding: 1px !important;
	padding-bottom: 2px !important;
	margin-bottom: 10px !important;	
}
.bbp-reply-header{
	border: none !important;
}
.honor_forum{
	font-size: 11px !important;
}
.all_awards_forum{
	font-size: 11px !important;
	width: 100%;
}
.all_awards_forum input{
	font-size: 13px !important;
	width: 100%;
	padding-top: 15px !important;
}
.forum_user_info{
	font-size: 11px !important;
	padding-top: 5px !important;
	width: 100%;
}
.forum_user_info span{
color: #777;
}
.forum_award{
	padding-top: 5px !important;
	width: 100%;
}
.forum_award img{
	width: 30px;
	float: left;
}

.forum_award>span{
	font-size: 11px !important;
	float: left;
	padding-left: 5px;
	padding-top: 5px !important;
}
.bbp-reply-author .bbp-author-name{
	padding-top: 15px;
	width: 100%;
	text-transform: uppercase;
	font-size: 14px;
}
#bbpress-forums div.bbp-reply-author img.avatar {
	max-width: 142px !important	;
}
span.bbp-admin-links{
	float:left !important;
}
.bbp-reply-author .bbp-author-name, .bbp-reply-author .bbp-author-role{
	font-weight: bold !important;
}
.forum_award>span{
	max-width: 60px;
	margin-left: 7px !important;
}

.forum_user_info + br + .forum_award{
	padding-top: 22px !important;
}

.bbp-reply-author>.bbp-author-avatar>img{
	margin-top: 20px !important;
}
.bbp-reply-content>.bbp-reply-post-date{
	margin-bottom: 20px !important;
}
.bbp-attachments, .bbp-attachments-errors {
	border-top: none !important;
}
.bbp-attachments>h6{
	display: none;
}

.favorite-toggle>span>a{
	
}

#subscription-toggle{
	color: #fff !important;
}

a.subscription-toggle{
    color: #fff !important;
	background: #83bc37 !important;
	padding-left: 30px !important;
	padding-right: 20px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	text-decoration: none !important;
	font-size: 10pt !important;
	font-weight: bold !important;
	margin-top: 5px !important;
	float: left !important;
  	position: relative !important;
}
.is-subscribed>a.subscription-toggle:hover,a.subscription-toggle:hover{
	background: #686868 !important;
	}

a.subscription-toggle:after {
  content: '';
  display: block;
  width: 20px;
  position: absolute;
  right: -20px;
  height: 100%;
  top: 0;
  background: transparent url('data:image/svg+xml; charset=utf-8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 20" preserveAspectRatio="none"><path d="m0,0 l10,10 l-10,10 l-0,-20z" stroke-width="1.5" fill="#83bc37"/></svg>') 0 0 no-repeat;
}


.is-subscribed>a.subscription-toggle{
	background: #CCC !important;
}

.is-subscribed>a.subscription-toggle:after{
  background: transparent url('data:image/svg+xml; charset=utf-8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 20" preserveAspectRatio="none"><path d="m0,0 l10,10 l-10,10 l-0,-20z" stroke-width="1.5" fill="#ccc"/></svg>') 0 0 no-repeat;
}

.is-subscribed>a.subscription-toggle:hover:after,a.subscription-toggle:hover:after{
	 background: transparent url('data:image/svg+xml; charset=utf-8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 20" preserveAspectRatio="none"><path d="m0,0 l10,10 l-10,10 l-0,-20z" stroke-width="1.5" fill="#686868"/></svg>') 0 0 no-repeat;
}


h1 + #subscription-toggle{
	display: none !important;
}

.same_topics{
	background: #fff !important;
	min-height: 30px !important;
}

.bbp-reply-author .bbp-author-role {
	color: #0171a1 !important;
	text-decoration: none;
	font-style: normal !important;
	font-weight: bold !important;
}
.bbp-author-role>a {
	color: #0171a1 !important;
	text-decoration: none;
	font-style: normal !important;
	font-weight: bold !important;
}

div.bbp-reply-content ul li {
	list-style: none !important;
	font-size: 14px !important;
	padding-top: 10px;
}


.bbp-topic-revision-log-item img, .bbp-reply-revision-log-item img{
	display: none !important;
}

.d4pbbc-quote{
	margin-top: 50px !important;
	padding: 0px 0px 5px 0px !important;
	background: #f2f2f2 !important;
}
.d4p-bbt-quote-title{
	background: #b8b8b8 !important;
	height: 30px !important;
	padding-left: 20px !important;	
}
.d4p-bbt-quote-title>a{
    color: #000 !important;
    font-weight: bold !important;
    text-decoration: none !important;	
    float: left;
}
.d4p-bbt-quote-title>a:after{
		content: ' сказал(а):';
	}

@media screen and (max-width:420px) {

	.d4p-bbt-quote-title>a:after{
		content: '' !important	;
	}

}

.d4pbbc-quote>p.qheader{
	font-style: italic;
}
.bbp-topic-revision-log{
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}
div.bbp-reply-content  ul li.bbp-topic-revision-log-item,
div.bbp-reply-content  ul li.bbp-reply-revision-log-item
{
	padding-top: 0px !important;
	font-size: 12px !important;
}
.stat_footer{
	background: #fff;

}
.footer_block{
	max-width: 1000px;
	margin: 0 auto;
}

@media screen and (max-width:320px) {
	.d4p-bbt-quote-title>a{
		position: relative;
		top: -13px;
	}
}

#blue_stat_line{
	background: #0171a1;
	min-height: 30px;
	color: #fff;
	font: 16px/normal Verdana;
	text-transform: uppercase;
	padding-top: 5px;
	font-weight: bold;
}

#grey_stat_line{
	margin-top: 5px;
	background: #f5f5f5;
	min-height: 30px;
	color: #000;
	font: 14px/normal Verdana;
	padding-top: 5px;
}

#white_stat_line{
	background: #fff;
	min-height: 30px;
	color: #0171a1;
	font: 16px/normal Verdana;
	text-transform: uppercase;
	padding-top: 5px;
	font-weight: bold;
}

#useronline-count strong{
	font-weight: bold;
}

#white_block_blue_boders{
	background: #fff;
	min-height: 30px;
	color: #000;
	border-top: 1px solid #0171a1;
	font: 14px/normal Verdana;
	padding-top: 5px;
}

span.bbp-admin-links{
	width: 100%;
}
.bbp-topic-spam-link i, .bbp-reply-spam-link i, .d4p-bbt-quote-link i{
	font-family: FontAwesome !important;
	font-size: 17px;
}
.d4p-bbt-quote-link, .bbp-topic-spam-link, .bbp-reply-spam-link{
	width: 40px !important;
	height: 40px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 4px !important;
}

a.bbp-topic-spam-link, a.bbp-reply-spam-link{
	padding-left: 15px !important;
}
a.bbp-topic-spam-link, a.bbp-reply-spam-link {
	font-size: 29px !important;
	font-family: Arial, sans-serif !important;
	float: right;

}
a.d4p-bbt-quote-link{
	margin-top: 0px !important;
	float: right;
	position: relative;
	top: 5px;
	left: -10px;
	padding-left: 12px !important;
	margin-left: 5px;
}
a.d4p-bbt-quote-link{
	
}

a.d4p-bbt-quote-link i{
	margin-top: 5px;
	font-size: 15px;
	margin-left: 2px;


}

