/*====15.07*/
.block_remonts .remont_body .remont_date, .block_remonts .remont_image {
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -webkit-transition: all 0.5s ease;
}

.block_remonts .remont_body .remont_date:hover, .block_remonts .remont_image:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}

.bottom_content a{
	color: #5a93d7;
}

.pst > a, .front_media h3 a, #front_firms .add_firm {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition:none;
  text-decoration:none;
}
.pst > a:hover, .front_media h3 a:hover, #front_firms .add_firm:hover{
 -webkit-transform: none;
 -moz-transform: none;
 -o-transform: none;
  transform:none;
}
#front_firms .add_firm a{
  text-decoration:none;
	}


.pst:hover{
	padding: 13px 13px 8px;
	border: 2px solid #790000;
}

#front_expert_link a{
	text-decoration:underline;
}

.question_page .question{
	margin-top:5px;
}
.question_page .question_title{
	text-decoration:none;
	font: 18px/18px OpenSansBold;
}

#book_list li .book_info a{
	text-decoration:none;
}
#fronttest:hover{
	-webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -o-transform: scale(1.015);
  transform:scale(1.015);
}
#fronttest_calc:hover{
	-webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -o-transform: scale(1.015);
  transform:scale(1.015);
}
#scr_wrapper{
	left:0;}

#book_list li .book_publisher a{
		text-decoration: underline;
	}
#book_list li .book_publisher a:hover{
		text-decoration: none;
	}

ol li::before{
	font-family: OpenSans;
}

#front_quiz .wp-polls ul li input, #front_quiz .wp-polls ul li label{
	display: inline;
}


#article div.column{
	display: inline-block;
	vertical-align: top;
	width: 25%;
	padding-right: 1.5%;
}

#article div.column:last-child{
	padding-right: inherit;
}

#article div.column h4{
	font: 24px/24px OpenSansBold;
	color:#790000;
	margin: 30px 0 15px 0;
}

#article div.column li{
	color:#9c9c9c;
	font: 16px/20px OpenSans;
}

#article div.column li>a {
	color: #333333;
}

#article div.column li>a:hover{
	text-decoration: underline;
}

@media (max-width: 720px) {
	#article div.column{
		width: 50%;
	}
}

.info_blocks .comment_body{
	position: relative;
}

.info_blocks .chit_rating{
	position: absolute;
	right: 0;
	top: 7px;
}

@media (max-width: 480px) {
	#article div.column{
		width: 100%;
	}

	.info_blocks .chit_rating{
		position: relative;
		top: 6px;
	}
}