@font-face {
    font-family: OpelSansCondensedExtraBold;
    src: url(../fonts/Opel-Sans-Condensed-ExtraBold.ttf);

}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans.ttf);
	src: url('../fonts/OpenSans.woff') format('woff');
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url(../fonts/OpenSansSB.ttf);
	src: url('../fonts/OpenSans-Semibold.woff') format('woff');
}

@font-face {
    font-family: OpenSansI;
    src: url(../fonts/OpenSansItalic.ttf);
	src: url('../fonts/OpenSans-Italic.woff') format('woff');
}

@font-face {
    font-family: MyriadProBoldCondensed;
    src: url(../fonts/MyriadPro-BoldCond.otf);
	src: url('../fonts/MyriadPro-BoldCond.woff') format('woff');
}
@font-face {
  font-family: 'MyriadProBold';
  src: url('../fonts/MyriadPro-Bold.eot');
  src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro-Bold.woff') format('woff'),
       url('../fonts/MyriadPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadProRegular';
  src: url('../fonts/MyriadProRegular.eot');
  src: url('../fonts/MyriadProRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadProRegular.woff') format('woff'),
       url('../fonts/MyriadProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/OpenSansBold.ttf);
	src: url('../fonts/OpenSans-Bold.woff') format('woff');
}


@font-face {
    font-family: PTserif;
    src: url(../fonts/PTserif.ttf);
	src: url('../fonts/PTSerif-Regular.woff') format('woff');
}

@font-face {
    font-family: PTserifBold;
    src: url(../fonts/PTserifBold.ttf);
}
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeueRegular.eot');
  src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BebasNeueRegular.woff') format('woff'),
       url('../fonts/BebasNeueRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: Corbel;
    src: url(../fonts/Corbel.ttf);
}

@font-face {
  font-family: 'Tahoma';
  src: url('../fonts/tahoma.eot');
  src: url('../fonts/tahoma.eot?#iefix') format('embedded-opentype'),
       url('../fonts/tahoma.svg') format('svg'),
       url('../fonts/tahoma.woff') format('woff'),
       url('../fonts/original-tahoma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}