/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline; box-sizing: border-box; }/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: normal;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;} * {box-sizing: border-box;}

@font-face {
	font-family: 'Museo3';
	src: url(../font/MuseoSansCyrl300.otf) format('opentype');
	src: url('../fonts/MuseoSansCyrl300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Museo5';
	src: url(../font/MuseoSansCyrl500.otf) format('opentype');
	src: url('../fonts/MuseoSansCyrl500.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Museo7';
	src: url(../font/MuseoSansCyrl700.otf) format('opentype');
	src: url('../fonts/MuseoSansCyrl700.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Museo9';
	src: url(../font/MuseoSansCyrl900.otf) format('opentype');
	src: url('../fonts/MuseoSansCyrl900.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

header, footer {
	display: block;
}

header {
	background: url(../img/land_logo.png) center center no-repeat;
    background-color: #ececec;
	min-height: 206px;
}

.main_content_top {
	background: url(../img/land_fon1.png) center center / 100% 100% no-repeat #0171a1;
    background-color: #0171a1;
	min-height: 1170px;
}

.main_content_center {
	background: url(../img/land_fon2.png) center center / 100% 100% no-repeat #ececec;
    background-color: #ececec;
	padding-bottom: 35px;
}

.main_content_bottom {
	background: url(../img/land_fon3.png) center center / 100% 100% no-repeat #81b439;
    background-color: #81b439;
}

#main_content {
    cursor: default;
}

.head_text {
    font: 40px "Museo3";
    color: white;
    text-align: center;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    padding: 42px 0 31px;
}

.head_text-right {
    font: 48px/50px "Museo9";
    color: #83bc37;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 25px;
}

.head_text-right > span {
	color: white;
}

.head_text h1 {
    text-align: center;
    font: 21px "Museo5";
    margin-top: 18px;
}

.info_block {
    display: table;
    margin: 0 auto;
    width: 1087px;
    background: #057bae;
    margin-bottom: 30px;
    color: white;
}

.info_block-left {
    width: 364px;
    display: table-cell;
    font: 16px "Museo7";
    text-transform: uppercase;
    color: #93cd46;
    padding: 30px 0px 30px 146px;
    vertical-align: middle;
}

.info_block-right {
    display: table-cell;
    vertical-align: top;
}

.ib1 .info_block-left {
	background: url(../img/comment_ico.png) center left 56px no-repeat;
}

.ib2 .info_block-left {
	background: url(../img/srok_ico.png) center left 56px no-repeat;
}

.ib3 .info_block-left {
	background: url(../img/pic_ico.png) center left 56px no-repeat;
}

.ib1 .info_block-right {
	padding: 25px 60px 20px 0px;
}

.ib2 .info_block-right {
    background: white;
    color: #545454;
    padding: 72px 66px 72px 60px;
    font: 16px "Museo3";
}

.ib3 .info_block-right {
    padding: 30px 30px 30px 2px;
}

.info_block-right_head {
    font: 20px "Museo7";
    color: #93cd46;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.info_block-right_body {
    display: table;
    width: 100%;
}

.info_block-user {
    display: table-cell;
    text-align: center;
}

.info_block-user img {
    display: block;
    margin: 0 auto;
    width: 68px;
    height: 68px;
    border: 3px solid white;
    box-shadow: 0px 0px 0px 3px #83bc37;
    border-radius: 50%;
    object-fit: cover;
    background: white;
    margin-bottom: 8px;
}

.info_block-username {
    font: 15px "Museo7";
}

.info_block-userinfo {
    font: 12px "Museo5";
    padding: 12px 0px;
    border-top: 2px solid #006996;
    margin: 8px 13px;
}

.info_block-right_bottom {
    font: 15px "Museo5";
    color: #f0d500;
    text-decoration: underline;
    float: right;
}

.info_block-link {
    font: 18px "Museo5";
    color: white;
    display: block;
    text-align: center;
    padding: 12.5px;
    height: 57px;
    background: #83bc37;
    text-decoration: none;
    margin: 0 auto;
    width: 440px;
    text-transform: uppercase;
    border: 5px solid #0171a1;
    border-right: none;
    box-shadow: 0px 0px 0px 2px #83bc37;
    position: relative;
}

.info_block-link:after {
    content: '';
    background: url(../img/rstr.png) center right no-repeat;
    position: absolute;
    top: -8px;
    right: -23px;
    width: 23px;
    padding: 31px 0px;
}

.info_block-center_head {
    font: 30px "Museo7";
    text-align: center;
    text-transform: uppercase;
    padding: 43px;
}

.info_block-center_head span {
    color: #0171a1;
    text-decoration: underline;
    font-family: "Museo5";
}

.info_block-center_body {
    width: 972px;
    margin: 0 auto;
}

.info_block-center_user {
    display: inline-block;
    width: 19%;
    vertical-align: top;
    background: #dfdfdf;
    margin: 0px 2px;
    padding: 20px 12px 35px;
    text-align: center;
}

.info_block-center_user img {
    display: block;
    margin: 0 auto;
    width: 68px;
    height: 68px;
    border: 3px solid white;
    box-shadow: 0px 0px 0px 3px #83bc37;
    border-radius: 50%;
    object-fit: cover;
    background: white;
    margin-bottom: 8px;
}

.blce .info_block-username {
    font: 15px "Museo7";
    color: #0171a1;
}

.info_block-center_userinfo {
    font: 12px "Museo5";
    padding: 12px 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 13px 2px 0px;
    color: #636363;
}

.info_block-center_link {
    background: url(../img/btn2.png) center center no-repeat;
    font: 16px "Museo5";
    color: white;
    display: block;
    text-align: center;
    padding: 18.5px;
    height: 57px;
    text-decoration: none;
    margin: 0 auto;
    width: 292px;
    text-transform: uppercase;
    margin-top: 30px;
}

.main_content_bottom-header {
    font: 30px "Museo7";
    color: white;
    text-align: center;
    padding: 46px 0;
    text-transform: uppercase;
}

.main_content_bottom-header div {
    font-size: 16px;
}

#lform input[type="file"] {
    display: none;
}

#lform label {
    background: url(../img/lfoto.png) center center / 100% 100% no-repeat;
    width: 94px;
    height: 74px;
    padding: 28.5px 47px;
    margin: 5px;
    cursor: pointer;
    position: relative;
}

.lform_block img {
    width: 94px;
    height: 74px;
    object-fit: cover;
    background: #83be28;
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid #6fa429;
}

#lform > div {
    display: block;
    text-align: center;
    min-height: 74px;
}

.lform_block {
    display: inline-block;
}

#ltext, #lemail {
    width: 509px;
    max-width: 509px;
    height: 225px;
    font: 18px "Museo3";
    color: #202020;
    padding: 26px;
    border: 4px solid #6fa429;
    margin-bottom: 29px;
    outline: none;
}

#lemail {
    width: 509px;
    max-width: 509px;
    height: 60px;
}

#lbtn {
    background: url(../img/lbbtn.png) no-repeat;
}

#lbtn {
    background: url(../img/lbbtn.png) no-repeat;
    width: 506px;
    height: 56px;
    border: none;
    outline: none;
    font: 18px "Museo5";
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 53px;
}

#respond {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 5px 10px;
    background: white;
    border: 4px solid #6fa429;
    font: 18px "Museo3";
    width: 509px;
    position: relative;
    bottom: 20px;
}

footer {
    background: url(../img/fooooooter.png) center center / 100% 100% no-repeat;
    background-color: #0171a1;
}

.footer {
    width: 972px;
    margin: 0 auto;
    color: white;
    font: 13px "Museo3";
    padding: 72px 0px 150px;
    text-transform: uppercase;
}