header,footer,#sidebar, #breadcrumbs,#comments_template, #front_new_articles,#copyrites, #similar_posts, .article-bottom-right,
#article .content_text .title,#article .content_text .bottom_post_buttons, #post_bottom_block, #main>.similar_posts {
	display: none;
}

#main {
	width: 100%;
}

#article iframe, #scr_wrapper  {
	display: none !important;
}

#article .article-bottom .slide-img img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  border-radius: 200px;
}

.content_text .wp-caption {
  max-width: 40%;
}

#main {
  padding: 15px 0 0px;
  margin-bottom: 0px;
}

#article h1 {
  top: 0px;
  margin: 20px 0;
}
@page {size: portrait;}















