header > .content {
	padding-bottom: 10px;
	min-height: 0px;
}

header .main-menu {
    text-align: center;
	max-width: 600px;
	margin: 0 auto 10px;
}

header .homepage-link {
	float: none;
	margin-bottom: 20px;
}

header .homepage-link, header .main-menu-search {
	float: none;
	max-width: none;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

header .search .search-button {
	max-width: 20%;
}

header .search .text {
	width: 79%;
}

header .search {
  text-align: center;
  padding: 0px 3px;
}
header .main-menu nav ul{
	background-color: transparent;
}
header .main-menu nav ul > li{
	border-bottom: 0px;
}
header .main-menu nav ul > li a, header .main-menu nav ul > li a:hover, header .main-menu nav ul > li a:active, header .main-menu nav ul > li a:visited{
	color: #000;
}
header .main-menu nav ul > li {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0px;
  padding: 3px;
  width: 33.3%;
}

header .main-menu nav ul > li a:hover {
    border-bottom: 0;
}

header .main-menu nav ul > li:not(:first-child):before {
	content: none;
}

header .main-menu nav ul > li a {
	padding: 12px 0 7px;
	display: inline-block;
	width: 100%;
	border-radius: 5px;
	border: 2px solid transparent;
}

header .main-menu nav ul > li a:hover {
	border: 3px solid #790000;
	padding: 11px 0 6px;
}

#front_slider {
	margin: 10px 55px;
}

#front_slider {
	height: 430px;
}

#front_slider .slider_title p {
  font: 62.11px/56.67px OpenSansBold;
}

#front_sections .section {
	width: 31.33%;
}


#front_goods ul li {
	display: inline-block;
	width: 32%;
	margin-left: 2%;
	vertical-align: top;
	margin-bottom: 20px;
}

#front_goods ul li:nth-child(4) {
	display: none;
}

#front_slider .front_slider_shadow {
	display: none;
}

#footer_block .row2 {
    margin: 0 auto;
    display: block;
    float: none;
}

#footer_block .row {
	/*width: 100%;
    text-align: left;*/
}

.social_body_footer .b-share_theme_counter .b-share-icon {
	width: 45px;
    height: 44px;
    background: url(../img/min_footer_social_ico.png) no-repeat;
}

.social_body_footer .b-share_theme_counter .b-share-icon_facebook {
	background-position: 0px 0px;
}

.social_body_footer .b-share_theme_counter .b-share-icon_twitter {
    background-position: -57px 0px;
}

.social_body_footer .b-share_theme_counter .b-share-icon_vkontakte {
    background-position: -116px 0px;
}

.social_body_footer .b-share_theme_counter .b-share-icon_odnoklassniki {
    background-position: -174px 0px;
}

#footer_block .social_body_footer div.firm_social.youtube {
	background-position: -231px 0px;
}

#footer_block .social_body_footer div.firm_social.instagram {
	background-position: -289px 0px;
}

#footer_block .b-share_theme_counter .b-share-btn__wrap {
	margin: 0 0 14px 13px;
}

.social_body_footer div.firm_social.youtube {
    width: 45px;
    height: 44px;
    left: 234px;
    background: url(../img/min_footer_social_ico.png) no-repeat;
}

.social_body_footer div.firm_social.instagram {
	width: 45px;
    height: 44px;
    left: 288px;
    background: url(../img/min_footer_social_ico.png) no-repeat;
}

#footer_block .b-share_theme_counter .b-share-btn__wrap:first-child {
	margin-left: 3px;
}

footer {
	background: #ededed;
}

@media (max-width: 600px) {
	#front_slider .slider_title p {
	  font: 46.11px/46.67px OpenSansBold;
	}

	#front_firms .firm {
	  width: 100%;
	}

	#front_firms {
		padding-bottom: 30px;
	}

	#front_firms .all_firm_link {
	  bottom: 40px;
	}

	#front_firms .firms_count {
		margin-top: 0;
		margin-bottom: 15px;
		display: block;
	}

	#front_firms .front_title {
		margin-bottom: 15px;
	}
	#front_goods ul li {
		display: inline-block;
		width: 48%;
		margin-left: 4%;
		vertical-align: top;
		margin-bottom: 20px;
	}

	#front_goods ul li:first-child, #front_goods ul li:nth-child(3) {
		margin-left: 0;
	}

	#front_goods ul li:nth-child(4) {
		display: inline-block;
	}

	.front_media > li {
	  width: 100%;
	  display: inline-block;
	  vertical-align: top;
	  margin-left: 0%;
	}
	.front_media > li:first-child {
		margin-left: 0;
	}
}

#front_docs .doc_block{
	display: inline-block;
	vertical-align: top;
	width: 45%;
	margin-right: 4%;
	margin-bottom: 20px;
}

#front_docs .doc_block:nth-child(2) {
	margin-right: 0;
}


#footer_block .row1 .col{
	width: 240px;
	display: inline-block;
	vertical-align: top;
	font: 14px/24px OpenSans;
	margin-bottom: 30px;
}

#front_docs {
	margin-bottom: 52px;
}

#post_bottom_block .bottom_content {
  display: block;
  float: none;
  text-align: left;
  margin: 10px 0;
}

#non_front_sections #sections > ul > li {
	width: 31%;
	margin-left: 2.25%;
}
#non_front_sections #sections > ul > li:nth-child(5n+1) {
	margin-left: 2.25%;
}
#non_front_sections #sections > ul > li:nth-child(4n+1) {
	margin-left: 2.25%;
}
#non_front_sections #sections > ul > li:nth-child(3n+1) {
	margin-left: 0%;
}
@media (max-width: 600px) {
	#non_front_sections #sections > ul > li {
		width: 46%;
		margin-left: 6%;
	}
	#non_front_sections #sections > ul > li:nth-child(5n+1) {
		margin-left: 6%;
	}
	#non_front_sections #sections > ul > li:nth-child(4n+1) {
		margin-left: 6%;
	}
	#non_front_sections #sections > ul > li:nth-child(3n+1) {
		margin-left: 6%;
	}
	#non_front_sections #sections > ul > li:nth-child(2n+1) {
		margin-left: 0%;
	}

	#archive_posts .archive_post .post_info {
		margin-left: 0px;
	}
	#archive_posts .archive_post .post_img {
	  float: none;
	  margin: 10px auto;
	}
	#toggle_categorys .toggle_toggle {
	  display: none;
	}
	#toggle_categorys {
		text-align: center;
	}
	#filter_for_brands .letter_title {
		margin-bottom: 0;
	}
}

#sidebar {
	margin-top: 30px;
}

#popular_posts li{
	width: 48%;
	margin-left: 4%;
	display: inline-block;
	vertical-align: top;
	padding: 0px;
	background: url(../img/popular_separator.png) right 40px no-repeat;
	min-height: 250px;
	margin-bottom: 25px;
	background: none;
}

#popular_posts li:first-child, #popular_posts li:nth-child(3) {
  margin-left: 0%;
}

#popular_posts .post_link {
  height: 60px;
}

#popular_posts {
  margin-bottom: 0px;
}

.gallery_card .wp-caption {
  width: 100% !important;
  max-height: 225px;
  overflow: hidden;
  height: 133px;
}

.gallery_card .wp-caption a {
  display: block;
  width: auto !important;
  height: 100%;
  max-width: 100%;
  max-height: 100px;
  overflow: hidden;
}

#book_list li .book_img {
	float: none;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}

#book_list li .book_img .book_img_inside{
	margin: 0 auto;
}

#book_list li .book_rating_block {
	float: none;
	text-align: center;
	margin-bottom: 10px;
}

#book_list li .book_info {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

#book_list li .book_info .book_name {
	margin-bottom: 15px;
	margin-top: 0px;
}


#book .book_img {
	float: none;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}

#book .book_img .book_img_inside{
	margin: 0 auto;
}

#book .book_rating_block {
	float: none;
	text-align: center;
	margin-bottom: 10px;
}

#book .book_info {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

#book .book_info .book_name {
	margin-bottom: 15px;
	margin-top: 0px;
}

.category_brand_list li {
	display: inline-block;
	vertical-align: top;
	width: 46%;
	margin-right: 8%;
}
.category_brand_list li:nth-child(3n) {
	margin-right: 8%;
}

.category_brand_list li:nth-child(2n) {
	margin-right: 0%;
}

#last_brands ul li {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  margin-left: 1.33%;
}

#last_brands ul li:nth-child(5) {
	display: none;
}

@media (max-width: 600px) {
	.brand_in_category .brand_rating_block {
		float: none;
		text-align: center;
		margin: 10px 0;
	}
	.brand_in_category .brand_category_img {
		float: none;
		margin: 0 auto;
	}
	.brand_in_category .brand_info {
		margin-left: 0px;
		display: block;
	}
	.brand_in_category .brand_title {
		text-align: center;
	}

	#last_brands ul {
		text-align: center;
	}

	#last_brands ul li {
	  display: inline-block;
	  vertical-align: top;
	  width: 30%;
	  margin-left: 3.33%;
	  margin-bottom: 15px;
	}

	#last_brands ul li:nth-child(4) {
		margin-left: 0;
	}

	#last_brands ul li:nth-child(5) {
		display: inline-block;
	}
}

.author_page .author_av {
	float: none;
	margin: 0 auto;
	margin-bottom: 44px;
}

.author_page .author-info {
	margin-left: 0px;
}


.author_page .archive_post .post_img {
	float: none;
	margin-right: 0px;
	margin: 0 auto;
	margin-bottom: 15px;
}

.author_page .archive_post .post_info {
	display: block;
	margin-left: 0px;
}

.service_img_block {
	float: none;
}

.service_img_block .service_img {
	margin: 0 auto 15px;
	max-width: 100%;
}

.product_page .service_content {
	display: block;
	margin-left: 0px;
}


.goods_list .goods_list_img {
	display: block;
	margin: 0 auto 10px;
}

.goods_list td:first-child {
	text-align: center;
}

.goods_list .good_info {
	text-align: center;
}


.category_list li {
	width: 32%;
	margin-left: 2%;
}

.category_list li:nth-child(4n+1) {
	margin-left: 2%;
}

.category_list li:nth-child(3n+1) {
	margin-left: 0%;
}

#fronttest .ft_text{
		padding: 20px 10px 20px 80px;
		font-size: 16.5px;
}

#fronttest_calc .ft_text{
		padding: 27px 5px 30px;
		font-size: 16px;
		line-height:1.40;
        margin-left:70px;
        background: no-repeat;
}
#last_brands ul li{
	width: 23.4%;
}

.front_block .last_posts .first_post{
	height: 350px;
}
.front_block .last_posts ul{
	display: block;
}
.news_posts .firsts_news .news{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 0px;
}
.news_posts .firsts_news .img,
.news_posts .firsts_news .wrap{
	height: 350px;
}
.news_posts .firsts_news .wrap{
	display: block;
}
.news_posts .firsts_news .img{
	min-width: 100%;
}
.news_posts .firsts_news .news_title{
	position: absolute;
	bottom: 0px;
}

.category_posts>div{
	display: block;
}
.category_posts .first_post{
	margin-bottom:20px;
	width:100%;
	padding-right:0px;
}
.firmsANDgoods>div{
	display: block;
	width: 100%;
}
.firmsANDgoods>div:first-child{
	width: 100%;
	padding-right: 0px;
	margin-bottom: 20px;
}
.firmsANDgoods .firm .firm_content, .firmsANDgoods .category_product_content{
	padding-right: 0px;
}
.goods .product{
	width: 50%;
	padding: 0px 20px;

}
.goods .product:nth-child(3n+1){
	padding-right: 0px;
	padding: 0px 20px;
}
.goods .product:nth-child(3n){
	padding-left: 0px;
	padding: 0px 20px;
}
.front_brands ul li{
	width: 50%;
}

.row.row1 {
    width: 100%;
}

#footer_block .row3 {
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    clear: both;
    padding-left: 0;
}

.popular_post {
    width: 100%;
}

.front_block .last_posts ul {
	display: none;
}

.front_block .last_posts .first_post {
	width: 100%;
}

.front_block .last_posts .first_post a {
	font-size: 20px;
    line-height: normal;
}

.front_block .last_posts .first_post .date {
    top: -43px;
    font-size: 11px;
}

footer#footer {
	background: #ededed;
}

#footer_block .col.col1 {
	margin-right: 0;
}



.front_block .last_posts .first_post .img {
    height: 100% !important;
}

.postMain__images > div {
    width: 48.1%;
}	

.postMain__images > div.postMain__images__link {
    padding: 30px 0 0 17px;
}

.postFooter__link a {
	font-size: 9px;
    text-align: center;
    border-right: 2px solid #e3e3e3;
}

.postFooter__link {
    width: 19.8%;
    font-size: 14px;
    margin-right: 0;
}

.postFooter__link a:after {
	display: none;
}

.frontPosts__tabs__expertFilter {
	float: none;
	margin-left: 10px;
	margin-bottom: 20px;
}

.frontPosts__tabs ul li {
	display: inline-block;
    border-left: 1px solid #0171a1;
    padding: 6px 22px 5px 23px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    width: 50%;
    border: 1px solid #0171a1;
    margin-right: -3px;
    margin-bottom: -1px;
    margin-left: 1px;
}

.frontPosts__tabs ul li:first-child {
	/*width: auto;*/
    /*margin-right: 1px;*/
    /*margin-left: 1px;*/
    /*box-sizing: border-box;*/
    /*display: block;*/
}

.front_forum_menu__tabs ul li {
	width: 50%;
    padding: 5px 10px;
    border-left: none;
    border: 1px solid #0171a1;
}

.single_all-forums .front_forum_menu__tabs ul li {
    padding: 10px;
}
.one_calc {
    display: inline-block;
    width: 32%;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 10px !important;
    margin-top: 36px !important;
    vertical-align: top;
}