header .bookmark {
	float: none;
	margin: 0 auto;
}

header .log-in-register {
	width: 185px;
	margin: 0 auto;
	float: none;
	text-align: center;
	background-position: 20px;
	border-top: 0;
}

header {
  /*padding: 0 15px;*/
}

header > .content > .row.n2 {
  padding-top: 0px;
}

header .homepage-link {
  text-align: center;
}

header .main-menu nav ul > li {
  width: 50%;
}

header .search .search-button {
	max-width: 100%;
	width: 100%;
	margin-left: 0;
	margin-bottom: 10px;
	padding: 5px 22px 5px 9px;
	background: url(../img/search.png) right 15px center no-repeat #790000;
	border-radius: 10px;
}

header .search .text {
	width: 100%;
	margin-bottom: 10px;
	padding: 7px 9px;
	border-radius: 10px;
	border: #bebebe 1px solid;
	background: none;
}

#front_slider {
	margin: 10px 15px;
	height: 320px;
}

@media (max-width: 600px) {
	#front_slider .slider_title p {
	  font: 37.11px/36.67px OpenSansBold;
	}
}

#front_slider .slider_title {
	position: relative;
	top: 31px;
	left: 10px;
}

#front_firms .firm_image {
  float: none;
  margin-bottom: 15px;
}

#front_firms .firm_image a {
	margin: 0 auto;
}

#front_firms .firm_body {
  margin-left: 0px;
}

#front_sections .section {
	width: 48%;
}

@media (max-width: 400px) {
	#front_sections .section {
		width: 98%;
	}
	#front_sections .section {
		height: auto;
	}

	#front_goods ul li {
		display: inline-block;
		width: 100%;
		margin-left: 0%;
		vertical-align: top;
		margin-bottom: 20px;
	}
	#front_sections .section .section_shadow {
		display: none;
	}
	#front_slider {
		margin-bottom: 0;
	}

	#footer_block .row1 .col{
		width: 100%;
		margin-right: 0%;
		display: inline-block;
		vertical-align: top;
		font: 14px/24px OpenSans;
		margin-bottom: 20px;
		text-align: center;
	}
	#footer_block .row1 .col{
		width: 100%;
    	margin-right: 0%;
    	display: inline-block;
    	vertical-align: top;
    	font: 14px/24px OpenSans;
    	margin-bottom: 0px;
    	text-align: left;
	}
	#footer_block .row1 .col .link {
    	text-decoration: underline;
    	color: #000;
    	line-height: 33px;
    	width: auto;
    	float: left;
    	margin-right: 16px;
	}
	#footer_block .row {
		text-align: left;
	}

	#footer_block .row2 {
		text-align: left;
	}

	#footer_block .row1 .col .link a {
		padding: 12px 0 7px;
		display: inline-block;
		width: 80%;
		border-radius: 5px;
		border: 2px solid #fff;
		font: 18px/1 MyriadProBoldCondensed;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	#footer_block .row1 .col .link a {
    	padding: 0;
    	display: inline-block;
    	border-radius: 0;
    	border: none;
    	font: 12px Tahoma;
    	color: #000;
    	text-decoration: underline;
    	text-transform: uppercase;
    	margin-bottom: 5px;
    	width: 100%;
	}
	#footer_block .row1 .col .col_title {
		margin-bottom: 10px;
		display: none;
	}

	.add_company a {
		padding-top: 11px;
	}
	footer {
    	background: #ededed;
	}
}

#main {
  padding: 0px 0px 0px;
}

#fronttest img {
	display: none;
	
}

#fronttest_calc img {
    display: none;
	background: no-repeat;
}
.hidden_text {
	display: block;
}

#fronttest .hidden_text {
	display: block;
	background: #f26522;
	padding: 25px 40px;
	font: 30px/30px OpenSansBold;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	text-transform: uppercase;
}

#fronttest_calc .hidden_text {
    display: block;
	background: #f26522;
	background: no-repeat;
	padding: 15px 10px;
	font: 30px/30px OpenSansBold;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	text-transform: uppercase;
}
.front_media #fullsizecustom {
	height: auto !important;
	min-height: 200px;
	position: relative;
}
.front_media #slideshow-wrappercustom #imagecustom {
	height: auto;
	margin: 4px;
	min-height: 200px;
	overflow: hidden;
	width: auto;
	position: relative;
}

#front_docs .doc_block{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin-right: 0%;
	margin-bottom: 20px;
}

#front_docs .doc_block:last-child {
	margin-bottom: 0;
}

#front_docs .doc_block ul li {
	padding: 5px 25px;
	border: 1px solid #333;
	border-radius: 10px;
	margin-bottom: 5px;
	background: url(../img/front_doc.jpg) 8px center no-repeat;
	text-decoration: none;
}
#front_docs .doc_block ul li a{
	display: block;
	text-align: center;
}

#front_docs .doc_block h4 {
	margin-bottom: 15px;
}
.post_page .post_rating {
  float: none;
  margin-bottom: 20px;
}
.post_page .post_rating .firm_rating {
	margin-left: 0;
}
#post_bottom_block .bottom_post_rating {
  display: inline-block;
  vertical-align: middle;
  font-family: OpenSansBold;
  margin-left: 0px;
  margin-top: 15px;
}

#post_bottom_block .bottom_content .post_time {
  display: block;
  vertical-align: middle;
  margin-left: 0px;
}
.post_page .content_text table {
	font-size: 12px;
}

.similar_posts.inside .post_body {
  margin-left: 0px;
    text-align: center;
}
.similar_posts.inside .post_body .post_date {
  margin-right: 0px;
  margin-bottom: 10px;
}

.similar_posts.inside .post_body a.title {
	text-align: left;
}

.similar_posts.inside .post_body .post_author {
	display: block;
	text-align: center;
}
.similar_posts.inside .post_image {
	float: none;
	margin: 0 auto;
	display: block;
}

@media (max-width: 400px) {
	#non_front_sections #sections > ul > li {
		width: 96%;
		margin-left: 0%;
	}
	#non_front_sections #sections > ul > li:nth-child(5n+1) {
		margin-left: 0%;
	}
	#non_front_sections #sections > ul > li:nth-child(4n+1) {
		margin-left: 0%;
	}
	#non_front_sections #sections > ul > li:nth-child(3n+1) {
		margin-left: 0%;
	}
	#non_front_sections #sections > ul > li:nth-child(2n+1) {
		margin-left: 0%;
	}

	#popular_posts li{
		width: 100%;
		margin-left: 0%;
		min-height: 0px;
		margin-bottom: 25px;
		background: none;
	}

	#popular_posts li:first-child, #popular_posts li:nth-child(3) {
	  margin-left: 0%;
	}

	#popular_posts .post_link {
	  height: 60px;
	}
}

.gallery_card td {
  width: 100%;
  padding: 0px 1% 20px;
  vertical-align: top;
  text-align: center;
  display: block;
}

iframe {
	max-height: 150px
}

#gallery-1.gallery .gallery-item {
  float: left;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

#filter_for_brands .for_book_buttons {
	text-align: center;
}

#filter_for_brands .letter_fields {
  text-align: center;
}

#toggle_categorys .toggle_count {
  white-space: nowrap;
    margin-top: 5px;
  display: block;
}

#filter_for_brands .for_book_buttons input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
}

#filter_for_brands .for_book_buttons input[type="submit"] {
  margin-left: 0px;
}

.firms_count {
  display: none;
}

.category_brand_list li {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-right: 0%;
  text-align: center;
}

#last_brands ul {
	text-align: center;
}

#last_brands ul li {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  margin-left: 2%;
}

#last_brands ul li:nth-child(4) {
	margin-left: 2%;
}
#last_brands ul li:nth-child(4), #last_brands ul li:nth-child(5) {
	margin-left: 0;
}

@media (max-width: 400px) {
	#last_brands ul li {
	  display: inline-block;
	  vertical-align: top;
	  width: 100%;
	  margin-left: 0%;
	}

}

#brand .brand_img {
	float: none;
	margin: 0px auto 15px;
}

#author-posts .author_posts_title, #comment_form .ask.btn {
  width: 100%;
  text-align: center;
  float: none;
  margin: 0 0 4px 0;
}

.more_author_posts{
  position: static;
  bottom: 10px;
  right: 0;
  padding: 11px 15px;
  background: #404e5c;
  font: 14px/14px OpenSansBold;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  border: 0;
  width: 100%;
  border-radius: 0px;
  border-bottom: #E2E2E2 1px solid;
  text-align: center;
  left: 0;
  margin: auto;
  margin-top: 5px;
}

#author-posts {
  padding: 0px 8px 10px;
}

.goods_list td:nth-child(2), .goods_list th:nth-child(2) {
	display: none;
}

.goods_list td:last-child {
  font: 14px/16px OpenSans;
}
.goods_list td {
  font: 14px/16px OpenSans;
}

.category_list li {
	width: 49%;
	margin-left: 2%;
}

.category_list li:nth-child(4n+1) {
	margin-left: 2%;
}

.category_list li:nth-child(3n+1) {
	margin-left: 2%;
}

.category_list li:nth-child(2n+1) {
	margin-left: 0%;
}

@media (max-width: 400px) {
	.category_list li {
		width: 100%;
		margin-left: 0%;
	}
}



 #front_slider .slider_title{
		width: calc(100% - 31px);}

#footer_block .row1 .col.col1 {
	width: 100%;
}

.bottom_post_buttons {
	margin-left: 0;
}

.bottom_post_buttons .addFavorite {
	width: 100%;
    padding: 10px;
    text-align: center;
}

.userFavorite {
	width: 100%;
}





.postMain__images > div.postMain__image, .postFooter__descr, .postMain__author, .frontPosts__tabs ul {
	display: none;
}

.postMain__author, .frontPosts__tabs ul {
	display: block;
}

.postMain__main {
	width: 100%;
}

.postMain__title {
	max-width: 80%;
}

.postFooter__link {
	width: 73%;
	margin-right: 0;
}

.postFooter__link a {
	background: #83bc37;
	color: #fff;
	border: 0;
	text-decoration: none;
	font: 16px/16px Tahoma;
	height: 47px;
	padding-top: 15px;
}

.postFooter__link a:after {
	display: none;
}

.postMain__title__text a {
	font-size: 20px;
}

.postMain {
	margin-bottom: 1px;
}

.postMain__images {
	margin-left: 73%;
}

.postMain__images > div.postMain__images__link {
	margin: 0;
    width: 100%;
    padding: 0;
    height: 46px;
    margin-top: 1px;
    border-left: 1px solid #fff;
	font: 16px/16px Tahoma;
	text-align: center;
	background: #0171a1;
}

.postMain__images > div.postMain__images__link p {
	display: none;
}

.postMain__images > div.postMain__images__link span {
	display: inline-block;
	margin-right: 5px;
	padding-top: 15px;
}
.postMain__images > div.postMain__images__link span:last-child {
	margin-right: 0;
}

.frontPosts__tabs__expertFilter {
    margin: 17px 18px;
    width: 90%;
}

.frontPosts__tabs {
	margin-bottom: 0;
}

.question_front_link {
	margin: 15px 5px;
}

.front_forum_menu__tabs ul li,
.frontPosts__tabs ul li {
	width: 100%;
    padding: 10px;
    margin-bottom: 4px;
}

.frontPosts__tabs ul li.active,
.front_forum_menu__tabs ul li.active {
	padding: 10px;
}

.questionsFront__item__answers,
.questionsFront__item__left .questionsFront__item__answers {
    font-size: 9px;
    white-space: nowrap;
}

.questionsFront__item__answers b {
    font-size: 9px;
}

.questionsFront__item__title,
.questionsFront .bbp-forum-title.questionsFront__item__title {
    font-size: 12px !important;
}

.load_more {
	width: 100%;
}
.one_calc {
    width: 48%;
}
.calc_title_block {
    height: auto;
    vertical-align: middle;
    padding-bottom: 10px;
}
.calc_title_block1{
    height: auto;
    vertical-align: middle;
    padding-bottom: 10px;
}

#full_content #main_content.single_all-forums #article {
	padding: 0;
}