.ico_calendar,.ico_otzov,.ico_comments,.ico_inter,.ico_megafon{
	background: none;
	padding: 0;
	min-height: none;
}

@media (max-width: 900px) {
	.ico_calendar{
		background: url(../img/ico_calendar.png) left center no-repeat;
		min-height: 33px;
	 	padding-left: 40px;
		padding-top: 2px;
	}
	.ico_otzov{
		background: url(../img/ico_otzov.png) left center no-repeat;
		min-height: 32px;
	 	padding-left: 40px;
		padding-top: 2px;
	}
	.ico_comments{
		background: url(../img/comments_icon.png) left center no-repeat;
		min-height: 33px;
	 	padding-left: 40px;
		padding-top: 2px;
	}
	.ico_inter{
		background: url(../img/ico_inter.png) left center no-repeat;
		min-height: 32px;
	 	padding-left: 40px;
		padding-top: 2px;
	}
	.ico_megafon{
		background: url(../img/ico_megafon.png) left center no-repeat;
		min-height: 33px;
	 	padding-left: 40px;
		padding-top: 2px;
	}

}

.questionsFront__item__descr {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}