header .main-menu-search {
  width: 50%;
}

header .search .text {
}

header .search .search-button {
}

#front_slider {
	margin-top: -300px;
	margin: -300px 5px 10px 5px;
	  overflow: hidden;
}

#front_slider {
	height: 500px;
}

#front_slider .slider_descr .slider_descr_text {
	display: none;
}

#front_slider .slider_descr {
  height: 100%;
}

#front_slider .slider_title {
	z-index: 10;
}

#front_slider .slider_descr .slider_descr_button {
  top: auto;
  bottom: 35px;
  right: 0;
  left: 0;
}

#front_sections .section {
	width: 23%;
}

#post_bottom_block .bottom_content {
  display: block;
  float: none;
  text-align: left;
  margin: 10px 0;
}

#comment_form, .comment {
	margin-bottom: 15px;
}

#filter_for_brands .letter_fields {
	float: none;
	display: block;
	text-align: left;
	margin-top: 10px;
    height: auto;
	line-height: normal;
}

#filter_for_brands .letter_title {
	line-height: normal;
	height: auto;
}

#filter_for_brands .letter_buttons {
	height: auto;
	text-align: left;
}

#filter_for_brands .letter_buttons span {
  line-height: normal;
  margin-left: 10px;
  cursor: pointer;
  position: relative;
  text-decoration: underline;
  display: inline-block;
}

#front_content {
	margin-bottom: 30px;
	min-height: inherit;
}

#front_content .fc_img{
	display: none;
}

#front_content .title, #front_content .content_text{
	margin-left: auto;
}








#fronttest .ft_img{
		display: none;
    	background: no-repeat;

}

#fronttest_calc .ft_img{
		display: none;
    	background: no-repeat;

}
		
#fronttest .ft_text{
		padding: 25px 10px;
		font-size: 25px;
		text-align: center;}

#fronttest_calc .ft_text{
		padding: 30px 10px;
		font-size: 25px;
		text-align: center;}



