@media (max-width: 480px) {	
	#comment_form .labels,div.none_face,
	.time_question div,.answer_social>.s_add{
		display:none;
	}
	
	#comment_form input[type="text"],
	#comment_form textarea, .inputs,
	.submit_button input,div.time_question,
	div.expert_question
	{
		width: 100%;
	}
	div.question_title{
		width: 100%;
	}
	#question_file{
		margin-left: 20px;
	}
	div.question_body{
		margin-left:0px;
		margin-top: 27px;
		padding: 0 10px 10px 10px;
	}
	h1.expert-faq,.comment_date,.comment_author{
		width: 100%;
		/*text-align: center;*/
		float:none;
		padding: 5px 10px;
	}
	.comment_location {
		padding: 0 10px;
    	text-align: center;
	}
	.comment_date {
		padding: 0 10px;
	}
	div.time_question,div.expert_question{		
		text-align: center;
	}
	div.expert_question{		
		margin-top:15px;
	}


	
.expert_img_wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-right: 0%;
  margin-bottom: 20px;
  text-align: center;
}
	
.expert_answer_body {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  min-height: 0px;
}
	
	
	div.question_text{
		font-size: 13px;
		line-height: 15px;
		margin-top:15px;
	}
	.time_question:before{
		margin: 0 auto; left: 0; right: 0; width:0px;
		
	}	
	div.answer_text{
		font-size: 13px;
		line-height: 15px;
	}
	.answer_social{
		text-align: center;
	}
	.expert_answer_body,.comment_text{
		font: 13px/16px OpenSans;
	}
	.answer_social>.pluso{		
		display: inline-block;
		padding: 0;
		margin: 0 auto;
	}
	
	#filter_for_firm,.select,.input,.submit {
		display: block;		
		width: 100%;
	}	
	.select {
		padding: 0 16px;
	}	
	.select select,.input input,.submit input{
		width: 100%;
		margin: 0;
		float: none;
		margin-top: 10px;
	}
	.submit{	
		padding: 0px 16px 10px 16px;
	}
	.submit input{		
		margin-top: 0px;
	}
	.firms_main .firm{
		font: 12px/14px 'OpenSans';
	}	
	.firms_main .firm .firm_image, .firms_main .firm_body {
		display: block;
		width: 100%;
	}
	.firms_main .firm_image{
		margin-bottom: 15px;
	}
	.firms_main .firm_image_inside {
		border-radius: 200px;
		overflow: hidden;
		max-height: 68px;
		max-width: 68px;
		margin: 0 auto
	}	
	.firms_main input[type="button"]{
		  position: absolute;
		bottom: 0;
		right: 0;
		background: url('../img/add_more_firm_ico.png') no-repeat left 8px center,linear-gradient(to top, #F7F7F7, #BABABA);
		font: 14px/14px 'OpenSans';
		text-decoration: underline;
		cursor: pointer;
		color: #41586f;
		font-weight: bold;
		font-size: 12px;
		border: 0;
		width: 100%;
		padding: 6px;
		border-radius: 4px;
		border-bottom: #E2E2E2 1px solid
	}
	.navigate_firm ul{
		margin: 0;
		text-align: center;
	}
	.navigate_firm ul li{
		display:inline-block;
		vertical-align: top;
	}
	
	.navigate_firm ul li{
	width: 48%;
  margin: 1%;
  text-align: center;
  background: #F2F2F2;
  border-radius: 6px;
  text-decoration: none;
  max-height: 45px;
  vertical-align: middle;
  font-size: 13px;
  padding: 15px 5px;
	}
	
	.navigate_firm ul li:first-child{
		width: 98%;
	}
	
	.navigate_firm ul li.active{
		border-radius: 6px;
	}
	
	.info_blocks .block_description{
		border: 0;
	}
	.info_blocks > div.visible,.info_blocks.post_page .content_text {
		font: 13px/16px OpenSans;
	}
	
	.firm_inside .firm_body{
		margin: 0;
	}	
	.services_list table thead{
		font: 14px/16px 'OpenSansBold';
	}
	.services_list table tbody{
		font: 13px/16px OpenSans;
	}
	
	.services_list table tbody tr td{
		padding: 20px 0px;
	}
	
	.firm_inside .firm_body{
		font: 14px/14px 'OpenSans';
		font-size:14px;
		font-weight:14px;
	}
	
	.services_list .img, .services_list a{
		display: block;
	}


	.block_remonts .remont_image,.block_remonts .remont_body{
		display: block;
	}
	.block_remonts .remont_image{

		margin: 0 auto;
		min-width: 0;
	}
	.block_remonts .remont_body{
		padding: 0;
		margin-top: 5px;
	}

	.block_remonts .remont_date{
		display: block;
  		text-align: center;
	}

	.block_remonts .remont_link{
		  font-size: 13px;
	}
}

#post_bottom_block .tt {
	margin-bottom: 10px;
}

/* new */
.rekl {
    top: 36px;
    width: 100%;
    right: 0;
    text-align: center;
}

div#lib_full {
    padding-top: 428px;
    text-align: center;
}

.lib_left_block {
    padding-right: 0px;
}

#article #lib_full h2.lib_title {
    text-decoration: none;
    border: 1px solid #0171a1;
    border-radius: 5px;
    display: flex;
}

#article #lib_full h2.lib_title a {
    padding: 10px;
    width: 100%;
}

#lib_full li {
    font-size: 18px;
    line-height: 29px;
}