#article .content_text{
	position: relative;
}

#comment_form input[type="text"],
#comment_form textarea{
	/*box-shadow: inset 0px 1px 2px 0px #dadada;*/
	border: 1px solid #808080;
	display: block;
	padding: 5px;
	width: 410px;
}

div#comments_template {
	max-width: 100%;
	margin-left: 34px;
	margin-bottom: 40px;
}


h1.expert-faq,.question_title{
	background-color: #00719d;
	display: inline-block;
	padding: 14px 15px;
	font: 14px/14px OpenSansBold;
	color: #fff;
	border-radius: 10px;
	font-size: 14px;
	text-decoration: underline;
}

.question_title{
	min-width: 440px;
}

#comment_form h1 {
	border-radius: 0px;
	margin-top: -1px;
	font-size: 18px;
	text-decoration: none;
	padding: 15px 25px;
}

.comment_input span{
	vertical-align: top;
}

.labels, .inputs{
	display: inline-block;
	vertical-align: top;
	/*margin-top: 20px;*/
}
.inputs{
	width: calc(100% - 130px);
	width: 100%;
}

#comment_form textarea{
	width: 100%;
	outline: none;
	resize: none;
	font: 16px Verdana;
	padding: 11px;
    padding-left: 19px;
    height: 44px;
    color: #818181;
}

.submit_button input {
    background-color: #006c9e;
    border: 0px;
    color: #fff;
    padding: 0px 10px;
    cursor: pointer;
    width: 215px;
    height: 43px;
    font: 18px Verdana;
    text-transform: uppercase;
}

.submit_button input:hover{
	opacity: 0.8;
}


.together{
	margin-top:25px;
}

.together input{
	margin:0px;
}
.file_upload{
	position: relative;
}
.file_upload div{
  height: 35px;
  display: inline-block;
  background-color: #b7b7b7;
  font: 12px/12px OpenSansSemibold;
  padding: 12px 10px 10px 10px;
  border-radius: 3px;
  position: absolute;
  cursor: pointer;
  color: #fff;
 }
#question_file{
	margin-top:7px;
	margin-left: 22px;
}
.labels{
	margin-right: 23px;
}
.labels div{
	padding: 10px 0px;
	width: 100px;
	text-align:right;
	font: 14px/14px OpenSans;
}

.labels div:last-child{
	padding: 0px;
}

.red_star{
	color: red;
}

.question_body {
	border: 1px solid #dadada;
	border-top: 3px #464646 solid;
	padding: 15px;
	padding-top: 0px;
	margin-top: 30px;
	margin-left: 130px
}

.question_top{height: 40px;  position: relative;}

.time_question{
	float: left;
	font: 10px/10px OpenSans;
	background-color: #464646;
	padding: 8px;
	color: #fff;
}
.time_question div{
	width:            13px;
	height:           13px;
	background-image: url('../img/time-i.png');
	display: inline-block;
	margin-right: 7px;
	margin-bottom: -3px;
}
.time_question:before{
	position: absolute;
	content: "";
	border-width: 0px 21px 25px 21px;
	border-color: transparent;
	border-bottom-color: #464646;
	border-style: solid;
	top: -28px;
	left: 45px;
}
.expert_question{
	float: right;
	margin-top: 6px;
	font: 14px/14px OpenSans;
}
.expert_question span{
	font: 14px/24px OpenSansbold;
}

.question_body{
	clear: both;
}
.none_face,.question_content{
	  display: table-cell;
	  vertical-align: top;
}

.none_face{
	padding: 0  5px;
}
.none_face div{
	width: 87px;
	height: 87px;
	border-radius: 45px;
	background: #00719d url('../img/none-face.png') center no-repeat;
}

.question_content{
	padding-left: 10px;
}

.question .author{
	font: 17px/24px OpenSansBold;
	margin-bottom: 8px;
}

.question_text{
	font: 17px/22px OpenSans;
	word-wrap: break-word;
}

.question_page .question_title{
	background-color:#612e19;
}

.answer{
	margin-top: 25px;
}
.answer_title,.comments_title{
	font: 28px/28px OpenSans;
}

.answer_text{
	  margin-top: 10px;
	  word-wrap: break-word;
}

.expert_answer_field{
	background-color:#ebebeb;
	margin: 25px -20px -16px -20px;
}

.expert_answer{
	  padding: 16px 20px;
}

.expert_answer_top h5{
	font: 18px/18px OpenSansBold;
}

.expert_answer_middle,
.expert_answer_bottom{
	margin-top: 30px;
}
.expert_answer_body{
	font: 17px/24px OpenSans;
}
.expert_answer_bottom{
	clear: both;
}
.answer_social{
	width: 280px;
}
.answer_social,.exp_rating{
	font: 14px/14px OpenSansBold;
	display: inline-block;
	vertical-align: middle;
}
.answer_social>div,.exp_rating>div{
	display: table-cell;
	vertical-align: middle;
}
.answer_social .pluso,.exp_rating .firm_rating{
	padding-left: 15px;
}
#article.question_page{
	margin-bottom: 15px;
}

.rating_review input{
	display: none;
}

.set_rating{margin-bottom: 10px;}
.rating_review label {
	cursor: pointer;
	width: 22px;
	height: 22px;
	display: table-cell;
	padding: 0 2px;
}
.rating_review label.non_active_rating{background: url(../img/non_active_rating_mini.png) center center no-repeat;}
.rating_review label.active_rating{background: url(../img/active_rating_mini.png) center center no-repeat;}
.rating_review label.active_rating_hover{background: url(../img/active_rating_mini.png) center center no-repeat;}

.comment{
	margin-bottom:15px;
}
.comment_author{
	font: 18px/20px Arial;
	float: left;
	padding: 20px;
	padding-right: 0px;
}
.comment_text {
    margin-top: 5px;
    font: 16px/20px Verdana;
    margin-left: 68px;
    padding-left: 15px;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 15px;
}

.comment_text strong {
	font-weight: bold;
}

.comment_text em {
	font-style: italic;
}

.comment_text img {
	max-width: 100% !important;
	height: auto !important;
}

.comment_text ul {
	list-style: initial;
}

.comment_text .wp-caption {
	max-width: 100% !important;
	height: auto !important;
}

.wp-caption-text {
    background: #f3f3f3;
    padding: 10px 10px;
}

#comments .comment .comment_text a {
    font: 14px Verdana;
    font-weight: bold;
    color: #797979;
    text-transform: uppercase;
}

#comments .comment .comment_text a:hover {
    text-decoration: underline;
}

#comments .comment .comment_text a.comment-reply-link {
    font: 14px Verdana;
    font-weight: bold;
    color: #797979;
    text-transform: uppercase;
}

#comments .comment .comment_text a.comment-reply-link:before {
    content: '';
    background: url(../img/arrow_comment_reply.png) no-repeat;
    width: 20px;
    height: 20px;
    padding: 0px 15px;
}

.pluso .pluso-more{
 display: none !important;}

 .expert_img_wrapper,.expert_answer_body{
	display: inline-block;
	vertical-align: top;
 }
 .expert_img_wrapper{
  vertical-align: middle;
  width: 27%;
  margin-right: 4%;
  text-align: center;
 }
 .expert_answer_body{
	width: 68%;
  vertical-align: middle;
  min-height: 215px;
 }

 .expert_answer_img{
	width: 100%;
  max-width: 180px !important;
  display: inline-block;
  border-radius: 200px;
  overflow: hidden;
 }

  .expert_answer_img img{
	display: block;
	width: 100%;
	max-width: 180px !important;
  }

  .comments .comments_title{
	  font: 18px/18px OpenSansBold;
	  margin: 30px 0 20px;
  }

  #comment_form h2{
	  background-color: #00719d;
	display: inline-block;
	padding: 10px 15px;
	font: 18px/24px OpenSansBold;
	color: #fff;
  }

  #comment_form .together{
	margin-top: 15px;
  }
  #comment_form .set_rating{
	margin-bottom: 15px;
}

/* FIRMS */
.firm-title{
	font: 18px/18px OpenSansBold;
	margin-bottom: 10px;
}
#map_firms{
	margin-bottom: 25px;
	border: 1px solid #dcdcdc;
}
#map_firms>h3.firm-title{
	font: 18px/18px OpenSansBold !important;
	margin-top: 23px;
}
.firms_count{
	position: absolute;
	top: -17px; right: 0px;
	font: 12px/18px OpenSans;
}
.firms_count .count{
	display: inline-block;
	background: #00719d;
	height: 31px; width: 33px;
	text-decoration: underline;
	color: #fff;
	padding: 10px 5px 5px 5px;
	text-align: center;
	margin: 0 5px;
}
#filter_for_firm{
	background: #00719d;
	display: table;
	width: 100%;
}
.select,.input,.submit{
	display: table-cell;
}
.select{
	width: 360px;
  padding: 10px 0 10px 16px;
}
.input{
  padding: 10px 15px 10px 0;
}
.submit{
	padding: 10px 16px 10px 0;
	width: 155px;
}
.select select {
  width: 155px;
  font: 10px/10px 'OpenSans';
  padding: 0px 5px;
  border: 1px solid #cccccc;
  height: 24px;
  background: url('../img/firm-search-selector-icon.png') no-repeat right 6px top 2px #fff;
  border-radius: 3px;
  margin-right: 15px;
  box-shadow: inset 0px 1px 3px 0px #dbdddd;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input input{
	width: 100%;
	font: 10px/10px 'OpenSans';
  border: 1px solid #cccccc;
  border-radius: 3px;
  line-height: 22px;
  box-shadow: inset 0px 1px 3px 0px #dbdddd;
  padding: 0px 5px;
}

.submit input {
  box-shadow: inset 0px 2px 1px 0px rgba(250,250,250,0.3);
  font: 12px/12px 'OpenSansSemiBold';
  width: 155px;
  padding: 0px 25px 0 10px;
  line-height: 22px;
  border: 1px solid #0e8bbb;
  border-radius: 3px;
  background: url('../img/search.png') no-repeat right 8px center,linear-gradient(to top, #0e8bbb, #00719d);

  color: #fff;
  cursor: pointer;
}

#map_firms #map{

	border: 1px solid #dadada;
	height: 500px;
	padding: 1px;
}
.firms_main{
	padding-bottom: 21px;
	position: relative;
}
.firms_main .firm{
	border: 1px solid #cccccc;
	padding: 15px;
	font: 14px/17px 'OpenSans';
	display: inline-block;
	width: 49%;
	vertical-align: top;
	margin-bottom: 12px;
}
.firms_main .firm:nth-child(2n){
	  margin-left: 2%;
}

.firms_main .firm b{
	font: 14px/14px 'OpenSansBold';
}

.firms_main .title,.firms_main .firm_rating,.firms_main .firm_rating_text,
.firms_main .region,.firms_main .address{
	margin-bottom: 2px;
}

.firms_main .firm_image,.firms_main .firm_body{
	display:table-cell;
	vertical-align: top;
}

.firms_main .firm .firm_image {
  padding-right: 15px;
  width: 83px;
}
.firm .firm_image_inside {
  		width: 84px;
      		height: 84px;
      		background: center center no-repeat;
      		background-size: contain;
}
.firm .firm_image a{
	display: block;
	    border-radius: 50%;
	    width: 84px;
	    height: 84px;
	    overflow: hidden;
}

.services_list table tbody tr td:last-child a{
	display: initial;
}
.firms_main .title{
	font: 18px/18px 'OpenSansBold';
}
.firms_main .firm_rating,.firms_main .firm_rating_text{
	display:inline-block;
	vertical-align: middle;
}
.firms_main input[type="button"]{
	position: absolute;
	bottom: 0;
	right: 0;
	background: url('../img/add_more_firm_ico.png') no-repeat left 8px center;
	font: 14px/14px 'OpenSans';
	text-decoration: underline;
	cursor: pointer;
	color: #77a4dd;
	border: 0;
	padding-left: 24px;
}

#preload{
	background-image: url(data:image/gif;base64,R0lGODlhEAALAPQAAP///0BOXOPl59ve4O/w8URSX0BOXGJteaGoroeQmcvO0lllcXeBi6ettIqTm87R1VxodEJQXnqEjezt7uHj5fb392l0f+Tm6PX19sjM0Le8wtfZ3PLy8wAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA);
	width: 16px;
	height: 11px;
	position: absolute;
	bottom: 0;
	right: 0;
	}
#none_more_firms{
	position: absolute;
	bottom: 0;
	right: 0;
	font: 13px/14px 'OpenSansBold';
}
/* FIRMS END */


/* SIINGLE FIRM */

.firm_inside{
	margin: 25px 0 35px;
	font: 14px/14px 'OpenSans';
}

.firm_inside .firm_body{
	line-height: 24px;
	margin-left: 45px;
}

.firm_inside .firm_image,.firm_inside .firm_body{
	display: table-cell;
	vertical-align: top;
}

.firm_inside .firm_image{
	min-width: 220px;
}

.firm_inside .firm_body h1,.firm_inside .firm_body b{
	font: 24px/24px 'OpenSansBold';
	margin-bottom: 20px;
}
.firm_inside .firm_body b{ font-size: 14px;}

.firm_inside .firm_rating{
	margin: 10px 0;
	color:#6a6a6a;
}
.firm_inside .firm_image{
	text-align: center;
}

.navigate_firm ul {
    margin: 0;
    margin-left: 253px;
    background: #dcdcdc;
}
.navigate_firm ul li {
    display: inline-block;
    padding: 13px 22px;
    text-decoration: underline;
    font: 14px/14px Tahoma;
    cursor: pointer;
    text-transform: uppercase;
    border-right: 1px solid #0171a1;
}
.navigate_firm ul li:last-child {
    border-right: none;
}
.navigate_firm ul li:first-child {
    text-decoration: none;
}
.navigate_firm ul li.active {
	background-color: #0171a1;
	color: #fff;
	cursor: default;
}
.info_blocks > div {
  display: none;
  clear: both;
  font: 14px Verdana;
}

.info_blocks table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.info_blocks .block_description{
  padding: 20px 15px;
  clear: both;
  font: 14px Verdana;
}

.info_blocks > div.visible {
  display: block;
}

.info_blocks .msg_err{
	border-top: #00719d 5px solid;
	padding: 15px;
	font: 20px/normal OpenSans;
}
.services_list table{
	margin: 0 !important;
}
.services_list table thead{
	background-color: #00719d;
	font: 18px/16px 'OpenSansBold';
	color: #fff;
	text-align: left;
}
.services_list table thead tr{

	background-color: #00719d;

}

.services_list table thead tr:last-child{

	background-color: #bc7f7f;
	color: #000;

}
.services_list table thead th, td.category{
	padding: 9px 25px;
}
.services_list table thead tr th:last-child{
	border-left: #fff 1px solid;
	text-align: center;
}

.services_list table tbody{
	font: 20px/Normal 'OpenSans';
}

.services_list table tbody tr{
	border-bottom: #f1f2f2 2px solid;
}
.services_list table tbody td{
	padding: 20px 25px;
	vertical-align: middle;
}
.services_list table tbody tr td:last-child{
	text-align: center;
}
.services_list .img, .services_list a{
	display: table-cell;
	vertical-align: middle;
}
.services_list .img{
	width: 100px;
	padding-right: 30px;
	text-align: center;
	vertical-align: middle;
}

.services_list .img img{
	max-height: 80px;
	max-width: 100px;
}

#comment_form.block_reviews .comment{
	border:0;
	box-shadow:none;
	padding:0;
}


.block_remonts.visible{
	border: 1px solid #dadada;
	padding: 0 17px;
}
.block_remonts .remont_image,.block_remonts .remont_body{
	display: inline-block;
  	vertical-align: top;
}
.block_remonts .remont_form {
	border-top: #ccc 1px dotted;
	padding: 20px 0;
}
.block_remonts .remont_form:first-child {
	border: none;
}

.block_remonts .remont_image{
	max-height: 99px;
	min-height: 99px;
	max-width: 176px;
	min-width: 176px;
}

.block_remonts .remont_body{
	padding-left: 35px;
}

.block_remonts .remont_date{
	font: 10px/16px 'OpenSans';
	background-color: #00719d;
	padding: 6px 15px;
	color: #fff;
	display: inline-block;
}

.block_remonts .remont_title{
	  margin: 12px 0;
}

.block_remonts .remont_title>a{
	font: 14px/24px 'OpenSansBold';
	text-decoration: underline;
	word-wrap: break-word;
}
.block_remonts .remont_title>a:hover{
	text-decoration: none;
}
.block_remonts .remont_comms{

	font: 10px/10px 'OpenSans';
	color: #adadad;
}
.block_remonts .remont_comms>a{
	text-decoration: underline;
	padding: 3px 0 7px 22px;
	display: inline-block;
	background: url(../img/comments_icon.png) 0 center no-repeat;
	background-size: 17px 16px;
}
.block_remonts .remont_comms>a:hover{
	text-decoration: none;
}
/* SIINGLE FIRM END */


.ico_magazin{
	background: url(../img/ico_magaz.png) left center no-repeat;
 	min-height: 36px;
	padding-left: 40px;
	padding-top: 5px;
}

.ico_firms{
	background: url(../img/ico_firms.png) left center no-repeat;
 	min-height: 36px;
 	padding-left: 45px;
 	padding-top: 5px;
}
#front_firms .firms_count{
	margin: 0;
	margin-bottom: 35px;
 	vertical-align: bottom;
}

#front_firms {
	margin-left: 15px;
}
.spring{

	background: url(../img/spring.png) center no-repeat;
	height: 364px;
	width: 50px;
	position: absolute;
	left: -36px;
  	top: 50%;
  	margin-top: -182px;

}

.ico_catal{
	background: url(../img/ico_catal.png) left center no-repeat;
 	min-height: 35px;
	padding-left: 45px;
	padding-top: 6px;
}

#front_goods .title, .front_media h3{
	font-size: 23px;
}
.ico_foto{
	background: url(../img/ico_foto.png) left center no-repeat;
 	min-height: 36px;
 	padding-left: 51px;
	padding-top: 5px;
}
.ico_tv{
	background: url(../img/ico_tv.png) left center no-repeat;
 	min-height: 36px;
 	padding-left: 56px;
	padding-top: 5px;
}
.ico_doc{
	background: url(../img/ico_doc.png) left center no-repeat;
	min-height: 34px;
	padding-left: 45px;
	padding-top: 1px;
}
/*sideBar ico*/
.ico_calendar{
	background: url(../img/ico_calendar.png) left center no-repeat;
	min-height: 33px;
 	padding-left: 40px;
	padding-top: 2px;
}
.ico_otzov{
	background: url(../img/ico_otzov.png) left center no-repeat;
	min-height: 32px;
 	padding-left: 40px;
	padding-top: 2px;
}
.ico_comments{
	background: url(../img/comments_icon.png) left center no-repeat;
	min-height: 33px;
 	padding-left: 40px;
	padding-top: 2px;
}
.ico_inter{
	background: url(../img/ico_inter.png) left center no-repeat;
	min-height: 32px;
 	padding-left: 40px;
	padding-top: 2px;
}
.ico_megafon{
	background: url(../img/ico_megafon.png) left center no-repeat;
	min-height: 33px;
 	padding-left: 40px;
	padding-top: 2px;
}

/* Login / Registration*/
#reg_firm {
	font: 14px/14px 'OpenSans';
}

#reg_firm input[type="text"],#reg_firm input[type="password"],#reg_firm select,
#reg_firm textarea,#reg_firm input[type="email"]{
  box-shadow: inset 0px 1px 2px 0px #dadada;
  border: 1px solid #dadada;
  padding: 5px;
  width: 410px;
  outline: none;
  resize: none;
  display: inline-block;
}
#reg_firm textarea {
  height: 100px;
}

#reg_firm input[type="submit"] {
  background-color: #00719d;
  border: 0px;
  color: #fff;
  border-radius: 3px;
  padding: 0px 10px;
  cursor: pointer;
  font: 12px/12px 'OpenSansSemibold';
    height: 35px;
}
#reg_firm input[type="submit"]:hover{
	background-color: #588D20;
}

#reg_firm .reg_unit {
  margin-bottom: 10px;
}

#reg_firm label span {
  display: inline-block;
  width: 180px;
  vertical-align: middle;
}
/* BUGS */


.confirm_answer {
	padding: 30px 20px;
	margin-top: 20px;
	color: rgb(61, 61, 61);
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	font-weight: normal;
	font-family: OpenSansBold;
	background: rgb(207, 255, 207);
}


.add_company a {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.add_company a:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}

#front_slider .slider_descr .slider_descr_button {
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -webkit-transition: all 0.5s ease;
}
#front_slider .slider_descr .slider_descr_button:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}

.docs table td:last-child a {
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -webkit-transition: all 0.5s ease;
}
.docs table td:last-child a:hover {
 -webkit-transform: scale(1.3);
 -moz-transform: scale(1.3);
 -o-transform: scale(1.3);
}

#sidebar .mention .mention_title:hover {
	text-decoration: none;
}

#front_goods ul li .front_good .good_body .good_link {
	text-decoration: underline;
}

#front_goods ul li .front_good .good_body .good_link:hover {
	text-decoration: none;
}

#front_expert_link a{
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -webkit-transition: all 0.5s ease;
   display: inline-block;
}
#front_expert_link a:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}

.front_media h3 a{
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -webkit-transition: all 0.5s ease;
   display: inline-block;
}
.front_media h3 a:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}

#non_front_sections .section .section_link > ul li:hover {
	color: #000;
	text-decoration: none;
}

#non_front_sections #sections > ul > li .section_block > .section_link > a, #non_front_sections #sections .category_img {
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -webkit-transition: all 0.5s ease;
}

#non_front_sections #sections > ul > li .section_block > .section_link > a {
	display: inline-block;
}

#non_front_sections #sections > ul > li .section_block > .section_link > a:hover, #non_front_sections #sections .category_img:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}

#breadcrumbs a:hover {
	text-decoration: none;
}

.post_page .content_text a{
	color: #5a93d7;
	text-decoration: underline;
}

.post_page .content_text a:hover{
	text-decoration: none;
}

.firms_count .count:hover {
	text-decoration: none;
}

.similar_posts.inside .post_body .post_author a:hover, .similar_posts.inside .post_body a.title:hover {
	text-decoration: none;
}

.similar_posts.inside .post_body .post_date, .similar_posts.inside .post_image {
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -webkit-transition: all 0.5s ease;
}

.similar_posts.inside .post_body .post_date:hover, .similar_posts.inside .post_image:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}


.firm_inside .firm_body a {
	text-decoration: underline;
}

.firm_inside .firm_body a:hover {
	text-decoration: none;
}

#filter_for_firm input[type="submit"] {
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -webkit-transition: all 0.5s ease;
  display: inline-block;
}

#filter_for_firm input[type="submit"]:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}

#archive_posts .new_posts_comments_count a:hover, #archive_posts .post_date:hover {
	text-decoration: none;
}

.question_title:hover {
	text-decoration: none;
}

#book_list li .book_info a {
	text-decoration: underline;
}

#book_list li .book_info a:hover {
	text-decoration: none;
}

header .bookmark a:hover {
	text-decoration: none;
}
ol {
  /*list-style-type: none;
  counter-reset: num;*/
}
ol li::before {
  /*content: counter(num) '. ';
  counter-increment: num;
  font-family: OpenSansBold;
  font-size: 16px;*/
}

.goods_list td:last-child {
	font: 15px/15px OpenSans
}

.firms_list td:first-child a:hover {
	text-decoration: none;
}

.category_list .cat_name:hover {
	text-decoration: none;
}

.pst > a{
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -webkit-transition: all 0.5s ease;
 display: inline-block;
}

.pst > a:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}

.goods_list td a:hover {
	text-decoration: none;
}

.wpProQuiz_content {
	font-family: OpenSans;
}

.similar_posts.inside .all_posts_link {
	margin-bottom: 25px;
	text-align: right;
	font: 16px/16px OpenSansBold;
	text-decoration: underline;
}

.similar_posts.inside .all_posts_link:hover {
	text-decoration: none;
}

#front_firms .add_firm, #fronttest, #fronttest_calc {
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

#front_firms .add_firm:hover, #fronttest:hover, #fronttest_calc:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}

#popular_posts .post_date a {
	text-decoration: underline;
}

#popular_posts .post_date a:hover {
	text-decoration: none;
}

#archive_posts .post_date a {
	text-decoration: underline;
}

#archive_posts .post_date a:hover {
	text-decoration: none;
}
.arch_dict > div >div:nth-last-child(1){
	display: none;
	}
	
	
	

#ya-site-results .b-wrapper a, #ya-site-results .b-serp-item a {
	text-decoration: underline;
    color: #5a93d7 !important;
}

#ya-site-results .b-wrapper a:hover {
	text-decoration: none;
}

#ya-site-results .b-serp-item__links {
	display: none;
}



.questionsFront__title {
	font: 24px/24px Tahoma;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 35px;
    margin-top: 15px;
}

.questionsFront__item {
	margin-bottom: 16px;
	background: #f1f1f1;
	height: 126px;
}

.questionsFront__item__left {
	float: left;
	width: 110px;
	border-right: 1px solid #ababab;
	text-align: center;
	color: #0171a1;
	padding-top: 12px;
	font-family: Tahoma;
	font-size: 14px;
}

.questionsFront__item:nth-child(2n) .questionsFront__item__left {
	background: #0171a1;
	color: #fff;
	border: none;
}

.questionsFront__item__right {
	float: right;
	width: 182px;
	border-left: 1px solid #ababab;
	padding-left: 25px;
	padding-top: 14px;
	color: #0171a1;
	font: 10px/normal Tahoma;
	text-transform: uppercase;
}

.questionsFront__item__center {
	margin-left: 132px;
	margin-right: 200px;
}

.questionsFront__item > div {
	height: 100%;
}

.questionsFront__item__left b {
    font: 30px/30px Tahoma;
    /*color: #000;*/
    display: block;
    font-weight: bold;
    padding-top: 12px;
}

.questionsFront__item:nth-child(2n) .questionsFront__item__left b {
	color: #fff;
}

.questionsFront__item__views {
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 22px;
    border-bottom: 1px solid;
}

.questionsFront__item__center {
	padding-top: 14px;
	position: relative;
}

.questionsFront__item__title {
	font: 16px/16px Tahoma;
	font-weight: bold;
	margin-bottom: 15px;
	text-transform: none !important;
	color: #000;
	text-decoration: none;
	display: block;
}

.questionsFront__item__descr {
	font: 14px/normal Tahoma;
}

.questionsFront__item__expert__avatar {
	display: inline-block;
	vertical-align: top;
	width: 34px;
	height: 34px;
	overflow: hidden;
}

.questionsFront__item__expert {
	color: #000;
	font: 12px/normal Tahoma;
	margin-top: 8px;
	margin-bottom: 22px;
	text-transform: none;
}

.questionsFront__item__expert__name {
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 5px;
	width: 70px;
	margin-left: 12px;
}

.questionsFront__item__bottom {
	position: absolute;
	bottom: 10px;
	width: 100%;
	color: #ababab;
	text-transform: uppercase;
	font: 10px/10px Tahoma;
	text-align: left;
}

.questionsFront__item__tags {
	float: left;
}

.questionsFront__item__tag {
	margin-left: 40px;
	text-decoration: underline;
}

.questionsFront__item__tag:first-child {
	margin-left: 0;
}

.menu-header ul li a:hover {
	color: #fff;
	background: #0171a1;
}

.menu-header ul li {
	padding: 0;
}

.front_block {
	margin-bottom: 20px;
}

footer {
	background: url(../img/footer_bg.png) center center repeat-y;
}

@media(max-width: 1000px) {
	footer {
		background: url(../img/footer_bg_mini2.png) left center repeat-y;
	}
}

.front_block .last_posts .first_post .img {
    height: auto;
}

.comment_text p {
    padding-bottom: 10px;
}

#breadcrumbs {
	padding: 14px 0 11px 3px;
}

#article .content_text #toc_container {
	padding-left: 15px;
	margin-left: -17px;
}

.like_post {
	padding: 4px 10px 4px 36px;
}

@media (max-width: 520px) {
	#post_bottom_block .tt {
		vertical-align: top;
	}

	.inf-z .b-share_theme_counter {
		margin-bottom: 10px;
	}
}

.single_posts #article p {
    max-width: 95%;
    margin-bottom: 21px;
}

#footer_block .row2 {
	width: 269px;
}

@media (max-width: 760px) {
	#footer_block .row2 {
    	margin: 0;
	}
}

.single_posts #article .wp-caption-text {
	margin-bottom: 10px;
	max-width: 100%;
	padding-left: 15px;
}

.post_page .content_text ul li {
    padding-left: 46px;
    background: url(../img/li_point.png) 17px 2px no-repeat;
    margin: 11px 0;
}

.post_page .content_text h2, .post_page .content_text h3, .post_page .content_text h4 {
	text-transform: none;
}

.post_page .content_text h3 {
    margin: 30px 0 18px;
}

.single_posts #article blockquote {
    margin-left: 0;
}

.post_page .content_text blockquote {
    padding: 7px 20px 1px 8px;
}

.post_page .content_text h4 {
    font: 16px Verdana;
    text-transform: none;
    font-style: italic;
    font-weight: bold;
    margin: 31px 0 27px;
}

.single_posts #article p, .single_posts #article h2, .single_posts #article h3, .single_posts #article div {
	padding-left: 0;
}

.single_posts #article .thanks {
    margin-left: 0;
}

#post_bottom_block {
    margin: 30px 0px 25px 5px;
}

.bottom_post_buttons {
    margin-left: 5px;
}

div#comments_template {
    margin-left: 5px;
}

.single_posts div#article {
    margin-left: 17px;
}

.post_page h1 {
    margin-left: -17px;
}

.wp-caption.alignnone, .wp-caption.aligncenter {
	/*width: 100% !important;*/
}

span.author_name {
    font: 14px Corbel;
    font-weight: bold;
    text-transform: none;
    text-decoration: underline;
    margin-left: 14px;
    display: inline-block;
    vertical-align: top;
    padding-top: 6px;
    float: left;
}

.post_name_single {
    font: 14px Arial;
    font-weight: bold;
    color: #a09f9f;
    padding-top: 5px;
}

span.views {
    background: url(../img/views_post.png) left 13px top 2px no-repeat;
    padding-left: 44px;
}

img.avatar {
	float: left;
}

.post_name_single span.like, .post_name_single span.like {
    background: url(../img/like.png) left 2px top 1px no-repeat;
    padding-left: 31px;
    margin-left: 8px;
}

.post_name_single span.comm, .post_name_single span.comm {
    background: url(../img/comm.png) left 2px top 1px no-repeat;
    padding-left: 32px;
    margin-left: 5px;
}

.sub_body .title {
    font: 18px/18px Verdana;
    margin-bottom: 41px;
    font-weight: bold;
    color: #006c9e;
}
.sub_body ul > li > label {
    cursor: pointer;
    font: 18px/normal Verdana;
    position: relative;
    top: 6px;
    padding-left: 17px;
}

.sub_body ul > li > label:before {
    content: '123';
    font-size: 0px;
    width: 31px;
    height: 31px;
    background: #fff;
    display: block;
    float: left;
    outline: 1px solid #797979;
    margin-top: 2px;
    cursor: pointer;
}

.sub_body ul > li > input[type=radio]:checked + label:before {
    border: 10px solid #fff;
    background-color: #006c9e;
    width: 11px;
    height: 11px;
}

.sub_body input[type="radio"] {
    display: none;
}

.sub_body ul li {
    margin-bottom: 26px;
}

.sub_body ul {
    margin-left: 7px;
}

.sub_body_left {
	float: left;
}

.sub_body_right {
	margin-left: 310px;
}

.sub_body_right ul {
	margin-left: 58px;
}

input[name="sub_email"] {
    border: 1px solid #797979;
    width: 56%;
    outline: none;
    resize: none;
    font: 16px Verdana;
    padding: 11px;
    padding-left: 19px;
    height: 44px;
    color: #818181;
    float: left;
    text-transform: uppercase;
    margin-left: 57px;
}

input[name="sub_button"] {
    background-color: #81bb34;
    border: 0px;
    color: #fff;
    padding: 0px 10px;
    cursor: pointer;
    width: 215px;
    height: 43px;
    font: 18px Verdana;
    text-transform: uppercase;
    margin-left: 6px;
}

input[name="sub_button"]:hover {
    opacity: 0.8;
}

.subscribe_form {
    margin-bottom: 25px;
}

.sub_body_right {
	margin-left: 310px;
}

.sub_body_right ul {
	margin-left: 58px;
	margin-bottom: 64px;
}

input[name="sub_email"] {
    border: 1px solid #797979;
    width: 59%;
    outline: none;
    resize: none;
    font: 16px Verdana;
    padding: 11px;
    padding-left: 19px;
    height: 44px;
    color: #818181;
    float: left;
    text-transform: uppercase;
    margin-left: 57px;
}

input[name="sub_button"] {
    background-color: #81bb34;
    border: 0px;
    color: #fff;
    padding: 0px 10px;
    cursor: pointer;
    width: 215px;
    height: 43px;
    font: 18px Verdana;
    text-transform: uppercase;
    margin-left: 6px;
}

input[name="sub_button"]:hover {
    opacity: 0.8;
}

.subscribe_form {
    margin-bottom: 25px;
}

.front_block .last_posts .first_post .img {
    height: 480px;
}

#main_content #article .content_text blockquote p {
	padding-left: 15px;
}

.sub_body input[type="checkbox"] {
    display: none;
}

.sub_body label:before {
    content: '123';
    font-size: 0px;
    width: 31px;
    height: 31px;
    background: #fff;
    display: block;
    float: left;
    outline: 1px solid #797979;
    margin-top: 2px;
    cursor: pointer;
}

.sub_body input[type=checkbox]:checked + label:before {
    border: 10px solid #fff;
    background-color: #006c9e;
    width: 11px;
    height: 11px;
}

@media (max-width: 1005px) {
	input[name="sub_email"] {
		width: 56%;
	}
	input[name="sub_button"] {
		float: right;
		width: 29%;
		margin-left: 0;
    	margin-right: 5px;
	}
}

@media (max-width: 920px) {
	.sub_body_right .title {
    	margin-bottom: 23px;
	}
}

@media (max-width: 900px) {
	input[name="sub_email"] {
		width: 100%;
    	float: right;
    	margin-left: 0;
    	margin-right: -15px;
	}
	input[name="sub_button"] {
    	display: block;
    	width: 100%;
    	margin-right: -15px;
	}
	.subscribe_form {
		padding-right: 20px;
	}
}

@media (max-width: 720px) {
	.sub_body_left {
    	float: none;
	}
	.sub_body_right {
    	margin-left: 5px;
    	margin-top: 45px;
	}
	.sub_body_right ul {
    	margin-left: 5px;
	}
	input[name="sub_email"] {
    	width: 100%;
    	float: none;
    	margin-left: 5px;
    	margin-right: 0;
	}
	input[name="sub_button"] {
    	margin-right: 0;
    	margin-left: 5px;
    	float: none;
	}
	.subscribe_form {
		padding-right: 10px;
	}
	.sub_body ul > li > label {
		display: block;
	}
	.sub_body ul > li > label:before {
		margin: 0 10px 0 0;
	}
	.sub_body_right .title {
    	margin-bottom: 41px;
	}
}

.tags {
    font: 11px Tahoma;
    color: #0171a1;
    text-decoration: underline;
    margin: 0px 0 10px;
    word-wrap: break-word;
    padding-left: 10px !important;
}

.tags span {
    margin-right: 6px;
}

img.avatar {
	margin-left: -15px;
}

.post_name_single {
    margin-bottom: 27px;
}

.post_page h1 {
	margin-bottom: 13px;
}

.post_dates {
	font: 11px Verdana;
	white-space: nowrap;
	padding-left: 10px;
}


#main_content table tr td {
	/*word-break: break-all;*/
}

.front_block .last_posts .first_post .img {
    height: 480px;
}

.last_posts li .img {
    float: left;
    background-size: cover;
    width: 100%;
    height: 239px;
}

#min_menu .menu-header ul li.quest_point {
	display: none;
}

@media (max-width: 600px) {
	span.author_name {
		margin-bottom: 20px;
	}
	#main_content .post_name_single {
		width: 217px;
    	float: right;
	}
}

@media (max-width: 354px) {
	.head_right > .question {
		display: none;
	}
	body #min_menu .menu-header ul li.quest_point {
		display: block;
	}
}

.block_products__title {
	width: 100%;
	background: #89bf41;
	color: #fff;
	font: 16px Tahoma;
	text-transform: uppercase;
	height: 40px;
	margin-top: 15px;
	margin-bottom: 2px;
}

.info_blocks > div.visible {
    margin-left: 5px;
}

.block_products__title-left {
	padding: 11px 30px;
   	display: block;
    float: left;
}

.block_products__title-right {
	float: right;
	border-left: 2px solid #fff;
    padding: 11px 67px;
}

.services_list_inside img {
    width: 108px;
    height: 108px;
    object-fit: cover;
    background: #ededed;
    float: left;
    border: 10px solid #fff;
    outline: 1px solid #dcdcdc;
    margin-left: 1px;
    margin-top: 1px;
    margin-right: 25px;
}

.services_list_inside .category {
    height: 32px;
    padding: 6px;
    padding-left: 30px;
    text-align: left;
    font: 16px Tahoma;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.services_list_inside .category {
    background: #dedede;
}

.services_list_inside .services_list_inside_body {
    background: #ededed;
    height: 110px;
    margin-bottom: 11px;
    display: flex;
    justify-content: space-between;
}

.services_list_inside .services_list_inside_body:hover {
	outline: 1px solid #dcdcdc;
}

.services_list_inside_price {
    font: 18px Tahoma;
    width: 177px;
    height: 110px;
    border-left: 2px solid #fff;
    padding-left: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.services_list_inside .services_list_inside_body:nth-child(even) .services_list_inside_price {
    background: #dedede;
}

.services_list_inside_name {
    text-transform: uppercase;
    font: 18px Tahoma;
    display: flex;
    align-items: center;
    width: 60%;
}

.services_list_inside_name a {
   	width: 400px;
}

.services_list_inside_img {
	/*min-width: 118px;*/
}

@media (max-width: 920px) {
	.block_products__title {
		text-align: center;
	}
	.block_products__title-left {
    	width: 80%;
	}
	.block_products__title-right {
    	padding: 11px;
    	width: 20%;
	}
	.services_list_inside_price, services_list_inside_body img, .services_list_inside_img {
		width: 20%;
	}
	.block_products {
		width: 100%;
    	padding-right: 10px;
    	padding-left: 10px;
    	margin: 0;
	}
	.info_blocks > div.visible {
		margin-left: 0px;
	}
	.front_firms_list .title, #firm_card .title {
		margin-left: 10px;
	}
}

@media (max-width: 720px) {
	.services_list_inside_name, .services_list_inside_price {
		font-size: 16px;
	}
}

@media (max-width: 620px) {
	.services_list_inside_name, .services_list_inside_price {
		font-size: 16px;
	}
	.services_list_inside img {
		width: 100%;
		min-width: 1px;
	}
	.services_list_inside_name {
		padding-left: 20px;
	}
}

@media (max-width: 420px) {
	.services_list_inside_name {
		width: 40%;
	}
	.services_list_inside_name {
    	padding-left: 10px;
    	width: 40%;
    	padding-right: 10px;
	}
	.services_list_inside_price, services_list_inside_body img, .services_list_inside_img, .block_products__title-right {
    	width: 30%;
	}
	.block_products__title-left {
		width: 70%;
	}
	.services_list_inside_name, .services_list_inside_price {
		font-size: 14px;
	}
}

/* new */
.block_comments {
    margin-top: 15px;
    margin-bottom: 15px;
}

.block_portfolio span {
    display: block;
    background: #dcdcdc;
    width: 188px;
   	padding: 10px 20px;
    font: 14px Corbel;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    outline: 1px solid #dcdcdc;
}

.block_portfolio img {
    width: 188px;
    height: 188px;
    padding: 10px;
    outline: 1px solid #dcdcdc;
    display: block;
}

.block_portfolio li {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    margin-bottom: 20px;
}

.block_portfolio li:first-child, .block_portfolio li:nth-child(5n+1){
	margin-left: 0;
}

.block_portfolio li:nth-child(5n+5) {
    margin-right: 0;
}

.block_portfolio ul {
    margin: 25px 0;
}

.info_blocks div.block_portfolio {
    margin-left: 0px;
}

@media (max-width: 1020px) {
	.block_portfolio ul {
    	text-align: justify;
    	text-align-last: left;
    	padding: 0 20px;
	}
	.block_portfolio li:first-child, .block_portfolio li:nth-child(5n+1){
		margin-left: 5px;
	}
	.block_portfolio li:nth-child(5n+5) {
    	margin-right: 5px;
	}
}

@media (max-width: 660px) {
	.block_portfolio img {
		width: 100%;
    	height: auto;
	}
	.block_portfolio span {
    	width: 100%;
	}
}

#article #lib_full h2.lib_title {
    font: 14px Tahoma;
    color: #0171a1;
    text-transform: uppercase;
    text-decoration: underline;
}

#article #lib_full h2.lib_title:hover {
    text-decoration: none;
}

#lib_full li {
    font: 14px Tahoma;
    text-decoration: underline;
}

#lib_full li:hover {
    text-decoration: none;
}

.lib_left_block {
    width: 50%;
    float: left;
}

.lib_right_block {
    width: 50%;
    float: right;
}

div#lib_full {
    margin: 0px 15px;
}

.rekl {
    display: block;
    position: absolute;
    right: 22px;
    top: 29px;
}

.popular {
    float: left;
    width: 53%;
}

.popular .popular_posts .popular_post {
    width: 100%;
}

.last_answer {
	width: 47%;
	float: right;
}

.ava {
    margin-left: 15px;
}

.last_answer div#sidebar_comments {
    background: #ededed;
    margin-bottom: 20px;
    min-height: 96px;
}

.last_answer .title {
    font: 16px Tahoma;
    text-transform: uppercase;
    padding: 3px 10px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    min-height: 47px;
}

.last_answer .tags {
	font: 10px Tahoma;
	color: #ababab;
	text-transform: uppercase;
	display: flex;
    padding: 0 10px;
    margin: 0;
    margin-bottom: 3px;
}

.date_answer {
    font: 12px Tahoma;
    color: #0171a1;
    text-transform: uppercase;
    background: #dddddd;
    padding: 10px 10px;
    display: flex;
    width: 47%;
    float: left;
}

.count_answer {
    font: 16px Tahoma;
    color: #fff;
    text-transform: uppercase;
    background: #0171a1;
    padding: 7.5px 18px;
    display: flex;
    width: 153px;
    justify-content: center;
    float: right;
}

.lib_left_block {
    width: 27%;
    float: left;
    margin-right: 113px;
}

.lib_right_block {
    width: 27%;
    float: left;
}

@media (max-width: 860px) {
	.lib_left_block {
    	margin-right: 50px;
	}
}

@media (max-width: 700px) {
	.lib_left_block {
    	width: 100%;
    	float: none;
    	padding-right: 254px;
	}
	.lib_right_block {
    	width: 100%;
    	float: none;
    	margin-bottom: 20px;
	}
	.rekl {
    	top: 0px;
	}
}

@media (max-width: 1024px) {
	.date_answer {
    	display: block;
    	width: 100%;
    	clear: both;
	}
	.count_answer {
    	width: 153px;
    	justify-content: center;
    	float: right;
    	position: relative;
    	top: -34px;
	}
	.last_answer div#sidebar_comments {
		clear: both;
		min-height: 131px;
	}
}

.single_posts #article p, 
.single_posts #article div, 
.single_posts #article table tr td,
.single_posts #article ul li,
.single_posts #article ul li strong,
.single_posts #article strong,
.single_posts #article blockquote
{
	line-height: 24px;
}

.questionsPage__item__title img {
    margin-top: 19px;
}

.postMain__author .postMain__author__img img {
	margin-left: 0;
}

.postMain .postMain__main a, 
.postMain .postMain__author .postMain__author__img a {
	color: #000;
	text-decoration: underline;
}

.postMain .postMain__author .postMain__author__img a:hover {
	text-decoration: none;
}

.frontPosts__list .postFooter__tags a,
#article .postFooter__tags a {
	text-decoration: none;
	color: #000;
}

#main_content .postMain__title__text a {
	text-decoration: none;
}

#main_content .postMain__title__text a:hover {
	text-decoration: underline;
}

#full_content #article .content_text li {
    background: none;
    padding-left: 0;
}

#article .postMain__images__link span, #article .postMain__images__link p, #article .postMain__images__link a {
    color: #fff;
    text-decoration: none;
}

#infscr-loading {
	text-align: center;
	width: 100% !important;
}

#infscr-loading em {
    position: relative;
    bottom: 37px;
}

.single_posts #article p strong {
    font-family: Verdana;
}

/* new */
.head_right > #header_auth > a {
    cursor: pointer;
}

#autorize {
    width: 520px;
    min-height: 370px;
    position: fixed;
    z-index: 999999;
    background: #fff;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 200px;
    border-top: 12px solid #f0d500;
    border-left: 12px solid #83bc37;
    border-bottom: 12px solid #0171a1;
    padding-right: 12px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0d500), to(#0171a1));
    background-image: -webkit-linear-gradient(#f0d500 50% , #0171a1 50%);
    background-image: -moz-linear-gradient(#f0d500 50% , #0171a1 50%), -moz-linear-gradient(#f0d500 50% , #0171a1 50%);
    background-image: -o-linear-gradient(#f0d500 50% , #0171a1 50%), -o-linear-gradient(#f0d500 50% , #0171a1 50%);
    background-image: linear-gradient(#f0d500 50% , #0171a1 50%), linear-gradient(#f0d500 50% , #0171a1 50%);
    -moz-background-size: 3px 100%;
    background-size: 12px 100%;
    background-position: -12px 0px, 100% 0px;
    background-repeat: no-repeat;
    display: none;
}

.autorize_menu__block .response {
    display: block;
    clear: both;
    width: 100%;
}

#fon_autorize {
    background: rgba(0,0,0,0.59);
    position: fixed;
    z-index: 999998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

div#fon_autorize div {
	position: static;
}

.autorize_menu__button {
    background: #e0e0e0;
    color: #000;
    display: inline-block;
    padding: 5px 18px;
    font: 18px Tahoma;
    text-transform: lowercase;
    cursor: pointer;
}

.autorize_menu__button.active {
    background: #83bc37;
    color: #fff;
    cursor: default;
    position: relative;
}

.autorize_menu__button.active:before {
    content: '';
    border: 9px solid transparent;
    border-top: 8px solid #83bc37;
    position: absolute;
    top: 31px;
    width: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.autorize_menu {
    text-align: center;
    margin: 23px;
}

.autorize_menu__block {
	display: none;
}

.autorize_menu__block.visible {
	display: block;
}

.autorize_social {
    font: 18px Tahoma;
    text-align: center;
    min-height: 118px;
}

#loginform,
#registrationform,
#lostpasswordform {
    padding: 0 38px;
}

#loginform input,
#registrationform input,
#lostpasswordform input {
    width: 100%;
    height: 32px;
    background: #fff;
    font: 14px Tahoma;
    text-transform: none;
    border: 1px solid #e0e0e0;
    padding: 5px 12px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

input#chck {
    display: none;
}

#loginform label {
    cursor: pointer;
    font: 14px Tahoma;
    position: relative;
    top: 7px;
    padding-left: 17px;
    text-transform: uppercase;
}

#loginform label:before {
    content: '123';
    font-size: 0px;
    width: 30px;
    height: 30px;
    background: #fff;
    display: block;
    float: left;
    outline: 1px solid #e0e0e0;
    margin-top: 2px;
    cursor: pointer;
}

#loginform input[type=checkbox]:checked + label:before {
    border: 8px solid #fff;
    background-color: #006c9e;
    width: 14px;
    height: 14px;
}

#loginform input[type="submit"],
#registrationform input[type="submit"],
#lostpasswordform input[type="submit"] {
    width: 170px;
    height: 33px;
    background: #0171a1;
    font: 18px Tahoma;
    color: #fff;
    cursor: pointer;
    float: right;
}

#article .author_name > a {
	color: #000;
}

ul.frontPosts__list {
	margin-bottom: 20px;
}

/* 07.07.2016 */

.my_links {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.postMain {
	position: relative;
}

.postMain__author,
.postMain__title {
	z-index: 2;
}

.personal_right_top {
    width: 300px;
    float: left;
}

.personal_right .name {
    font: 24px Tahoma;
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
}

.contacts {
    line-height: 34px;
    border-top: 1px solid #dcdcdc;
    padding-top: 21px;
    margin-top: 9px;
    padding-left: 6px;
}

.contacts span {
    width: 121px;
    float: right;
}

.personal_info {
	margin-left: 300px;
    padding-top: 8px;
}

.personal_right .edit {
    color: #818181;
    text-decoration: underline;
    font: 14px Tahoma;
    display: block;
    min-height: 47px;
    position: relative;
}

.personal_right .status_active {
    color: #c2c2c2;
    font: 14px Tahoma;
    float: right;
    position: absolute;
    right: 40px;
    top: 0px;
}

.honors {
    display: block;
    padding-left: 27px;
    text-align: center;
    align-items: center;
    padding-top: 31px;
    font-size: 12px;
    /*margin-top: 30px;*/
    border-top: 1px solid #dcdcdc;
    /*white-space: nowrap;*/
}

.honors.log{
	/*margin-top: 28px;*/
}

.honors_one {
    width: 104px;
    display: inline-block;
}

.all_honors {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: left;
    padding-left: 10px;
    width: 60px;
    display: inline-block;
    vertical-align: top;
    padding-top: 6px;
    white-space: normal;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.all_honors {
    width: 98px;
}

.all_honors a {
    cursor: pointer;
}

.full_personal_description {
    position: relative;
    bottom: 125px;
}

@media(max-width: 1014px) {
	.personal_info .photo {
        /*width: 51%;*/
        width: 100%;
        float: right;
        border-top: 1px solid #dcdcdc;
        padding-top: 16px;
        margin-top: 13px;
        text-align: left;
        padding-left: 0;
        margin-bottom: 35px;
        margin-top: 30px;
    }
    #main_content .honors {
        text-align: left;
        /*width: 49%;*/
        width: 100%;
        float: left;
        clear: right;
        padding-left: 0;
    }
    .personal_right_top {
        width: 100%;
        float: none;
    }
}

@media (max-width: 1010px) {
    .honors:last-line {
        text-align: left;
    }
    .personal_info {
        margin-left: 0;
        text-align: left;
    }
    .personal_right .status_active {
        top: 0px;
        float: none;
    	position: static;
    }
    .honors_one {
        text-align: center;
        margin-bottom: 10px;
    }
    .all_honors {
        /*width: 71px;*/
        /*padding-left: 0;*/
        /*margin: 0 31px;*/
    }
    .personal_about {
        width: 100%;
        bottom: 0;
    }
    .personal_description {
        bottom: 0;
        width: 100%;
    }
    .postMain__title__text a {
    	font-size: 18px;
    }
    .personal_right .edit {
    	float: left;
    	margin-right: 27px;
    }
    .full_personal_description {
    	margin-top: 47px;
    	bottom: 50px;
    	margin-left: -220px;
    }
    .personal_about .social {
    	float: none;
    	margin-left: 120px;
	}
	.all_foto {
		margin: 0 9px;
	}
	.personal_right {
		border-bottom: none;
	}
	.contacts > div {
    	max-width: 300px;
	}
	.personal_description {
		padding-right: 10px;
	}
	.personal_tags, .info_blocks {
		bottom: 0px;
	}
	.personal_menu ul {
		display: block;
		text-align: center;
    	margin: 0;
    	padding: 0 10px;
    	width: 100%;
    	float: left;
	}
	.personal_menu ul li {
    	width: 33%;
    	border: 1px solid #0171a1;
    	margin-bottom: 4px;
	}
	.personal_menu ul li:nth-child(odd) {
    	border: 1px solid #0171a1;
	}
	.personal_wrap {
		position: relative;
    	bottom: 26px;
    	margin-left: 10px;
    	float: left;
	}
	.personal_menu ul li:first-child {
		margin-top: 21px;
	}
}

@media (max-width: 835px) {
	.personal_menu ul li {
		width: 49.5%;
	}
}

@media (max-width: 770px) {
	.personal_right {
		border-bottom: none;
	}
	.honors {
		width: 100%;
	}
	.personal_info .photo {
		width: 100%;
    	border-bottom: 1px solid #dcdcdc;
    	padding: 24px 0 12px;
	}
	.personal_tags {
		position: relative;
    	bottom: 0px;
	}
	.info_blocks {
		position: relative;
    	bottom: -15px;
    	clear: both;
    	margin-bottom: 15px;
	}
	.postFooter__link a {
		padding-top: 15px;
	}
}

@media (max-width: 600px) {
	.postMain__title__text a {
		font-size: 16px;
	}
	.personal_left {
		float: none;
	}
	.personal_left img.photo {
		float: left;
    	margin-right: 14px;
    	/*width: 100%;*/
    	padding: 0 10px;
    	margin: 0;
	}
	.personal_right {
		clear: both;
    	margin-left: 10px;
	}
	.personal_tags {
		bottom: 24px;
		margin: 0 10px;
	}
	.personal_wrap {
		width: 100%;
		height: 37px;
		padding-right: 24px;
	}
	.personal_wrap .app_send {
		width: 100%;
	}
	.personal_wrap .app_send_2 {
		position: relative;
    	bottom: 39px;
	}
	.info_blocks {
		bottom: 0;
	}
	.full_personal_description {
		margin-bottom: 10px;
		margin-left: 0px;
	}
}

@media (max-width: 460px) {
	.personal_menu ul li {
		width: 100%;
	}
	.personal_left img.photo {
		float: none;
    	display: block;
    	width: 90%;
    	height: auto;
    	margin: 0 auto;
	}
	.personal_left .info {
		font-size: 14px;
	}
}

@media (max-width: 400px) {
	.personal_menu ul {
		margin: 0;
	}
	.personal_menu ul li {
		width: 100%;
    	height: 33px;
    	padding: 0px;
    	text-align: center;
    	line-height: 31px;
    	/*border: none;*/
    	text-decoration: underline;
	}
	.personal_left img.photo {
		float: none;
    	margin: 0 auto;
    	width: 100%;
    	padding: 0 10px;
	}
}

.single_posts .wp-caption {
    display: inline-block;
}

.info .count_subsribe_user,
.info .count_subsribe {
	font-weight: bold;
}

.front_block .last_posts .first_post a:hover,
.front_block .last_posts ul li .title > a:hover,
.postMain .postMain__main a:hover,
.postMain .postMain__author .postMain__author__img a:hover {
	text-decoration: none;
}

.frontPosts__list .postFooter__tags a:hover, #article .postFooter__tags a:hover {
	text-decoration: underline;
}

#autorize p {
    text-align: center;
    font: 20px Tahoma;
    padding: 20px 0;
}

#autorize p a {
    width: 170px;
    height: 33px;
    background: #0171a1;
    font: 18px Tahoma;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 5px;
}

@media (max-width: 1024px) {
	#autorize {
		max-width: 520px;
		height: auto;
		min-height: 370px;
		width: auto;
	}
	img.avatar {
	    margin-left: 0px;
	}
}

#full_content .post_page #article .content_text ul li {
	padding-left: 25px;
    background: url(../img/li_point.png) left top 5px no-repeat;
}

#full_content .post_page #article ol {
    /*list-style-type: none;*/
    counter-reset: num;
}

#full_content .post_page #article ol li::before {
    /*content: counter(num) '. ';*/
    /*counter-increment: num;*/
    /*color: #006c9e;*/
    /*font-family: Verdana;*/
}

#full_content .post_page ol {
    list-style: decimal inside;
}

#infscr-loading div {
    font-size: 20px;
    position: relative;
    top: 25px;
    color: black;
    cursor: default;
}

#full_content .post_page #article .content_text .frontPosts__list ul li {
    background: none;
    padding-left: 0;
    color: #006c9e;
} 

#full_content #article .content_text li em {
    color: #000;
    font-family: Tahoma;
}

.more_author_posts {
    position: static;
    bottom: 0;
    right: 0;
    background: url('../img/add_more_firm_ico.png') no-repeat left 85px center;
    font: 14px/14px 'Tahoma';
    text-decoration: underline;
    cursor: pointer;
    color: #0171a1;
    border: 0;
    padding-left: 24px;
    outline: 1px solid;
    width: 300px;
    height: 32px;
    text-align: center;
    padding: 8px;
}

.more_author_posts:hover {
    text-decoration: none;
}

.frontPosts > .frontPosts__list {
	display: none;
}

.frontPosts > .frontPosts__list.visible {
	display: block;
}

.postFooter__text {
    color: #000;
}

#firm_card .firm_tags > .info_blocks {
	position: static;
    bottom: 0;
}

#full_content #article .content_text .navigate_firm li {
	background-color: #dcdcdc;
	padding-left: 22px;
}

#full_content #article .content_text .navigate_firm li.active {
	background-color: #0171a1;
}

#full_content .post_page #article .content_text #bbpress-forums ul li {
    padding-left: 0;
    background: none;
}

.postFooter__tags, .postFooter__tags a {
	color: #000;
}

.postFooter__tags a:hover {
	text-decoration: underline;
}

#article .content_text p span {
    text-decoration: none !important;
}

.menu-header {
	position: relative;
}

.menu-header ul > li {
	position: relative;
}

.menu-header ul li > ul {
	display: none;
    /*width: 240px;*/
    background: #fff;
    border: 1px solid #0171a1;
    /*column-count: 3;*/
}

.menu-header .menu-item ul li a {
    padding: 0;
    height: auto;
    padding: 5px;
    text-align: left;
    margin: 0;
    color: #0171a1;
    display: block;
}

.menu-header .menu-item ul li {
    height: auto;
    display: inline-block;
    margin: 0;
    text-transform: none;
    text-align: left;
    border: none;
    width: 240px;
}

.menu li .sub-menu > li ul.sub-menu {
    position: absolute;
    top: -6px;
    left: 235px;
}

.menu li .sub-menu > li ul.sub-menu {
    position: static;
    display: block;
    border: none;
    color: #0171a1;
    width: auto;
    padding: 0;
}

.menu li .sub-menu > li ul.sub-menu a:hover {
    /*background: #f1f1f1;*/
}

.menu-header .menu > li > .sub-menu > li > a {
    background: #0171a1;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1px;
}

.menu-header .menu-item ul li a:hover {
    background: #dedede;
    color: #000;
}

.x_loading {
	background: url(../img/infinitiscroll.gif) center bottom 10px no-repeat;
	padding-bottom: 62px;/*50px;*/
}

#bbpress-forums strong {
    font-weight: bold;
}

#bbpress-forums em {
    font-style: italic;
}

.info .name {
    word-break: break-all;
    width: 213px;
}

@media (max-width: 600px) {
	.info .name {
    	word-break: normal;
    	width: auto;
	}
}

#min_menu .menu-header ul.sub-menu {
    display: none;
}

#min_menu .menu-header ul li a {
    display: block;
    text-align: left;
    vertical-align: top;
    padding: 16px 19px 7px;
    border-radius: 0;
    background: #0070a0;
    border: 0px solid #000;
    font: 16px/16px Tahoma;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 auto;
    height: 45px;
}

#min_menu .menu-header ul li a:hover {
    background: #83bc37;
    color: #000;
}

#min_menu .menu-header ul li {
	width: 100%;
	margin-bottom: 1px;
}

#min_search {
	margin-bottom: 1px;
}

#min_menu .menu-header ul {
	padding-top: 0px;
}

.min_menu_act.active {
    background: url(../img/min_menu_up.png) center center no-repeat;
}

/* ulogin */
.ulogin_label, .ulogin_panel {
    text-align: center;
    margin: 0 auto;
    float: none !important;
}

.ulogin-button-facebook, 
.ulogin-button-odnoklassniki, 
.ulogin-button-vkontakte {
    width: 40px !important;
    height: 40px !important;
    background: url(../img/ulogin_ico.png) no-repeat !important;
}

.ulogin-button-facebook {
	margin-right: 15px !important;
	background-position: -111px -1px !important;
}

.ulogin-button-odnoklassniki {
	margin-right: 15px !important;
    background-position: -55px -1px !important;
}

.ulogin-button-vkontakte {
	margin-right: 15px !important;
    background-position: -1px -1px !important;
}

.ulogin-buttons-container {
	width: auto !important;
}
/* end ulogin */

.contacts_name_uppercase {
	text-transform: capitalize;
}

.postMain__images__link a:hover {
    /*transition: 0.5s;*/
}

.record .mce-toolbar-grp.mce-container {
    bottom: auto;
}

#addPost .select {
    width: 100%;
    height: 210px;
    padding: 10px 0 10px 16px;
    border-radius: 4px;
    font: 14px Verdana;
}

.questionsFront__item__views-single {
    padding-top: 12px;
    border: none;
}

.questionsFront__item__answers {
    font-size: 12px;
}

.questionsFront__item__answers b {
    font-size: 12px;
    display: inline-block;
    padding-top: 2px;
    font-weight: normal;
}

.questionsFront__item__views b {
    color: #000;
}

.single_all-forums.single_posts #article div.questionsFront__item__left,
.single_all-forums.single_posts #article div.questionsFront__item__views {
    line-height: 22px;
}

.wp-editor-container .mce-toolbar .mce-btn-group>div {
    white-space: inherit;
}

.menu-header ul li > ul {
    display: none;
    position: absolute;
    top: 51px;
    left: 0;
    width: auto;
    height: auto;
    z-index: 9999;
    /*display: block;*/
    padding: 5px;
}

@media(max-width: 782px){
	#comment-image-wrapper {
		top: 3px;
    	left: 404px;
	}
	.comment_image_button {
		padding: 6px 13px 6px 30px;
	}
	#comment_image {
		height: 30px;
	}
	.comment_image_button {
		background-position: 4px 7px;
	}
	#comments #commentform #submit {
	    margin-top: 45px;
	}
}

@media(max-width: 585px){
	#comment-image-wrapper {
	    top: 43px;
	    left: 81px;
	}
}

@media(max-width: 492px){
	#comments #commentform #submit {
	    margin-top: 84px;
	}
}

@media(max-width: 444px){
	img.avatar {
	    display: none;
	}
	.comment_photo img.avatar {
	    display: block;
	}
	.wp-editor-container {
		padding-left: 0;
	}
	.form-submit {
	    margin-left: 9px;
	}
	#comments #commentform #submit {
	    width: 100%;
	}
	#comment-image-wrapper {
	    top: -96px;
	    left: 12px;
	}
}

@media(max-width: 400px){
	#comments #mceu_4 {
		display: none;
	}
	.comment-respond {
		position: static;
	}
	#comments {
		padding: 0;
	    padding-left: 20px;
	}
}

/* 14.12.2016 */
#main_content .bbp-reply-author .bbp-author-name {
	text-transform: none;
}