/* Для всей страницы */
#personal_page {
	padding-top: 25px;
	font: 14px Tahoma;
}
/* Конец для всей страницы */

/* Левый блок информации */
.personal_left {
    float: left;
    font: 12px Tahoma;
}

.personal_left img.photo {
    margin-bottom: 17px;
    width: 235px;
    height: 235px;
    object-fit: cover;
}

.personal_left .info {
    line-height: 30px;
    padding: 0 11px;
}

.personal_left span {
    float: right;
    width: 46px;
    display: flex;
    text-align: left;
}

.count_subsribe_user span {
    background: url(../img/count_subsribe_user.png) top 4px right 0px no-repeat;
}

.count_subsribe span {
    background: url(../img/count_subsribe.png) top 8px right 4px no-repeat;
}
/* Конец левого блока информации */

/* Правый блок информации */
.personal_right {
    margin-left: 249px;
    /*border-bottom: 1px solid #dcdcdc;*/
    /*padding-bottom: 6px;*/
    /*margin-bottom: 20px;*/
}

.personal_right .name {
    font: 24px Tahoma;
}

.personal_right .edit {
    color: #818181;
    text-decoration: underline;
    font: 14px Tahoma;
}

.personal_right .edit:hover {
    text-decoration: none;
}

.personal_right .status_active {
    color: #c2c2c2;
    font: 14px Tahoma;
}

.personal_right_top {
    width: 300px;
    float: left;
}

.personal_right .status {
    font: 12px Tahoma;
    color: #818181;
}
/* Конец правого блока информации */

/* Контактная информация */
.contacts {
	line-height: 34px;
}

.contacts span {
    width: 130px;
    float: right;
}
/* Конец контактной информации */

/* Награды */
.honors {
    display: flex;
    padding-left: 40px;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    font-size: 12px;
    position: relative;
}

.honors_one {
    width: 104px;
    display: inline-block;
}

.honors span {
    display: block;
    max-width: 84px;
    margin: 0 auto;
    padding-top: 7px;
}

.all_honors {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: left;
    padding-left: 10px;
    width: 60px;
}

.all_honors:hover {
    text-decoration: none;
}
/* Конец награды */

/* Об авторе */
.personal_about .photo {
    display: flex;
    align-items: center;
}

.all_foto {
    width: 88px;
    height: 88px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 9px;
    padding-left: 23px;
    color: #fff;
    background: #818181;
    margin-bottom: 2px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.all_foto:hover {
    text-decoration: none;
}

.personal_about span {
    font-size: 18px;
}

.personal_description {
    font: 14px Verdana;
    padding-right: 100px;
    padding-left: 18px;
    height: 54px;
    overflow: hidden;
}

.personal_description.full {
    height: auto;
    overflow: inherit;
}

.description_turn {
    border: 1px solid #dcdcdc;
    width: 180px;
    text-decoration: underline;
    background: url(../img/turn.png) center right 18px no-repeat;
    cursor: pointer;
}

.description_turn:hover {
    text-decoration: none;
}

.description_turn a {
    display: flex;
    padding: 3px 10px;
}
/* Конец об авторе */

/* Меню */
.personal_wrap {
    float: left;
    width: 234px;
}

.personal_menu ul li.active {
    background-color: #0171a1;
    color: #fff;
    cursor: default;
}

.personal_menu ul li {
    display: inline-block;
    padding: 13px 14.7px;
    text-decoration: underline;
    font: 14px/14px Tahoma;
    cursor: pointer;
    text-transform: uppercase;
    border-right: 1px solid #0171a1;
}

.personal_menu ul li:first-child {
    text-decoration: none;
}

.personal_wrap .app_send {
    padding: 10px 19px 12px;
    float: left;
    width: 180px;
}

.personal_wrap .application_button {
    background: #89bf41;
    text-transform: lowercase;
    text-decoration: underline;
    color: #fff;
    font: 14px Tahoma;
    display: block;
}

.personal_wrap .application_button:hover {
    text-decoration: none;
}

.personal_wrap .app_send_2 {
    width: 52px;
    height: 39px;
    float: right;
    background: url(../img/app_send.png) center / 28px 15px no-repeat #89bf41;
}

.personal_menu ul {
	display: inline-flex;
    align-items: center;
    justify-content: space-between;
    /*margin-left: 17px;*/
}

.personal_tags {
    margin-bottom: 16px;
}

.author_page .personal_menu {
    float: right;
}
/* Конец меню */

/* Вкладка ответы */
.questionsPage__title {
	font: 24px/24px Tahoma;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 35px;
    margin-top: 15px;
}

.questionsPage__item {
	margin-bottom: 16px;
	background: #f1f1f1;
	min-height: 139px; /*126px;*/
	padding-left: 20px;
	border-left: 8px solid #0171a1;
}

.questionsPage__item:nth-child(even) {
	border-left: 8px solid #c8c8c8;
}

.questionsPage__item__right {
	float: right;
	width: 182px;
	/*border-left: 1px solid #ababab;*/
	padding-left: 25px;
	padding-top: 14px;
	color: #0171a1;
	font: 10px/normal Tahoma;
	text-transform: uppercase;
	padding-bottom: 21px;
	position: relative;
	background: url(../img/l_bg.png) repeat-y #f1f1f1;
    min-height: 139px;
}

.questionsPage__item__center {
    margin-right: 200px;
    clear: left;
}

.questionsPage__item > div {
	/*height: 100%;*/
}

.questionsPage__item__left b {
	font: 30px/30px Tahoma;
	font-weight: normal;
	color: #000;
	display: block;
}

.questionsPage__item:nth-child(2n) .questionsPage__item__left b {
	color: #fff;
}

.questionsPage__item__views {
	margin-bottom: 12px;
}

.questionsPage__item__center {
	padding-top: 14px;
	position: relative;
}

.questionsPage__item__title {
    font: 18px/18px Tahoma;
    margin-bottom: 15px;
    text-transform: normal;
    color: #000;
    text-decoration: none;
    display: block;
}

.questionsPage__item__descr {
    font: 14px/normal Tahoma;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.questionsPage__item__expert__avatar {
	display: inline-block;
	vertical-align: top;
	width: 35px;
	height: 35px;
	overflow: hidden;
}

.questionsPage__item__expert__avatar img.avatar {
	margin-left: 0;
}

.questionsPage__item__times div {
    float: left;
    padding: 5px 0;
}

.questionsPage__item__expert {
	color: #000;
	font: 12px/normal Tahoma;
	margin-top: 8px;
	margin-bottom: 22px;
	text-transform: none;
	padding-top: 26px;
}

.questionsPage__item__right > a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 25px;
    padding-top: 14px;
}

.questionsPage__item__expert__name {
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 5px;
	width: 70px;
	margin-left: 12px;
}

.questionsPage__item__bottom {
	position: absolute;
	bottom: 10px;
	width: 100%;
	color: #ababab;
	text-transform: uppercase;
	font: 10px/10px Tahoma;
	text-align: right;
}

.questionsPage__item__tags {
	float: left;
}

.questionsPage__item__tag {
	margin-left: 40px;
	text-decoration: underline;
}

.questionsPage__item__tag:first-child {
	margin-left: 0;
}

span.questionsPage__item__times {
    text-transform: uppercase;
    font: 10px Tahoma;
    color: #7d7d7d;
}

.questionsPage__item__descr span {
    color: #0171a1;
    text-decoration: underline;
}
/* Конец вкладки ответы */

.personal_info .photo {
    display: block;
    vertical-align: top;
    text-align: right;
    margin-top: 23px;
    padding-left: 20px;
}

.info_blocks > div {
    display: none;
}

.visible > div {
    display: block;
}

.personal_about {
    width: 321px;
    height: 27px;
    position: relative;
    bottom: 25px;
}

.personal_about > span {
    float: left;
    padding-left: 6px;
}

.personal_about .social {
    float: right;
}

.personal_description {
    position: relative;
    bottom: 14px;
}

.personal_tags {
    position: relative;
    bottom: 73px;
}

.info_blocks {
    position: relative;
    bottom: 73px;
}

.info .name {
    font: 24px Tahoma;
    margin-bottom: 3px;
}

/* Страница редактирования профиля */
#profileform input {
    width: 30%;
    height: 32px;
    background: #fff;
    font: 14px Tahoma;
    text-transform: uppercase;
    border: 1px solid #e0e0e0;
    padding: 5px 12px;
    display: block;
    margin-bottom: 10px;
}

#profileform input[type="submit"] {
    width: 170px;
    height: 33px;
    background: #0171a1;
    font: 18px Tahoma;
    color: #fff;
    cursor: pointer;
}

#profileform input[type="submit"]:hover,
#profileform3 input[type="submit"]:hover {
    opacity: 0.7;
}

#profileform textarea {
    width: 30%;
    background: #fff;
    font: 14px Tahoma;
    text-transform: uppercase;
    border: 1px solid #e0e0e0;
    padding: 5px 12px;
    display: block;
    margin-bottom: 10px;
}

#profileform img {
    width: 250px;
    height: 250px;
    display: block;
    float: none;
    margin-left: 0px;
}

.contacts > div {
    clear: right;
}

.contacts span {
    white-space: nowrap;
}

.personal_empty {
    padding: 7px;
}

#personal_page .status {
    position: relative;
}

.status .tooltip {
    position: absolute;
    left: 0px;
    bottom: 27px;
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 6px;
    box-shadow: 3px 7px 11px 1px;
    padding: 10px;
    display: none;
}

.tooltip:before {
    content: '';
    border: 10px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    bottom: -20px;
}
/* end Страница редактирования профиля */

.questionsFront__item__expert .questionsFront__item__expert__avatar img {
	margin-left: 0;
}

.questionsFront__item__expert__name {
	word-break: break-all;
}

#full_content .post_page #article .content_text ul.toc_list li {
    padding-left: 0;
    background: none;
}

.postMain__images > div {
	position: relative;
}

.postMain__image a {
    cursor: pointer;
}

.postMain__images__link a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 35px 0 0 45px;
}

.postMain__images__link a:hover {
    background: #83bc37;
}

.postMain__main a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 2px;
}

.postMain__image a {
    height: 142.5px;
    position: absolute;
    top: 0;
    left: 0;
    background: #83bc37;
}

.postMain__images img:hover {
    /*transform: scale(0.9);*/
    /*transition: 1s;*/
    border: 9px solid #83bc37;
}

.questionsFront__item__right {
    position: relative;
}

.questionsFront__item__right a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 25px;
    padding-top: 14px;
}

/********************************************/
/* Comment */
#comments .comment-body{padding:1em 0; font-size:1.2em}
#comments .comment-body ul, 
#comments .comment-body li,
#comments .comment-body ol{margin:0 1em}
#comments .comment-body p:last-child{margin-bottom:6px}
#comments .comment-body blockquote p:last-child{margin-bottom:24px}
#comments li{/*margin:1em 0;*/ /*padding:1em 1em; */background-color:#FFF;background-color: rgba(255, 255, 255, 0.5);}
#comments li.alt{margin:1em 0; padding:1em 1em;background-color:#F8F8F5;background-color: rgba(248, 248, 245, 0.9);}
#comments{list-style-type:none; margin:0; padding:0}
#comments .byuser{}
#comments .byuser.alt{}
#comments .bypostauthor{background-color:#FFF;background-color: rgba(255, 255, 255, 0.7); !important;}
#comments .bypostauthor.alt{background-color:#FFF;background-color: rgba(255, 255, 255, 0.7); !important;}
#comments .comment p{}
#comments .comment-author{margin: 0 0 0 3px;font-size:1.5em; font-weight:bold; letter-spacing:-0.1em}
#comments .comment-meta a{color:#777}
#comments .comment-meta{margin:0.3em 0; color:#777}
#comments .comment-author-admin{background-color: #FFF; background-repeat: no-repeat; background-position:right top;}
#comments ul.children{list-style:none;margin:0 0 0 5.2em}
#comments .count {float:right;padding: 10px;font-size:20px;color:#606566;}
#comments .pingback{border-bottom:1px solid #e7e7e7; margin-bottom:18px; padding-bottom:18px}
.commentlist li.comment+li.pingback{margin-top:-6px}
#comments .pingback p{color:#888; display:block; font-size:12px; line-height:18px; margin:0}
#comments .pingback .url{font-size:13px; font-style:italic}
#comments .nocomments {color: #bbb;font-size: 24px;font-weight: 100;margin: 26px 0;text-align: center;}

/* Comment form */
div.formcontainer{width:100%}
#commentform .comment-form-author, .comment-form-email, .comment-form-url{padding:0.3em; color:#777; font:1.3em Helvetica,Verdana,Arial,Sans-Serif; width:40%; clear:both}
#commentform .comment-form-comment{padding:0.3em; color:#777; font:1.3em Helvetica,Verdana,Arial,Sans-Serif; clear:both}
#commentform .comment-form-comment label{background:#fff;-webkit-box-shadow:1px 2px 2px rgba(204,204,204,0.8);-moz-box-shadow:1px 2px 2px rgba(204,204,204,0.8);box-shadow:1px 2px 2px rgba(204,204,204,0.8);color:#555;display:inline-block;font-size:13px;left:4px;min-width:60px;padding:4px 10px;}
#commentform #comment-notes{margin:1em 0 0 0; color:#bbb}
#commentform #submit{width:auto;margin:0.5em 0; float:right}
#commentform label{margin:1em 0;padding:1em 1em; color:#777; font:1.1em Helvetica,Arial,sans-serif;}
#commentform textarea#comment{padding:0.3em 0 0.3em 0.3em; font:1.1em Helvetica,Arial,sans-serif; color:#777; width:99%; height:15em}
#commentform .form-allowed-tags {line-height: 1em;}
#commentform .form-allowed-tags {color: #888;font-size: 12px;line-height: 18px;}
#commentform .form-allowed-tags code {font-size: 11px;}
#commentform .required {color: #ff4b33;font-weight: bold;}
#commentform .comments-navigation{font-family:Arial, Helvetica, sans-serif;font-size:1.2em;margin:1em 0}
#commentform .page-numbers.current{text-decoration: underline;}

/* Comment navigation */
.comments-navigation{font-family:Arial, Helvetica, sans-serif;font-size:1.2em;margin:1em 0;clear:both; color:#000; font-weight:bold; margin:0 0 22px 0; word-spacing:0.5em;}
.comments-navigation a{background:#f3f3f3; padding: 5px 7px;color:#0299FF; text-decoration:none; outline:0}
.comments-navigation a:active{color:#0299FF; text-decoration:none; outline:0} 
.comments-navigation a:hover{background:#444; color:#FFF; text-decoration:none; outline:0}
#comments .mce-statusbar {
    opacity: 0 !important;
}
#comments .mce-toolbar-grp {
    background: #fff !important;
    border: none !important;
}
#comments #commentform #submit {
    background-color: #006c9e;
    border: 0px;
    color: #fff;
    padding: 0px 10px;
    cursor: pointer;
    width: 215px;
    height: 43px;
    font: 18px Verdana;
    text-transform: uppercase;
}
#comments #commentform #submit:hover {
    opacity: 0.8;
}
#comments .mce-edit-area {
    /*border: 1px solid #818181 !important;*/
}
#comments .mce-edit-area {
    border: none;
    outline: 1px solid #818181;
    width: 100%;
    height: 44px;
    overflow: hidden;
    margin-top: 10px;
    min-height: 44px;
}
#comments iframe#comment_ifr {
    width: 100% !important;
    height: auto !important;
    min-height: 50px !important;
}

#comments iframe body{
    overflow: auto;
    font: 16px Verdana;
    color: #818181;
}
#comments .mce-toolbar-grp {
    /*position: absolute;*/
    /*bottom: -45px;*/
}
#comments .mce-toolbar .mce-btn-group .mce-btn, .qt-dfw {
    border-radius: 0px;
}
#comments #mceu_4 {
    width: 155px;
}
#comments .mce-i-image:before {
    /* content: "\e014"; */
    content: '';
    background: url(../img/comment_foto.png) no-repeat;
    padding: 0px 10px;
    background-position: 0px 2px;
}
#comments .mce-i-image:after {
    padding: 0 10px;
    color: #818181 !important;
    font: 14px Verdana;
    content: 'Добавить фото';
}
#comments .mce-toolbar .mce-ico {
    color: #000 !important;
}
#comments i.mce-i-bold:before,
#comments i.mce-i-italic:before {
    font-weight: bold;
}
#comments i.mce-i-bullist:before {
    /*content: "\f203";*/
    content: '';
    background: url(../img/comment_bullist.png) no-repeat;
    padding: 0px 8px;
    background-position: 0px 4px;
}
#comments i.mce-i-numlist:before {
    /*content: "\f204";*/
    content: '';
    background: url(../img/comment_numlist.png) no-repeat;
    padding: 0px 8px;
    background-position: 0px 4px;
}
#comments #mceu_5 {
    /*width: 160px;*/
}
#comments .mce-i-media:before {
    /* content: "\e015"; */
    content: '';
    background: url(../img/comment_video.png) no-repeat;
    padding: 3px 9px;
    background-position: 0px 4px;
}
#comments .mce-i-media:after {
    padding: 0 10px;
    color: #818181 !important;
    font: 14px Verdana;
    content: 'Добавить видео';
}
#comments #mceu_6 {
    /*width: 185px;*/
}
#comments .mce-i-link:before {
    /*content: "\e015";*/
    content: '';
    background: url(../img/comment_link.png) no-repeat;
    padding: 0px 10px;
    background-position: 0px 2px;
}
#comments .mce-i-link:after {
    padding: 0px 10px;
    color: #818181 !important;
    content: 'Добавить ссылку';
    font: 14px Verdana;
    position: relative;
    bottom: 3px;
}
#comments .mce-toolbar-grp #mceu_1
#comments .mce-toolbar-grp #mceu_2,
#comments .mce-toolbar-grp #mceu_3,
#comments .mce-toolbar-grp #mceu_4,
#comments .mce-toolbar-grp #mceu_5 {
    margin-left: 11px;
}
@media (max-width: 916px) {
    #comments #commentform #submit {
        /*margin-top: 60px;*/
    }
}
@media (max-width: 722px) {
    #comments .mce-toolbar-grp {
        /*bottom: -80px;*/
    }
    #comments #commentform #submit {
        /*margin-top: 80px;*/
    }
}
@media (max-width: 420px) {
    #comments .mce-toolbar-grp {
        /*bottom: -150px;*/
    }
    #comments #commentform #submit {
        /*margin-top: 150px;*/
    }
}
@media (max-width: 720px) {
    #comments {
        width: 100%;
        padding-left: 15px;
    }
    #comments iframe {
        width: 100%;
    }
    #comments ul.children {
        margin: 0 0 0 2em;
    }
    #comments .comment .comment_text a {
        word-break: break-all;
    }
}
@media (max-width: 420px) {
    #comments {
        padding: 0 15px;
        padding-left: 35px;
    }
    #comments ul.children {
        margin: 0 0 0 1em;
    }
    .comment_text {
        margin-left: -20px;
    }
    #comments {
        width: 100%;
        margin-left: -6px;
    }
    #comments #commentform #submit {
        width: 100%;
    }
}

.comment_text {
	position: relative;
}

.comment_text .clearfix {
    display: block;
    float: right;
    position: absolute;
    top: -68px;
    right: 22px;
    height: 63px;
}
.comment_text .ldc-cmt-box.clearfix {
	border-left: 3px solid #fff;
	padding-left: 13px;
}

.comment_text .ldc-ul_cont {
    background: none;
    box-shadow: none;
    border: none;
    color: #006c9e;
    font: 16px Arial;
    font-weight: bold;
    padding: 0 5px;
    top: 20px;
}

.single_posts #article .content_text strong {
	font-weight: bold;
}

.single_posts #article tbody tr:nth-child(2n+3) {
	background: #ededed;
}

.single_posts #article tbody tr td:first-child {
    font-weight: bold;
    border-left: none;
}

.single_posts #article tbody tr td:last-child {
    border-right: none;
}

.single_posts #article tbody tr:first-child {
	background: #006c9e;
    color: #fff;
    font-weight: bold;
    border-top: none;
    border-bottom: none;
}

.single_posts #article tbody tr td {
	padding: 10px 30px;
}

.single_posts h1 {
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0em;
    display: inline;
}

.single_posts .dh {
	margin-left: -17px;
    margin-bottom: 30px;
}

.post_page.single_posts h1 {
	margin-left: 0;
}

/* Редактирование профиля */
.author_editor__menu .active {
	background: #0171a1;
    text-decoration: none;
    color: #fff;
}
.author_editor__form {
	display: none;
}
.author_editor__form.visible {
	display: block;
}
.author_editor__menu {
    background: #ededed;
}
.author_editor__menu ul {
    margin-left: 18px;
}
.author_editor__menu li {
    display: inline-block;
    padding: 6px 21px;
    margin: 4px 0 7px;
    text-transform: uppercase;
    font: 14px Tahoma !important;
    text-decoration: underline;
    cursor: pointer;
    vertical-align: top;
}
.author_editor__menu li:hover {
    background: #0171a1;
    text-decoration: none;
    color: #fff;
}
.author_editor__menu li:nth-child(2) {
    border-right: 1px solid #0171a1;
    border-left: 1px solid #0171a1;
}
.author_editor__form__left {
    float: left;
    width: 50%;
    position: relative;
    padding: 33px 5px 0 37px;
}
.form_left_text {
    font: 14px Tahoma;
    text-transform: uppercase;
    line-height: 51px;
    float: left;
    width: 29%;
    min-width: 125px;
}
.form_left_enter {
    width: 100%;
    padding-left: 34%;
    padding-top: 15px;
}
#profileform input, #profileform2 input {
	width: 100%;
    margin-bottom: 21px;
    padding: 5px 7px;
    height: 29px;
    background: #fff;
    /*color: #797979;*/
    font: 14px Tahoma;
    text-transform: none;
    border: 1px solid #e0e0e0;
    display: block;
}
#profileform2 input {
    margin-bottom: 58px;
}
#profileform input[type="submit"],
#profileform2 input[type="submit"],
#profileform3 input[type="submit"] {
	width: 130px;
    height: 36px;
    background: #0171a1;
    font: 16px Tahoma;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}
#profileform img {
	width: 25px;
	height: 25px;
	float: left;
}
#profileform input[type="file"] {
	width: 180px;
}
.author_editor__form__right {
    float: right;
    width: 50%;
    padding: 50px 20px 0 33px;
}
.author_editor__form__right .about {
    font: 14px Tahoma;
    text-transform: uppercase;
    float: left;
}
#profileform .author_editor__form__right textarea {
    width: 100%;
    margin-bottom: 21px;
    padding: 13px 11px;
    min-height: 177px;
    background: #fff;
    /*color: #797979;*/
    font: 14px Tahoma;
    text-transform: none;
    border: 1px solid #dedede;
    display: block;
    margin-top: 48px;
}
.author_editor__form__right .file_upload{
    display: block;
    position: relative;
    font-size: 1em;              /* example */
    height: 2em;                 /* example */
    line-height: 2em;             /* the same as height */
    float: right;
    top: -7px;
}
.author_editor__form__right .file_upload .button, .file_upload > mark{
    display: block;
    cursor: pointer;              /* example */
}
.author_editor__form__right .file_upload .button {
    /* float: right; */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 100%;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font: 14px Tahoma;
    padding: 5px 0 7px 44px;
    cursor: pointer;
    text-decoration: underline;
}
.author_editor__form__right .file_upload .button:hover {
    text-decoration: none;
}
.author_editor__form__right .file_upload > mark{
    background: transparent;     /* example */
    padding-left: 1em;            /* example */
}
.author_editor__form__right .file_upload input[type=file]{
    position: absolute;
    top: 0;
    opacity: 0;
}
.author_editor__menu:before {
    content: '';
    background: #ededed;
    position: absolute;
    width: auto;
    height: 40px;
    left: 0;
    right: 0;
    z-index: -1;
}
#profileform input[type="file"] {
	z-index: -1;
}
#profileform2 input {
    width: 76%;
    margin-right: 6px;
    position: relative;
    top: 11px;
    vertical-align: middle;
}
#profileform2 input[type="submit"] {
    display: block;
}
#profileform2 {
    padding: 32px 0 0 15px;
}
#profileform2 img {
    padding-right: 15px;
    float: left;
}
#profileform2 .form_block {
    display: inline-block;
    width: 325px;
    vertical-align: middle;
}
/* end Редактирование профиля */

.frontPosts__tabs ul li:hover {
    background: #0171a1;
    color: #fff;
}

.head_right .editor_picture,
.file_upload .editor_picture {
    width: 32px;
    height: 28px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    overflow: hidden;
    position: absolute;
    outline: none;
    border-radius: 0;
}

#profileform img {
    width: 32px;
    height: 28px;
    float: left;
}

.personal_info .honors {
    text-align: right;
}

.personal_info .honors_one {
    text-align: center;
    cursor: default;
}

#article .content_text #toc_container {
    width: 100%;
}



/* временный */
.photo .honors_one .gallery .gallery-item {
    width: 90px !important;
    height: 90px !important;
    float: none !important;
    margin-top: 0 !important;
    text-align: left !important;
}
.photo .honors_one .gallery .gallery-item img {
    width: 90px;
    height: 90px;
    border: none !important;
}
#gallery-1.gallery .gallery-item {
    padding: 0 !important;
}
/* end временный */

.social a {
    background: #ccc;
    padding: 3px 12px;
    margin-left: 6px;
}
.social .vk {
    background: url(../img/pr_social.png) no-repeat;
    background-position: -61px 0px;
}
.social .ok {
    background: url(../img/pr_social.png) no-repeat;
    background-position: -91px 0px;
}
.social .fb {
    background: url(../img/pr_social.png) no-repeat;
    background-position: 0px 0px;
}
.social .tw {
    background: url(../img/pr_social.png) no-repeat;
    background-position: -30px 0px;
}
.social .yout {
    background: url(../img/pr_social.png) no-repeat;
    background-position: -121px 0px;
}
.social .in {
    background: url(../img/pr_social.png) no-repeat;
    background-position: -151px 0px;
}
@media (max-width: 1024px) {
    #profileform input[type="submit"] {
        margin-left: 38px;
    }
}
@media (max-width: 838px) {
    .form_left_enter {
        padding-left: 40%;
    }
}
@media (max-width: 726px) {
    .form_left_enter {
        padding-left: 47%;
    }
}
@media (max-width: 690px) {
    .author_editor__form__left {
        width: 100%;
        float: none;
        padding-right: 50px;
    }
    .author_editor__form__right {
        width: 100%;
        float: none;
        padding-right: 50px;
        padding-left: 39px;
    }
    #profileform input[type="submit"] {
        margin-left: 39px;
    }
}
@media (max-width: 400px) {
    .author_editor__form__left {
        padding: 33px 10px 0;
    }
    .author_editor__form__right {
        padding: 50px 10px 0;
    }
    #profileform input[type="submit"] {
        margin-left: 10px;
    }
    #profileform2 .form_block {
        width: 100%;
    }
    #profileform2 input {
        margin-right: 0;
        width: 73%;
    }
}
.personal_info .honors_one {
    vertical-align: top;
}

.head_right > #header_auth_2 {
    display: inline-block;
    font: 14px Tahoma;
    background: none;
    width: 30px;
    height: 26px;
    padding-left: 47px;
    margin-left: 14px;
    line-height: 23px;
    vertical-align: middle;
    margin-right: 29px;
    text-transform: uppercase;
}
.head_right > #header_auth_2 > a {
    text-decoration: underline;
    cursor: pointer;
}
.head_right > #header_auth_2 > a:hover {
    background: none;
    text-decoration: none;
    color: #000;
}
.head_right > #header_auth_2 {
    width: 134px;
    margin: 0;
    padding: 0;
    position: static;
    padding-left: 0;
    margin-left: 11px;
    text-align: right;
}
#header_auth_2 img {
    margin-left: 0;
}
.form_block span {
    height: 87px;
    display: block;
    padding-top: 16px;
}
.form_block span a {
    font: 14px Tahoma;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
}
.form_block span a:hover {
    text-decoration: none;
}
.info_blocks > div {
    min-height: 55px;
}
#profileform2 input {
    display: none;
}
.form_block span {
    display: block;
}
.postMain__title__text {
    display: block;
}
.front_block .last_posts .first_post a {
    /*position: relative;*/
    /*top: -10px;*/
}
.front_block .last_posts .first_post .date {
    top: -44px;
}
.front_block .last_posts .first_post a {
    line-height: normal;
    position: relative;
    bottom: 4px;
}

/* Таблица на странице редактирования */
#main_content .author_editor__form table tr td {
    margin-bottom: 21px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding: 5px 7px !important;
    height: 29px;
    /*background: #fff;*/
    /*color: #797979;*/
    font: 14px Tahoma;
    text-transform: none;
    border: 1px solid #e0e0e0 !important;
}

.author_editor__form table {
    width: 100%;
}

.author_editor__form select {
    margin-bottom: 21px;
    padding: 5px 7px;
    height: 29px;
    background: #fff;
    color: #797979;
    font: 14px Tahoma;
    text-transform: none;
    border: 1px solid #e0e0e0;
}

.author_editor__form form input.button-primary {
    width: 130px;
    height: 27px;
    background: #0171a1;
    font: 16px Tahoma;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.author_editor__form form input.button-primary:hover {
    opacity: 0.8;
}

.author_editor__form {
    /*padding-top: 20px;*/
}

#main_content .author_editor__form table tr td span {
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
}

.author_editor__form .forum_statistic {
    padding: 30px 17px;
}

@media(max-width: 645px) {
    #main_content .author_editor__form table tr td {
        font-size: 12px;
        word-break: break-all;
    }
}

@media(max-width: 400px) {
    #main_content .author_editor__form table tr td {
        font-size: 11px;
    }
    .author_editor__form .forum_statistic {
        padding: 0 10px;
    }
}

@media(max-width: 350px) {
    #main_content .author_editor__form table tr td {
        font-size: 10px;
    }
}
.author_editor__form form input.button-primary {
    margin-left: 0 !important;
    margin-bottom: 20px;
}
/* end Таблица на странице редактирования */

@media screen and (max-width: 600px){
    #wpadminbar {
        position: fixed !important;
    }
}

#article .content_text p+p {
    margin-top: 0px;
}

/* Награды */
.panel-heading {
    font-family: "ff-good-sc-web-pro", sans-serif;
    font-size: 1.63em;
    font-weight: 400;
    text-transform: none;
    margin-left: 15px;
    margin-top: 10px;
    padding-top: 5px;
}
.panel-heading i {
    margin-top: 5px;
}
.icon-info-sign {
    background-position: -120px -96px;
}
.panel [class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
.panel .panel-body {
    padding: 15px;
    font: 14px Verdana;
}
.panel .table-bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
}
.panel .table-bordered th, .table-bordered td {
    border-left: 1px solid #dddddd;
}
.panel .table th, .table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}
.panel img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.panel .table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
    background-color: #f5f5f5;
}

.simple_page .content_text i, .simple_page .content_text em {
    font-family: Verdana;
}

.panel i {
    font-style: italic;
}

.panel b {
    font-weight: bold;
}
/* end Награды */

@media(max-width: 1024px) {
    .mce-container-body.mce-stack-layout {
        /*padding: 10px;*/
        padding-right: 10px;
    }
    #comments #commentform #submit {
        margin-right: 10px;
    }
}

.com_ava {
    float: left;
    position: relative;
    top: 49px;
}

.comment-respond {
    /*float: right;*/
    width: 100%;
    /*padding-left: 69px;*/
    padding-left: 0px;
    vertical-align: top;
    position: relative;
    /*top: -62px;*/
    top: -5px;
}

@media(max-width: 782px) {
    .com_ava {
        /*top: 92px;*/
    }
}

@media(max-width: 486px) {
    .com_ava {
        /*top: 128px;*/
    }
}

@media(max-width: 454px) {
    .com_ava {
        /*top: 164px;*/
    }
}

@media(max-width: 720px) {
    #comments .comment_text .ldc-cmt-box.clearfix {
        display: block;
        float: none;
        position: static;
        top: -68px;
        right: 22px;
        height: 63px;
        width: 143px;
        background: #f1f1f1;
        margin-left: -18px;
    }
}

.nofavorite {
    font: 15px Verdana;
    display: block;
    margin-bottom: 18px;
}

#main_content .ideas_block {
    width: 192px;
    /*float: left;*/
    margin-right: 5px;
    margin-bottom: 10px;
    background: #e0e0e0;
    vertical-align: top;
    display: inline-block;
    font-size:0; /* убираем горизонтальные отступы */
    line-height:0; /* ...и вертикальные в некоторых браузерах */
    letter-spacing:-1px; /* переубеждаем webkit'ы */
}

#main_content .ideas_block:nth-child(5n+5) {
    margin-right: 0;
}

.ideas_block__image img {
    width: 192px;
    height: 167px;
    object-fit: cover;
    padding: 10px;
    border: 1px solid #e0e0e0;
    background: #fff;
}

.ideas_block__title {
    padding: 14px;
    font: 14px Corbel;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: normal;
    letter-spacing: normal; 
}

.ideas_block__title:hover {
    text-decoration: none;
}

#main_content .ideaPage {
	margin-left: 0px;
}

@media(max-width: 1024px) {
	#main_content .ideaPage {
		width: 100%;
		text-align: center;
		text-align-last: left;
	}
	#main_content .ideas_block {
		width: 24%;
		text-align: left;
	}
	.ideas_block__image img {
		width: 100%;
		height: 200px;
	}
	#main_content .ideas_block:nth-child(5n+5) {
    	margin-right: 5px;
	}
	#main_content .ideas_block:nth-child(4n+4) {
    	margin-right: 0px;
	}
}

@media(max-width: 820px) {
	#main_content .ideas_block {
    	width: 32%;
	}
	#main_content .ideas_block:nth-child(4n+4) {
    	margin-right: 5px;
	}
	#main_content .ideas_block:nth-child(3n+3) {
    	margin-right: 0px;
	}
}

@media(max-width: 600px) {
	#main_content .ideaPage {
		padding: 0 3%;
	}
	#main_content .ideas_block {
    	width: 49%;
	}
	#main_content .ideas_block:nth-child(3n+3) {
    	margin-right: 5px;
	}
	#main_content .ideas_block:nth-child(2n+2) {
    	margin-right: 0px;
	}
}

@media(max-width: 550px) {
	#main_content .ideaPage {
		padding: 0 5%;
	}
	#main_content .ideas_block {
    	width: 100%;
	}
	#main_content .ideas_block:nth-child(3n+3) {
    	margin-right: 0px;
	}
	#main_content .ideas_block {
    	margin-right: 0px;
	}
	.ideas_block__image img {
		height: 300px;
	}
}

#like_post {
	display: inline-block;
}

#like_post input {
    background: url(../img/live_ico.png) left 10px top 6px no-repeat #006c9e;
    padding: 3.9px 10px 3.9px 36px;
    margin-left: 3px;
    position: relative;
    top: 2px;
    color: #fff;
    text-transform: uppercase;
    font: 14px Arial;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 4px 10px 4px 36px;
}

/* Блог комментарии */
.comment_blog {
    background: #f1f1f1;
    min-height: 63px;
    padding: 16px;
    margin-bottom: 20px;
}
.comment_blog__content {
	font-size: 18px;
    margin-bottom: 12px;
}
.comment_blog_content-post a {
    text-decoration: underline;
}
.comment_blog_content-post a:hover {
    text-decoration: none;
}
.comment_blog__info-date {
	float: right;
    color: #006c9e;
}


/* new comment */
.wp-editor-container {
	width: 100%;
    padding-left: 68px;
    height: auto;
    /*border: 2px solid #eee;*/
}
.mce-toolbar-grp.mce-container {
	position: absolute;
    bottom: -37px;
}
#comment_ifr {
    color: #818181;
    outline: 1px solid #808080;
    height: 44px;
}
.comment-respond {
	/*width: auto;*/
	/*top: 0px;*/
}
.#comments .mce-statusbar {
	display: none;
}
.front_forum_menu__tabs {
    margin-bottom: 20px;
    text-transform: uppercase;
    font: 14px/14px Tahoma;
}
.front_forum_menu__tabs ul {
    display: block;
    font-size: 0;
}
.front_forum_menu__tabs ul li {
    display: inline-block;
    border-left: 1px solid #0171a1;
    padding: 6px 22px 5px 23px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.front_forum_menu__tabs ul li.active {
    display: inline-block;
    border-left: 1px solid #0171a1;
    padding: 6px 19px 5px 17px;
    text-align: center;
    font-size: 14px;
    letter-spacing: .25px;
    background: #0171a1;
    color: #fff;
    cursor: default;
}
.front_forum_menu__tabs ul li:hover {
    background: #0171a1;
    color: #fff;
}
.questionsFront__tab {
    display: none;
}
.questionsFront__tab.visible {
    display: block;
}

.text_clear {
	font-size: inherit;
}

.honors_one a img {
    width: 40px;
}

.honor_popup {
    height: auto;
    position: absolute;
    right: 0;
    border: 1px solid #eee;
    background: #fff;
    z-index: 999;
    display: none;
    text-align: left;
    width: auto;
    padding: 14px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0px;
    white-space: nowrap;
}

#honors_form {
	display: inline-block;
}

.honors .honors_one a {
    position: relative;
}

/* Страница наград пользователя */
.single_honors #article h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.single_honors .honors {
    border: none;
    padding: 0;
    margin: 25px 0;
    min-height: 230px;
}
.single_honors .honors_one {
    font: 14px Verdana;
    margin: 12px;
    padding: 12px 0px;
    border-radius: 4px;
    width: 134px;
    border: 1px solid #dcdcdc;
    cursor: default;
}
.single_honors a img {
    /*width: 77px;*/
}
.single_honors .name_author {
    font-size: 26px;
}
.honor_tooltip {
    display: none; 
    white-space: normal;
    position: absolute;
    top: -100px;
    left: -25px;
    background: #fff;
    width: 300px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding: 10px;
    text-align: left;
    font: 12px Verdana;
    /*box-shadow: 2px 2px 6px -1px;*/
    box-shadow: 3px 7px 11px 1px;
    color: #818181;
}
.honor_tooltip:before {
    content: '';
    border: 10px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    left: 33px;
    bottom: -20px;
}
.single_honors .honor_tooltip {
    top: -160px;
    left: -29px;
    padding: 10px !important;
    font-size: 14px;
    line-height: normal !important;
}
.single_honors .honor_tooltip:before {
    left: 57px;
}
/* END Страница наград пользователя */

/* Скрытие второй панели визуального редактора в комментариях */
.mce-container.mce-toolbar.mce-stack-layout-item.mce-last {
    /*display: none;*/
}

@media(max-width: 500px) {
    .contacts span {
        white-space: normal;
    }
}

.post_page.tags_cat h1 {
    margin-left: 0;
}

.tags_cat .categories > ul {
    /*column-count: 3;*/
}

.tags_cat .categories ul {
    list-style: none;
}

#full_content .post_page.tags_cat #article .categories ul li {
    background: none;
    padding-left: 0;
    position: relative;
}

#full_content .post_page #article .content_text .categories > ul > li {
    font: 16px Tahoma;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2px 0px 0 2px;
    /*pointer-events: none;*/
    width: 33%;
    display: inline-table;
}

#full_content .post_page #article .content_text .categories > ul > li .children {
    text-transform: none;
    margin: 2px 0;
    margin-left: 20px;
}

#full_content .post_page #article .content_text .categories > ul > li .children li a {
    color: black;
    font-weight: normal;
    width: 100%;
    display: block;
    padding: 5px 21px;
    border-left: 8px solid #fff;
    border-right: 8px solid #fff;
}

#full_content .post_page #article .content_text .categories > ul > li .children li a:hover {
    background: #f4f4f4;
}

#full_content .post_page #article .content_text .categories > ul > li > a {
    width: 100%;
    display: block;
    padding: 14px 31px;
    margin: 0px;
    background: #f4f4f4;
    color: #0171a1;
}

#full_content .post_page #article .content_text .categories > ul > li .children li {
    margin: 2px 0;
}

#full_content .post_page #article .content_text .categories > ul > li > .children {
    margin: 11px 0;
    /*position: absolute;*/
    /*display: none;*/
    top: 36px;
    right: 0;
    z-index: 667;
    background: #fff;
    padding: 7px 0;
}

/*#full_content .post_page #article .content_text .categories > ul > li a {
    pointer-events: all;
}*/

/*.tags_cat .categories > ul > li:before {
    content: '';
    position: absolute;
    top: 17px;
    right: 6px;
    width: 0px;
    height: 0px;
    background: transparent;
    border: 15px solid transparent;
    border-top: 15px solid #0171a1;
    cursor: pointer;
    z-index: 666;
    outline: none;
    pointer-events: all;
}*/

.tags_cat .categories > ul > li.act:before {
    content: none;
}

#full_content #article .content_text li.categories {
    font-size: 0;
}

@media(max-width: 720px) {
    #full_content .post_page #article .content_text .categories > ul > li > .children {
        position: static;
    }
    #full_content .post_page #article .content_text .categories > ul > li {
        width: 49%;
    }
}

@media(max-width: 480px) {
    #full_content .post_page #article .content_text .categories > ul > li {
        width: 100%;
    }
}

#comments #mceu_19-body {
    display: block !important;
}

#comments #mceu_9, 
#comments #mceu_10, 
#comments #mceu_2, 
#comments #mceu_12, 
#comments #mceu_3, 
#comments #mceu_11, 
#comments #mceu_6, 
#comments #mceu_7, 
#comments #mceu_8, 
#comments #mceu_9 {
    /*display: none !important;*/
}

#reply-title {
    font: 14px Verdana;
    /*margin-top: 34px;*/
    font: 18px Tahoma;
    padding: 15px 0px 0px 0px;
}

.categories .children a {
    color: black;
    font-weight: normal;
    width: 100%;
    display: block;
    padding: 0px 25px;
    border-left: 8px solid #fff;
    border-right: 8px solid #fff;
    cursor: pointer;
}

.categories .children a:hover {
    background: #f4f4f4;
}

.noposts {
    font-size: 0px;
}

.add_post_editor .mce-toolbar-grp.mce-container {
    position: static;
}

.add_post_editor .mce-i-image:after {
    content: none !important;
}

#addPost input[type="submit"] {
    background-color: #006c9e;
    border: 0px;
    color: #fff;
    padding: 0px 10px;
    cursor: pointer;
    /*width: 215px;*/
    height: 43px;
    font: 18px Verdana;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#addPost input[type="submit"]:hover {
    opacity: 0.8;
}

.nonauth {
    font:14px Verdana;
    min-height: 100px;
    padding: 30px 0;
}

.auth_button {
    text-decoration:underline;
    font-size:14px;
    cursor:pointer;
    font-weight: bold;
}

.auth_button:hover {
    text-decoration:none;
}

#addPost {
    margin-top: 15px;
}

#addPost input[name="post_title"] {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #cccccc;
    font: 14px Verdana;
}

.add_post_editor {
    border: 1px solid #ccc;
    border-radius: 3px;
}

#addPost .mce-path {
    padding-left: 10px !important;
}

.record .mce-container.mce-toolbar.mce-stack-layout-item.mce-last {
    display: block;
}

.buttons_record {
    /*display: none;*/
}

.forum_statistic tbody tr:first-child {
    background: #006c9e;
    color: #fff;
    border-top: none;
    border-bottom: none;
}

.forum_statistic tbody tr:nth-child(2n+3) {
    background: #ededed;
}

.forum_statistic .button-primary {
    width: 104px;
    height: 28px;
    background: #0171a1;
    font: 14px Tahoma;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    border: none;
    vertical-align: top;
}

.forum_statistic .button-primary:hover,
#profileform2 input[type="submit"]:hover {
	opacity: 0.7;
}

/* Кнопки редактирования и удаления статей в профиле автора */
.buttons_record {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
}

.buttons_record #buttons_record__form input[type="submit"] {
    background: #0171a1;
    border: none;
    outline: none;
    text-decoration: underline;
    position: relative;
    right: 10px;
}

.buttons_record #buttons_record__form input[type="submit"]:hover {
    text-decoration: none;
}

.buttons_record #buttons_record__form_del input[type="submit"] {
    background: #89bf41;
    outline: none;
    border: none;
    position: relative;
    right: 10px;
    font: 18px sans-serif;
    font-weight: bold;
    padding: 10px 9px;
    transform: scaleX(1.4);
}

.buttons_record form {
    display: inline-block;
}


.buttons_record #buttons_record__form_del input[type="submit"]:hover {
    /*opacity: 0.8;*/
    background: #7fd807;
}

.buttons_record input[type="submit"] {
    padding: 12px 22px;
    margin: 0;
    font: 14px Tahoma;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
/* Кнопки редактирования и удаления статей в профиле автора */

.load_more {
    background-color: #006c9e;
    border: 0px;
    color: #fff;
    padding: 10px 10px;
    cursor: pointer;
    width: 215px;
    height: 43px;
    font: 18px Verdana;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.single_all-forums.single_posts #article p, 
.single_all-forums.single_posts #article div, 
.single_all-forums.single_posts #article table tr td, 
.single_all-forums.single_posts #article ul li, 
.single_all-forums.single_posts #article ul li strong, 
.single_all-forums.single_posts #article strong, 
.single_all-forums.single_posts #article blockquote {
    line-height: normal;
}

.last_time {
    position: absolute;
    left: 25px;
    bottom: 14px;
}

.personal_right .edit input {
    background: none;
    border: none;
    outline: none;
    color: #818181;
    text-decoration: underline;
    font: 14px Tahoma;
    cursor: pointer;
}

.personal_right .edit input:hover {
    text-decoration: none;
}

.statistic_block {
    p
    text-align: center;
}

.statistic_block__item {
    display: inline-block;
    width: 20%;
    text-align: left;
    /*padding: 10px 0px 10px 68px;*/
    padding-bottom: 10px;
    vertical-align: top;
    font: 11px Tahoma;
    text-transform: uppercase;
    position: relative;
}

.statistic_block__item-number {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.statistic_block__item-img {
    /*position: absolute;
    left: 6px;
    top: 6px;*/
    padding-right: 7px;
}

/* вопрос - ответ, новый дизайн */
.questionsFront__item__left {
    position: relative;
}
.questionsFront__item .questionsFront__item__left .questionsFront__item__answers {
    display: none;
}
.questionsFront__item .questionsFront__item__views {
    border: none;
}
.questionsFront__item .questionsFront__item__views b {
    padding-top: 23px;
}
.questionsFront__item__time {
    float: left;
}
.questionsFront__item__bottom .questionsFront__item__answers {
    font-size: 9px;
    float: right;
    text-transform: uppercase;
}
.questionsFront__item__bottom .questionsFront__item__answers b {
    font-size: 9px;
}
@media(max-width: 500px) {
    .questionsFront__item__bottom .questionsFront__item__answers {
        display: none;
    }
}
/* end вопрос - ответ */

#main_content #main .last_reply_comment {
    display: none;
    background: #fff;
    position: absolute;
    border: 1px solid;
    border-radius: 4px;
    padding: 12px;
    bottom: 132px;
    box-shadow: 3px 5px 8px 0px;
}

#main_content #main .last_reply_comment:before {
    content: '';
    border: 10px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    bottom: -18px;
}

@media(max-width: 1049px) {
    .questionsPage__list {
        padding: 16px;
    }
}

@media(max-width: 822px) {
    .questionsPage__item {
        clear: both;
        height: auto;
        min-height: 139px;
        position: relative;
    }
    .questionsPage__item__right {
        float: none;
        position: absolute;
        right: 0px;
        top: 0;
    }
}

@media(max-width: 720px) {
    .questionsFront__item__left .questionsFront__item__views {
        margin-bottom: 0;
    }
    .questionsFront__item__left .questionsFront__item__views {
        padding-bottom: 7px;
    }
    .questionsFront__item__center .questionsFront__item__bottom {
        font: 13px/13px Tahoma;
    }
}

@media(max-width: 512px) {
    .questionsPage__list {
        padding: 20px;
    }
    .questionsPage__item__right {
        float: none;
        position: relative;
        clear: both;
    }
    .questionsPage__item__center {
        margin: 0;
    }
}

@media(max-width: 1024px) {
    .statistic_block__item {
        width: 200px;
        display: block;
        float: left;
    }
    .questionsFront__title {
        clear: both;
    }
}

#comment-image-wrapper {
    width: 152px !important;
    display: inline-block;
    cursor: pointer;
    border: 1px solid white;
    top: 8px;
    left: 385px;
}

#comment-image-wrapper:hover {
    outline: none;
    border: 1px solid;
}

#comment-image-error {
    display: none;
    opacity: 0;
}

.comment_image_button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 13px 3px 30px;
    color: #818181;
    font: 14px Verdana;
    background: url(../img/comment_foto.png) 4px 4px no-repeat;
    cursor: pointer;
}

#comment_image {
    opacity: 0;
    width: 150px;
    height: 24px;
}

.file_upload_fotogallery {
    display: block;
    margin: 10px 0;
}

.photo img {
    vertical-align: top;
    margin: 0 6px;
    /*border: 1px dotted;*/
    object-fit: cover;
    width: 90px;
    height: 90px;
}

#user_gallery {
    display: inline-block;
    vertical-align: top;
}

#user_gallery input[type="submit"] {
    width: 88px;
    height: 88px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 9px;
    padding-left: 23px;
    color: #fff;
    background: #818181;
    margin-bottom: 2px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    cursor: pointer;
    outline: none;
    border: none;
    white-space: normal;
}

.single_user_gallery a {
    display: inline-block;
    min-width: 200px;
}

.single_user_gallery img {
    vertical-align: top;
    margin: 10px;
}

single_user_gallery h1 {
    margin: 10px 0;
}

#profileform3 input[type="submit"] {
    border: none;
    outline: none;
    margin-bottom: 10px;
}

#pass1,
#pass2 {
    width: 250px;
    margin: 20px 0;
    padding: 5px 7px;
    height: 29px;
    background: #fff;
    color: #797979;
    font: 14px Tahoma;
    text-transform: none;
    border: 1px solid #e0e0e0;
    display: block;
}

#resetpassform input[type="submit"] {
    width: auto;
    height: 36px;
    background: #0171a1;
    font: 16px Tahoma;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

#resetpassform input[type="submit"]:hover {
    opacity: 0.7;
}

.mce-tooltip {
    font-family: Verdana !important;
}

.personal_wrap .app_send_posts {
    width: 234px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

/* Вставка видео в редактор tinymce */
div[role="tablist"] {
    display: none;
}
div[aria-label="Insert/edit video"] {
    font-family: Tahoma;
}
div[role="tabpanel"] > div > div:nth-child(1n+3) {
    display: none;
}
/* Вставка видео в редактор tinymce */

#delete_foto {
    position: relative;
}

#delete_foto input[type="submit"] {
    position: absolute;
    right: 17px;
    top: 10px;
    border: none;
    display: none;
    background: #89bf41;
    color: white;
    padding: 8px;
    font: 20px Tahoma;
    transform: scaleX(1.5);
    cursor: pointer;
}

#delete_foto input[type="submit"]:hover {
    background: #7fd807;
}

/* Лента новостей */
.feed-page {
    /*background: url(../img/i-line.jpg) right 20% top / 1px repeat-y #f1f1f1;*/
}
.feed {
    width: 100%;
    font: 14px Tahoma;
    position: relative;
}
.feed__date {
    text-transform: uppercase;
    font: 10px Tahoma;
    color: #7d7d7d;
}
.feed__last-comment {
    width: 20%;
    float: right;
}
#main_content .feed img {
    margin-left: 0;
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.feed__text {
    font: 14px Tahoma;
    padding-right: 10px;
    padding-bottom: 35px;
    color: #747474;
}
.feed__title {
    margin: 5px 0;
}
.feed__title a:hover {
    text-decoration: underline;
}
#main_content #main .feed__last-comment {
    color: #0171a1;
    font: 10px/normal Tahoma;
    text-transform: uppercase;
    position: relative;
}
.feed__last-comment > a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    padding-top: 20px;
}
.feed__comment-date {
    margin: 10px 0 0;
}
.feed__comment-author {
    text-transform: capitalize;
    font: 14px Tahoma;
    color: black;
    padding-left: 10px;
}
.feed_button {
    background-color: #006c9e;
    border: 0px;
    color: #fff;
    padding: 10px 10px;
    cursor: pointer;
    width: 215px;
    height: 43px;
    font: 18px Verdana;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}
.page_lenta .questionsPage__item {
    margin-bottom: 10px;
    background: #efefef;
    min-height: 117px;
    padding-left: 0;
    padding: 5px;
    border-left: none;
    border: 1px solid #e0dddd;
}
.page_lenta .questionsPage__item:nth-child(even) {
    border-left: none;
}
.single_posts.page_lenta div#article {
    margin: 0px;
    width: auto;
}
.feed__content > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #e0dddd;
    /*padding: 15px 0;*/
}
.feed__content > div:last-child {
    border-right: none;
}
.feed__content-name {
    font: 16px Tahoma;
    color: #0070a3;
    width: 10%;
    max-width: 98px;
    word-break: break-all;
}
.feed__content-action {
    width: 6%;
}
#main .feed .feed__content .feed__content-text {
    width: 68%;
    text-align: left;
    padding: 0px 4px;
    padding-left: 20px;
}
.feed__content-link {
    width: 158px;
}
.feed__content-link a {
    background: #117aa9;
    padding: 8px 18px;
    color: white;
    font: 14px Tahoma;
    position: relative;
}
.feed__content-link a:after {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    right: -10px;
    top: 0px;
    border-left: 10px solid #117aa9;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
}
.feed .feed__linkAuthor {
    color: #0070a3;
    font: 15px Tahoma;
    font-weight: bold;
}
.feed__comment-title {
    /*font-weight: bold;*/
}
.feed__cont {
    font: 14px/24px Tahoma;
    font-style: italic;
    color: #3c3c3c;
    /*display: block;*/
    font-weight: bold;
}
/* end Лента новостей */

.single_all-forums .front_forum_menu__tabs ul li {
    padding: 6px 10px 5px;
    height: auto;
}

.add_post_editor #insert-media-button {
    margin: 3px;
}

.screen-reader-text {
    display: none;
}
/* Лента новостей - кнопки */
.r_group_feed input {
    display: none;
}
.r_group_feed label {
    cursor: pointer;
    font: 18px/normal Verdana;
    position: relative;
    top: 6px;
    padding-left: 17px;
}
.r_group_feed label:before {
    content: '123';
    font-size: 0px;
    width: 31px;
    height: 31px;
    background: #fff;
    display: block;
    float: left;
    outline: 1px solid #797979;
    margin-top: 2px;
    cursor: pointer;
}
.r_group_feed input:checked + label:before {
    border: 10px solid #fff;
    background-color: #006c9e;
    width: 11px;
    height: 11px;
}
.r_group_feed div {
    height: 34px;
    margin-bottom: 3px;
    display: inline-block;
}
.reply_theme {
    color: #117aa9;
}
/* end Лента новостей - кнопки */
.postPend {
    position: absolute;
    top: 30px;
    left: 0;
    background: white;
    padding: 10px 20px;
    font: 14px Tahoma;
}

.foto_profile {
    position: absolute;
    left: 0;
    top: 0;
    padding: 3px 10px;
    background: white;
    display: none;
}

.images_gallery_item:hover #delete_foto input[type="submit"],
.images_gallery_item:hover .foto_profile {
    display: block;
}

.images_gallery_item {
    display: inline-block;
    min-width: 200px;
}

.feedOptions {
    margin: 20px 0;
}

.feedOptions input[type="checkbox"] {
    display: none;
}

.feedOptions label {
    cursor: pointer;
    font: 16px/normal Verdana;
    position: relative;
    top: 6px;
    padding-left: 17px;
    padding-right: 10px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.feedOptions label:before {
    content: '123';
    font-size: 0px;
    width: 31px;
    height: 31px;
    background: #fff;
    display: block;
    float: right;
    outline: 1px solid #797979;
    margin-top: 2px; /*2px*/
    cursor: pointer;
}

.feedOptions input[type="checkbox"]:checked + label:before {
    border: 10px solid #fff;
    background-color: #006c9e;
    width: 11px;
    height: 11px;
}

.feedOptions input[type="submit"] {
    width: 130px;
    height: 36px;
    background: #0171a1;
    font: 16px Tahoma;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    border: none;
    margin-top: 16px;
}

.feedOptions input[type="submit"]:hover {
    opacity: 0.8;
}

#main_content .feed .feed__content-name img {
    width: 63px;
    height: 63px;
    border: 4px solid white;
    border-radius: 50%;
    object-fit: cover;
}

.feed__date {
    font: 13px Tahoma;
    color: #ababab;
    background: url(../img/actions/tdate.png) no-repeat;
    padding: 9px 0px;
    padding-left: 25px !important;
    background-position: 0px 14px;
}

.feed__text > div {
    margin-top: 14px;
}

.fotogallery_one {
    float: left;
    margin-right: 6px;
}

.fotogallery_one img {
    width: 245px;
    height: 245px;
    object-fit: cover;
}

.fotogallery_second {
    display: inline-block;
    padding: 3px;
    padding-right: 6px;
    position: relative;
    top: -3px;
}

.fotogallery_second img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.count_pic {
    color: #0070a3;
    font: 15px Tahoma;
    font-weight: bold;
}

.reply_theme:hover,
.feed .feed__linkAuthor:hover,
.feed__content-link a:hover {
    text-decoration: underline;
}

.feed__content {
    display: table;
    width: 100%;
}

#main_content .feed__content-link {
    vertical-align: top;
    padding-top: 42px;
}

/* адаптивка ленты новостей http://obustroeno.com/lenta/ */
@media(max-width: 868px){
    #main_content .feed .feed__content-name {
        display: block;
        max-width: none;
        border-right: none;
        float: left;
        position: absolute;
        top: 7px;
        left: 16px;
        word-break: normal;
        line-height: 32px;
        white-space: nowrap;
    }
    #main_content .feed .feed__content-action {
        display: block;
        float: left;
        border-right: none;
        position: absolute;
        top: 28px;
        left: 100px;
    }
    #main .feed .feed__content .feed__content-text {
        padding: 0px 4px;
        padding-top: 94px;
        width: 79%;
    }
    #main_content .feed .feed__content > div {
        display: inline-block;
    }
    #main_content .feed .feed__content-link {
        width: 20%;
    }
}
@media(max-width: 680px) {
    #main .feed .feed__content .feed__content-text,
    #main_content .feed .feed__content-link {
        width: 100%;
        border-right: none;
    }
    .feed__content-link a {
        padding: 8px 68px;
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .questionsPage__list {
        padding: 16px 0;
    }
    .feed__content-link a:before {
        content: '';
        width: 0px;
        height: 0px;
        position: absolute;
        left: -10px;
        top: 0px;
        border-right: 10px solid #117aa9;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
    }
    #full_content #main_content.page_lenta #article {
        padding: 0 10px;
        margin: 0;
    }
    #main_content .feed__content-link {
        vertical-align: middle;
        padding-top: 0px;
    }
}
@media(max-width: 480px) {
    #main_content .feed img {
        width: 100%;
        height: 100%;
        max-height: none !important;
    }
}
/* end адаптивки ленты */

#scrtop {
    position: fixed;
    right: 27px;
    bottom: 200px;
    cursor: pointer;
    opacity: 0.8;
    display: none;
    z-index: 999999;
}

#scrtop:hover {
    opacity: 1;
}

#scrtop div {
    font: 15px Tahoma;
    color: #0171a1;
    text-transform: uppercase;
    text-align: center;
    line-height: 0px;
}

@media(max-width: 920px) {
    #scrtop {
        right: 60px;
        bottom: 100px;
    }
}
@media(max-width: 480px) {
    #scrtop {
        /*right: 40px;*/
        /*bottom: 50px;*/
        display: none;
    }
}
@media(max-width: 330px) {
    #scrtop {
        /*right: 10px;*/
        /*bottom: 20px;*/
    }
}

.page_lenta .firm-title .text {
    font: 24px Tahoma;
    text-transform: uppercase;
    margin: 12px 0 33px 0;
}

.feed__cont .depth_1 {
    margin-left: 20px;
}

.feed__cont .depth_2 {
    margin-left: 60px;
}

.feedCommentsConteiner textarea,
.feedCommentsConteinerTopic textarea {
    width: 100% !important;
    max-width: 100%;
    font: 14px Tahoma;
    border: 1px solid #c0bfbf;
    /*color: #c0bfbf;*/
    height: 200px;
    padding: 15px 20px;
    margin-bottom: 15px;
}

.feed__cont .depth_3 {
    margin-left: 80px;
}

.feed__cont .depth_4 {
    margin-left: 1000px;
}

.feed__cont .depth_5 {
    margin-left: 120px;
}

span.feed__comment_item-name {
    color: #117aa9;
    font-style: normal;
    /*font-weight: 600;*/
    text-align: center;
    width: 123px;
    display: table-cell;
    border-right: 1px solid #e0dddd;
    padding: 10px;
    line-height: 18px;
    word-break: break-all;
    font-size: 16px;
}

span.feed__comment_item-date {
    color: #bab8b8;
    font: 12px Tahoma;
}

.feed__comment_item-content {
    margin-left: 123px;
    font: 13px Tahoma;
    color: #515050;
    font-style: italic;
    margin: 7px 0 0;
    display: table-cell;
    vertical-align: top;
    padding: 15px;
    padding-left: 20px !important;
    position: relative;
    padding-bottom: 45px;
}

.butComFeed,
.butComFeedTopic {
    background: none;
    padding: 2px 0px 2px 13px;
    color: #117aa9;
    font: 14px/20px Tahoma;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
    float: right;
}

.butComFeed:hover,
.butComFeedTopic:hover {
    text-decoration: underline;
}

.butComFeed:before,
.butComFeedTopic:before {
    /*content: '';*/
    background: url(../img/arrow_comment_reply.png) center center / 12px 12px no-repeat;
    width: 20px;
    height: 20px;
    padding: 0px 12px;
}

.feedComment,
.feedCommentTopic {
    padding: 10px 28px;
    color: white;
    font: 14px Tahoma;
    outline: none;
    border: none;
    cursor: pointer;
    float: right;
    background: #83bc37;
    position: relative;
}

.feedCommentLabel,
.feedCommentLabelTopic {
    padding: 6px;
    color: white;
    font: 14px Tahoma;
    outline: none;
    border: none;
    cursor: pointer;
    float: right;
    position: relative;
}

.feedCommentLabel:after,
.feedCommentLabelTopic:after {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-left: 10px solid #83bc37;
    border-top: 20px solid transparent;
    border-bottom: 17px solid transparent;
}

.feedComment:hover,
.feedCommentTopic:hover {
    text-decoration: underline;
}

.feed__cont .comment_item {
    border-bottom: 1px solid #e0dddd;
    margin-bottom: 10px;
}

.feedCommentsConteiner h2,
.feedCommentsConteinerTopic h2 {
    color: #6c6c6c;
    font: 14px Tahoma;
    font-style: italic;
    margin: 6px 0;
}

@media (max-width: 480px) {
    #main_content #main .comment_item img {
        width: 30px;
        height: auto;
    }
}

.feed__comment-title_com {
    font: 15px Tahoma;
    font-style: normal;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 600;
}

#main_content #main .all_comments {
    background: #e6e6e6;
    position: relative;
    top: -10px;
    padding: 18px 20px 42px;
}

#main_content #main .all_comments .comment_item {
    background: #f2f2f2;
    padding: 10px 20px 10px 0;
    margin: 0 0px 30px 84px;
    margin-bottom: 30px;
    position: relative;
    display: table;
    width: 82.5%;
}

.all_comments .comment_item:after {
    content: '';
    border-top: 25px solid #f2f2f2;
    border-left: 26px solid transparent;
    position: absolute;
    right: 20px;
    bottom: -24px;
}

#main_content .feed__comment_item-name img {
    width: 63px;
    height: 63px;
    border: 4px solid white;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
    float: none;
}

.feed__comment-line {
    border-top: 1px solid #c0bfbf;
    margin: 40px 90px 25px 80px;
}

.feedCommentsConteiner,
.feedCommentsConteinerTopic {
    margin: 0 90px 30px 80px;
}

.feed__comment-title_com_textar {
    margin-bottom: 20px;
}

.fotogallery_second a:hover img {
    border: 9px solid #83bc37;
}

h1.resetpass_title {
    font: 24px Tahoma;
    margin: 22px 0;
    font-weight: bold;
    text-transform: uppercase;
}

#main_content.single_all-forums #article {
    width: 100%;
}

.clear.butComFeedBottom {
    border-top: 1px solid #e0dddd;
    padding: 5px 0 0;
    position: absolute;
    bottom: 0;
    width: 94%;
}

@media(max-width: 1024px) {
    #main_content #main .all_comments .comment_item {
        background: #f2f2f2;
        padding: 10px 20px 10px 0;
        margin: 0 0px 30px 84px;
        margin-bottom: 30px;
        position: relative;
        display: inline-block;
        width: auto;
        margin-right: 90px;
    }
    span.feed__comment_item-name {
        min-width: 123px;
        padding: 10px;
        line-height: 18px;
        word-break: break-all;
    }
    .feed__comment_item-content {
        width: 100%;
    }
    .feed__comment_item-content iframe {
        width: 100%;
        height: auto;
        min-height: 300px;
    }
    .clear.butComFeedBottom {
        width: 94%;
    }
}

@media(max-width: 900px) {
    .feed__comment_item-content iframe {
        min-height: 200px;
    }
}

@media(max-width: 768px) {
    #main_content #main .all_comments .comment_item {
        margin: 0 0 30px;
        width: 100%;
    }
    .feed__comment_item-content iframe {
        min-height: 250px;
    }
    .feed__comment_item-content {
        display: block;
    }
    .feedCommentsConteiner,
    .feedCommentsConteinerTopic {
        margin: 0 0px 30px 80px;
    }
    .feed__comment-line {
        margin: 40px 0px 25px 0px;
    }
}

@media(max-width: 600px) {
    .feed__comment_item-content iframe {
        min-height: auto;
    }
}

@media(max-width: 480px) {
    .butComFeed,
    .butComFeedTopic {
        padding: 2px 10px;
        color: white;
        margin-top: 5px;
        background: #117aa9;
        display: block;
        float: none;
        width: 100%;
        position: relative;
    }
    .feed__comment_item-content {
        padding-bottom: 73px;
    }
    #main_content #main .comment_item .feed__comment_item-name img {
        width: 63px;
        height: 63px;
        display: inline-block;
    }
}

@media(max-width: 450px) {
    span.feed__comment_item-name {
        display: block;
        margin: 0 auto;
        border: none;
    }
    .feedCommentsConteiner,
    .feedCommentsConteinerTopic {
        margin: 0 0px 30px 0px;
    }
    .avatarCurComment {
        display: none;
    }
}

.feedCommentsConteiner,
.feedCommentsConteinerTopic {
    position: relative;
}

.avatarCurComment {
    position: absolute;
    left: -80px;
    top: 43px;
}

#main_content .avatarCurComment img {
    width: 63px;
    height: 63px;
    border: 4px solid white;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 0;
}

#main_content #main .feedOptionsForm-headers {
    text-align: right;
    font: 15px Verdana;
}

.nobefore:before {
    content: none !important;
}

/* Вывод последних 6 записей из форума->новости */
.forum_news-header {
    width: 100%;
    background: #006ba0;
    color: white;
    height: 52px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    font: 14px Tahoma;
    font-weight: bold;
    margin-top: 33px;
}

.forum_news-header_title {
    font-size: 17px;
    text-transform: uppercase;
}

.forum_news-header_link {
    padding-right: 15px;
}

.forum_news-header_link:after {
    content: '';
    background: url(../img/r-link.png) no-repeat;
    padding: 0px 4px;
    position: relative;
    top: 2.7px;
    left: 9px;
}

.forum_news-header_link:hover {
    text-decoration: underline;
}

.forum_news-header_title:before {
    content: '';
    background: url(../img/mp.png) no-repeat;
    padding: 0px 17px;
}

.forum_news-date {
    font: 12px Tahoma;
    color: rgb(121, 121, 121);
    margin-bottom: 9px;
}

#forum_news ul {
    padding: 11px 9px;
}

.forum_news-block {
    width: 31%;
    display: inline-block;
    font: 14px Tahoma;
    border-bottom: 1px solid rgb(221, 219, 220);
    margin: 3px 10px;
    vertical-align: top;
}

.forum_news-block_one {
    border-right: 1px solid rgb(221, 219, 220);
    margin: 7px -14px 13px -9px;
    padding: 0 26px;
}

.forum_news-block:nth-child(n+4) {
    border-bottom: none;
}

#forum_news_sidebar .forum_news-block:nth-child(n+4) {
    border-bottom: 1px solid rgb(221, 219, 220);
}

#forum_news_sidebar .forum_news-block:last-child {
    border-bottom: none;
}

.forum_news-block:nth-child(3n+3) .forum_news-block_one {
    border-right: none;
}

#forum_news {
    background: #efefef;
}

.forum_news-image img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.forum_news-link {
    text-align: right;
    color: #00699e;
    font-size: 13px;
    font-weight: bold;
}

.forum_news-title {
    font-size: 14px;
    min-height: 56px;
    padding: 5px 0 0;
    font-weight: bold;
}

.forum_news-link a:hover {
    text-decoration: underline;
}

.forum_news-image img:hover {
    /* transform: scale(1.01); */
    /* transition: 0.5s; */
    border: 2px solid #006ba0;
}

.forum_news-title a:hover {
    text-decoration: underline;
}

@media(max-width: 988px) {
    .forum_news-block {
        margin: 3px 9px;
    }
}

@media(max-width: 903px) {
    .forum_news-block {
        margin: 3px 8px;
    }
    .forum_news-block_one {
        margin: 7px -12px 13px -9px;
    }
}

@media(max-width: 817px) {
    .forum_news-block {
        margin: 3px 7px;
    }
    .forum_news-block_one {
        margin: 7px -10px 13px -9px;
    }
}

@media(max-width: 731px) {
    .forum_news-block {
        margin: 3px 6px;
    }
    .forum_news-block_one {
        margin: 7px -10px 13px -6px;
    }
}

@media(max-width: 645px) {
    .forum_news-block {
        margin: 3px 5px;
    }
    .forum_news-block_one {
        margin: 7px -8px 13px -4px;
    }
}

@media(max-width: 560px) {
    .forum_news-block {
        width: 46%;
    }
    .forum_news-block {
        border-bottom: 1px solid rgb(221, 219, 220);
    }
    .forum_news-block:nth-child(n+5) {
        border-bottom: none;
    }
    .forum_news-block:nth-child(n+4) {
        border-bottom: 1px solid rgb(221, 219, 220);
    }
    .forum_news-block .forum_news-block_one {
        border-right: 1px solid rgb(221, 219, 220);
    }
    .forum_news-block:nth-child(3n+3) .forum_news-block_one {
        border-right: 1px solid rgb(221, 219, 220);
    }
    .forum_news-block:nth-child(2n+2) .forum_news-block_one {
        border-right: none;
    }
    #forum_news ul {
        padding: 11px 0px 11px 9px;
    }
}

@media(max-width: 410px) {
    #forum_news ul {
        padding: 11px 38px 11px;
        width: 100%;
    }
    .forum_news-block {
        width: 100%;
        margin: 0;
        border-bottom: 1px solid rgb(221, 219, 220) !important;
        padding: 10px 0px;
    }
    .forum_news-block_one {
        margin: 7px -8px 13px -4px;
        margin: 7px 0;
        border-right: none !important;
        padding: 0;
    }
    .forum_news-block:last-child {
        border-bottom: none !important;
    }
}
/* END Вывод последних 6 записей из форума->новости */

/* news sidebar */
#forum_news_sidebar {
    background: #efefef;
}

#forum_news_sidebar {
    width: 238px;
    position: absolute;
    right: 0;
    top: 66px;
    z-index: 999;
}

#forum_news_sidebar .forum_news-block.forum_news_sidebar-block {
    width: 92%;
    margin: 8px 10px;
}

#forum_news_sidebar .forum_news-image img {
    width: 76px;
    height: 76px;
    object-fit: cover;
    float: left;
    margin-right: 10px;
}

#forum_news_sidebar .forum_news-title {
    font-size: 12px;
    padding: 0;
}

#forum_news_sidebar .forum_news-link {
    text-align: right;
    color: #00699e;
    font-size: 13px;
    clear: both;
    font-weight: bold;
    margin: 7px 0;
}

#forum_news_sidebar .forum_news-header {
    margin-top: 0px;
    padding: 0 16px 0 40px;
}

@media(max-width: 1000px) {
    #forum_news_sidebar {
        display: none;
    }
}
/* END news sidebar */

.feed__comment-view_com {
    float: right;
}

#main_content .thanks_forum {
    float: left;
    width: 100%;
    margin-top: 15px;
}

#main_content .thanks_forum_button {
    padding: 4px 0px 0px 19px !important;
    background: url(../img/white_smile.png) center left 10px no-repeat #0171a1;
    color: white;
    width: 150px;
    float: right;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

#main_content .thanks_forum span {
    color: #c8c6c7 !important;
    font-size: 12px !important;
    font-weight: bold;
    /*vertical-align: text-top;*/
}

#main_content .thanks_forum span.user-count-thanks-forum {
    color: #0171a1 !important;
    font-weight: bold;
}

#main_content .thanks_forum .user-doprow-thanks-forum {
    font-weight: normal;
}

#main_content .thanks_forum_users {
    background: url(../img/blue_smile.png) center left no-repeat;
    padding: 4px 0px 4px 25px;
    vertical-align: text-top;
}

#main_content .thanks_forum_users.none {
    background: none;
}

#main_content .thanks_forum_users.action {
    background: url(../img/blue_smile.png) center left no-repeat;
}

#main_content .bbpl_button_wrapper {
    width: auto;
    height: 25px;
    text-align: center;
    margin: 0;
    border: 1px solid #dedede;
    font: 17px Tahoma;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 11px;
}

#main_content .bbpl_button_span {
    width: 22px;
    display: block;
    background: #dedede;
    font-size: 17px !important;
    font-weight: bold;
    color: #0171a1 !important;
}

.bbpl_button.liked span {
    margin-right: 0px !important;
}

/* 01.12.2016 */
#post_field_block {
    width: 100%;
    display: block;
    min-height: 35px;
    line-height: normal !important;
}
.post_field_block-item {
    margin: 0 12px 0 -12px;
    padding: 0 16px 0 0;
    display: inline-flex;
    align-items: center;
    position: relative;
    vertical-align: top;
    line-height: normal !important;
    font-size: 11px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.post_field_block-item img {
    z-index: 1;
}
.post_field_block-item span {
    background: #dedede;
    display: inline-block;
    float: right;
    padding-left: 18px;
    padding-right: 18px;
    margin-left: -11px;
    height: auto;
    max-height: 35px;
}
.post_field_block-number {
    position: relative;
    z-index: 2;
    color: white;
    width: auto;
    height: 35px;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    background: #efd22e;
    margin: 0 10px;
    padding-left: 5px !important;
}
.post_field_block-number:before {
    content: '';
    /*background: url(../img/post_block_3.png) center left no-repeat;*/
    border: 18px solid transparent;
    width: 0;
    height: 0;
    background: none;
    border-right: 9px solid #efd22e;
    position: absolute;
    top: 0;
    left: -27px;
}
.post_field_block-number:after {
    content: '';
    /* background: url(../img/post_block_3.png) center left no-repeat; */
    border: 18px solid transparent;
    width: 0;
    height: 0;
    background: none;
    border-left: 9px solid #efd22e;
    position: absolute;
    top: 0;
    right: -27px;
}
.post_field_block-number.number_2:after {
    content: '';
    /*background: url(../img/post_block_3.png) center left no-repeat;*/
    border-left-color: #0171a1;
}
.post_field_block-number.number_2:before {
    content: '';
    /*background: url(../img/post_block_3.png) center left no-repeat;*/
    border-right-color: #0171a1;
}
.post_field_block-number.number_2 {
    background: #0171a1;
}
.post_field_block-ball span, .post_field_block-time span {
    padding-top: 4px;
    padding-bottom: 5px;
}
.post_field_block-price:after {
    content: '';
    border-top: 17px solid #dedede;
    border-bottom: 18px solid #dedede;
    border-right: 10px solid transparent;
}
.post_field_block-ball:after, .post_field_block-time:after {
    content: '';
    border-top: 11px solid #dedede;
    border-bottom: 11px solid #dedede;
    border-right: 10px solid transparent;
}
.post_field_block-price span {
    height: 35px;
}
.post_field_block-price-title {
    color: #aaa;
    font-size: 11px;
    height: auto !important;
    line-height: 19px !important;
}
.post_field_block-price-mon {
    color: black;
    font-size: 14px;
    height: auto !important;
    line-height: 11px !important;
}

#main_content #toc_container {
    padding: 25px;
}

#main_content #article .content_text #toc_container {
    padding-left: 25px;
    margin-left: -17px;
}

.toc_list {
    width: 65%;
    border-right: 1px solid #ccc;
    float: left;
}

#toc_container a.tocMyLink {
    float: right;
    vertical-align: top;
    font: 13px Tahoma;
    background: url(../img/new_blog_ico.png) center left 5px no-repeat #83be28;
    padding: 10px 10px 10px 35px;
    color: white !important;
    position: relative;
    margin-right: 11px;
    margin-top: 1em;
}

#toc_container a.tocMyLink:after {
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 11px solid #83be28;
    position: absolute;
    right: -11px;
    top: 0;
}

#toc_container p.toc_title {
    font-size: 20px;
}

#main_content .d4p-bbt-quote-link, 
#main_content .bbp-topic-spam-link, 
#main_content .bbp-reply-spam-link {
    width: 25px !important;
    background: #0171a1 !important;
    color: white !important;
    height: 25px !important;
    font-size: 17px !important;
    padding: 2px 10px !important;
}
#main_content a.d4p-bbt-quote-link {
    left: 0;
}

#main_content a.d4p-bbt-quote-link i {
    margin-top: 0px;
    margin-left: 0px;
    font-size: 13px;
    position: relative;
    top: -2px;
    left: -3px;
}

#main_content .d4p-bbt-quote-link:hover, 
#main_content .bbp-topic-spam-link:hover, 
#main_content .bbp-reply-spam-link:hover,
#main_content .bbpl_button_span:hover {
    background: #686868 !important;
}

.thanks_forum_button:hover {
    background-color: #686868 !important;
}

.bbpl_button_wrapper .bbpl_number {
    font-weight: bold;
    width: 22px;
}

#main_content .bbpl_button_wrapper {
    position: relative;
    top: 18px;
}

#main_content .d4p-bbt-quote-link, 
#main_content .bbp-topic-spam-link, 
#main_content .bbp-reply-spam-link {
    position: relative;
    top: 18px;
}

#main_content .d4p-bbt-quote-link {
    top: 23px;
}

#main_content #main .d4p-bbt-quote-link {
    display: none !important;
}

#main_content #main .d4p-bbt-quote-link.nodelete {
    display: block !important;
}

#main_content .bbp-topic-spam-link,
#main_content .bbp-reply-spam-link {
    margin-left: 10px !important;
}

.tooltip_favorite {
    display: none;
    position: absolute;
    left: 0;
    bottom: 10px;
    background: white;
    /* border: 1px solid #ccc; */
    padding: 4px 20px;
    /* border-radius: 5px; */
    background: #81bb34;
    color: white;
    box-shadow: 4px 3px 2px 1px #ccc;
}

.tooltip_favorite:before {
    content: '';
    background: transparent;
    border: 7px solid transparent;
    border-top: 7px solid #81bb34;
    position: absolute;
    bottom: -13px;
    left: 6px;
}

.bottom_post_buttons li,
#main_content .ideas_block {
    position: relative;
}

.delete_favorites_profile {
    display: none;
    position: absolute;
    top: 0;
    background: #89bf41;
    outline: none;
    border: none;
    right: 5px;
    font: 18px sans-serif;
    font-weight: bold;
    padding: 5px 5px 4px;
    transform: scaleX(1.4);
    color: white;
    cursor: pointer;
}

.delete_favorites_profile:hover {
    background: #7fd807;
}

/* 16.12.2016 */
.MyBlogLabel:before {
    background-color: #9e9e9e !important;
}