@media (max-width: 720px) {	
	.labels,.none_face{
		display:none;
	}
	#comment_form input[type="text"],
	#comment_form textarea, .inputs,
	.submit_button input
	{
		width: 100%;
	}
	.question_body{
		margin-left: 0px;
	}
	div.question_title{
		min-width: 100%;
	}
	div.author,div.question_text,div.answer_text,.expert_answer_body,
	.comment_text{
		font: 14px/20px OpenSans;
	}
	.expert_answer_body{
		padding: 0px;
	}
	
	#filter_for_firm,.select {
		display: block;
	}
	
	.select {
		width: 100%;
		padding: 10px 16px 10px 16px;
	}	
	.select select{
		width: 49%;
		margin: 0;
	}
	.select select:first-child{
		float:left;
	}
	.select select:last-child{
		float:right;
	}	
	.input{
		width: 100%;
		padding: 10px 15px 10px 16px;
	}		
	.firms_main .firm{
		width: 100%;
		font: 13px/14px 'OpenSans';
	}
	.firms_main .firm:nth-child(2n) {
		margin-left: 0;
	}
	
	.firm_inside,.navigate_firm{
		text-align: center;
	}
	
	.firm_inside .firm_body{
		text-align: left;
		margin:0;
	}
	
	.firm_inside .firm_image{
		padding: 0 20px;
		margin-bottom: 10px;
	}
	
	.navigate_firm ul{
		margin:0;
	}
	
		
	.services_list table thead{
		font: 16px/16px 'OpenSansBold';
	}
	.services_list table tbody, .info_blocks.post_page .content_text, .info_blocks .msg_err{
		font: 15px/16px OpenSans;
	}
	
	.services_list table tbody tr td{
		padding: 20px 0px;
	}
	
	.firm_inside .firm_image,.firm_inside .firm_body{
		display: block;
		vertical-align: top;
	}
	.navigate_firm {
		margin-bottom: 20px;
	}
	
	.navigate_firm ul li{
		display:inline-block;
		vertical-align: top;
	}
	
	.spring{
		display: none;
	}
	#front_firms{
		margin-left: 0;
	}

	.block_remonts .remont_body{
		padding-left: 15px;
	}

	#reg_firm input[type="text"],#reg_firm input[type="password"],#reg_firm select,
	#reg_firm textarea,#reg_firm input[type="email"]{

		width: 100%;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	
	.questionsFront__item__right {
		display: none;
	}
	
	.questionsFront__item__left {
		float: right;
		border-right: none;
		border-left: 1px solid #ababab;
		width: 87px;
		font-size: 12px;
		padding-top: 6px;
	}
	
	.questionsFront__item:nth-child(2n) .questionsFront__item__left {
		border: none;
	}
	
	.questionsFront__item__center {
		margin-left: 3px;
		margin-right: 90px;
		padding-top: 18px;
	}
	
	.questionsFront__item__descr {
		display: none;
	}
	
	.questionsFront__item__tags {
		display: none;
	}
	
	.questionsFront__item__bottom {
		text-align: left;
		font: 13px/20px Tahoma;
	}
	
	.questionsFront__title {
		margin-top: -10px;
		margin-bottom: 15px;
		font: 18px/24px Tahoma;
		margin-left: 3px;
	}
	
	.questionsFront__item__title {
		font: 16px/normal Tahoma;
		font-weight: normal;
	}
	
	.questionsFront__item__left b {
		margin-bottom: 3px;
	}
	
	.questionsFront__item__views {
		margin-bottom: 5px;
	}
	
	.questionsFront__item {
		height: 114px;
		margin-bottom: 2px;
	}
}

/* new */
.last_answer {
    width: 100%;
    float: none;
}

.popular {
    float: none;
    width: 100%;
}

.date_answer {
    width: 81%;
    clear: none;
    float: none;
    display: flex;
}

.last_answer div#sidebar_comments {
    min-height: 96px;
}

@media (max-width: 400px) {
	.date_answer {
		width: 100%;
    	justify-content: center;
	}
	.count_answer {
    	width: 100%;
    	float: none;
    	position: static;
	}
}

.single_all-forums .questionsFront__title {
    margin-top: 10px;
}