Заголовок

.wp-polls .title {
    font: 18px/18px Verdana;
    margin-bottom: 18px;
    font-weight: bold;
    color: #006c9e;
}

label

.wp-polls-ans ul > li > label {
    cursor: pointer;
    font: 18px/normal Verdana;
    position: relative;
    top: 6px;
    padding-left: 17px;
}

.wp-polls-ans ul > li > label:before {
    content: '123';
    font-size: 0px;
    width: 31px;
    height: 31px;
    background: #fff;
    display: block;
    float: left;
    outline: 1px solid #797979;
    margin-top: 2px;
    cursor: pointer;
}

.wp-polls-ans ul > li > input[type=radio]:checked + label:before {
    border: 10px solid #fff;
    background-color: #006c9e;
    width: 11px;
    height: 11px;
}